// .example-stretched-tabs {
//     max-width: 800px;
// }
$color-filter: white;
article {
    z-index: 1;
}
:host ::ng-deep .mat {
    &-tab-header-pagination-before,
    &-tab-header-pagination-after {
        @media (max-width: 768px) {
            display: none !important;
        }
    }
    &-tab-label {
        background-color: $color-filter;
        color: #4b4b4b;
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
        border-radius: 7px;
        opacity: 1;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.5px;
        padding: 13px 20px;
        margin: 0 4px;
        margin-bottom: 4px;
        min-width: 130px;
        height: auto;
        font-weight: bold;
        @media (max-width: 768px) {
            min-width: 77px;
            height: auto;
            font-size: 10px;
            padding: 7px;
        }
        &:hover {
            color: #df0c30;
        }
        &-active {
            border-radius: 7px 7px 0 0;
            color: #df0c30;
            font-weight: bold;
            .mat-tab-label-content > svg > path {
                fill: #df0c30;
            }
        }
        &:hover > .mat-tab-label-content > svg > path {
            fill: #df0c30;
        }
        &-content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            & > svg {
                @media (max-width: 768px) {
                    height: 12px;
                }
            }
        }
    }
    &-ink-bar {
        height: 4px;
        background-color: $color-filter !important;
    }
    &-tab-header {
        border-bottom: 0px;
    }
    &-tab-body {
        background: $color-filter;
        box-shadow: 0px 1px 8px rgba(122, 88, 88, 0.05);
        padding: 35px 43px;
        border-radius: 7px;
        @media (max-width: 768px) {
            padding: 7px;
        }
        &-wrapper {
            overflow: inherit;
            z-index: 0;
        }
    }
}

.banner {
    width: 100%;
    height: 540px;
    padding: 0 !important;
    position: relative;
    overflow: inherit;
    display: flex;
    align-items: flex-end;
    & > .content {
        top: 0;
        height: 440px;
        position: absolute;
        max-width: 100%;
        width: 100%;
        & img {
            position: absolute;
            object-fit: cover;
            -o-object-position: top;
            object-position: top;
            height: 100%;
            max-width: 100%;
            width: 100%;
        }
    }
}
