.titleSuperior {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #506370;
    padding-top: 30px;
    text-align: center;
}

.subTitleConf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    align-items: center;
    letter-spacing: 0.18px;
    color: #4B4B4B;
    padding-bottom: 30px;
}

.marginBot60 img {
    margin-top: 60px;
}

.card-body {
    padding: 1rem 2rem !important;
    &.rowBody {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .leftCard {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.1px;
        color: #4B4B4B;
    }
    .rightCard {
        display: flex;
        align-items: baseline;
        font-family: Montserrat;
        font-style: normal;
        font-size: 14px;
        line-height: 18px;
        text-align: right;
        letter-spacing: 0.1px;
        color: #4B4B4B;
        .boldFont {
            font-size: 20px;
            font-weight: bold;
            margin-left: 5px;
        }
    }
    .titleAsegurado {
        font-family: Montserrat;
        font-weight: bold;
        font-size: 20px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.1px;
        color: #4B4B4B;
        padding-bottom: 10px;
    }
    .fechaAsegurado {
        font-family: Montserrat;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.15px;
        color: #83898F;
        padding-bottom: 10px;
        &.lessPad {
            padding-bottom: 0;
        }
    }
    .descripAsegurado {
        font-family: Montserrat;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.1px;
        color: #83898F;
    }
}

.safetyPay {
    display: flex;
    flex: 1 1 100%;
    flex-wrap: wrap;
    .rowSafety {
        display: flex;
        flex: 1 1 100%;
        justify-content: center;
        &.padBottom50 {
            padding-bottom: 50px;
        }
        &.padBottom10 {
            padding-bottom: 10px;
        }
        .columnSaf {
            &.titleSafety {
                font-family: Open Sans;
                font-weight: bold;
                font-size: 24px;
                line-height: 36px;
                color: #009AED;
                padding-bottom: 10px;
            }
            &.descripSafety {
                font-family: Open Sans;
                font-size: 18px;
                line-height: 27px;
                display: flex;
                align-items: center;
                letter-spacing: 0.18px;
                color: #4B4B4B;
                padding-bottom: 37px;
                @media (max-width: 640px) {
                    padding-bottom: 15px;
                }
            }
            &.colCenter {
                display: flex;
                flex: 1 1 100%;
                flex-wrap: wrap;
                text-align: center;
                margin: 20px;
                background: #ffffff;
                padding: 42px;
                border: 1px solid #E4E5E7;
                box-sizing: border-box;
                border-radius: 10px;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
            }
            .iconCard {
                padding-bottom: 40px;
                @media (max-width: 640px) {
                    padding-bottom: 15px;
                }
            }
            .boxBank {
                width: 220px;
                background: #F7F7F7;
                border: 1px solid #E4E5E7;
                box-sizing: border-box;
                border-radius: 10px;
                height: 88px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 50px;
                // cursor: pointer;
                // transition: all 0.3s;
                &.lessMargin {
                    margin-right: 0px;
                }
                // &:hover {
                //     background: #ffffff;
                // }
                &.selected {
                    background: #ffffff;
                }
            }
            .headPaso {
                height: 80px;
                .number {
                    display: flex;
                    background: #009AED;
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                    color: #ffffff;
                    align-items: center;
                    justify-content: center;
                    font-family: 'Open Sans';
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 27px;
                }
            }
            .textPaso {
                font-family: Open Sans;
                font-size: 18px;
                line-height: 27px;
                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: 0.18px;
                color: #4B4B4B;
                flex-direction: column;
            }
        }
    }
}

.card {
    &.padCard {
        padding: 30px 60px;
    }
    .rowCard:first-child {
        padding-bottom: 20px;
    }
    .rowCard {
        display: flex;
        flex: 1 1 100%;
        padding: 7px 0;
        .columnCard {
            display: flex;
            flex: 1 1 100%;
            font-family: Montserrat;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: #4B4B4B;
            &.fontOpen {
                font-family: Open Sans;
                font-weight: bold;
                font-size: 18px;
            }
            &.boldCol {
                font-weight: bold;
            }
            .iconCard {
                padding: 0 10px 0 0;
            }
        }
    }
}

.titleConf {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #4B4B4B;
}

.padBancaInt {
    height: 90px;
}

.bancaInt {
    display: flex;
    justify-content: center;
    margin-top: -85px;
    .bodyBanca {
        width: 632px;
        height: 448px;
        box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .cardBlue {
            background: #009AED;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 45px 0;
            border-radius: 10px 10px 0 0;
            flex: 1 1 100%;
            position: relative;
            border-bottom: 2px dashed #ffffff;
            z-index: 3;
            .descrip {
                font-family: Open Sans;
                font-size: 18px;
                line-height: 27px;
                display: flex;
                align-items: center;
                letter-spacing: 0.18px;
                color: #FFFFFF;
                &.Bold {
                    font-weight: bold;
                }
            }
            .number {
                font-family: Open Sans;
                font-weight: bold;
                font-size: 65px;
                line-height: 90px;
                align-items: center;
                letter-spacing: -0.5px;
                color: #FFFFFF;
                padding-top: 20px;
            }
            .circle {
                position: absolute;
                width: 42px;
                height: 42px;
                background: #F7F7F7;
                border-radius: 21px;
                &.leftPos {
                    left: -21px;
                    bottom: -21px;
                }
                &.rightPos {
                    bottom: -21px;
                    right: -21px;
                }
            }
            .sombraBlue {
                position: absolute;
                &.int1 {
                    top: -13px;
                    z-index: 1;
                    width: auto;
                    left: 20px;
                    right: 20px;
                    height: 13px;
                    border-radius: 10px 10px 0 0;
                    background: #009AED;
                    opacity: 0.5;
                    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.05);
                }
                &.int2 {
                    top: -21px;
                    z-index: 0;
                    width: auto;
                    left: 30px;
                    right: 30px;
                    height: 21px;
                    background: #009AED;
                    opacity: 0.2;
                    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.05);
                    border-radius: 10px 10px 0 0;
                }
            }
        }
        .cardRed {
            background: #f21037;
            border-radius: 0px 0px 10px 10px;
            flex: 1 1 100%;
            height: 118px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 30px;
            .descrip {
                font-family: Open Sans;
                font-size: 18px;
                line-height: 27px;
                align-items: center;
                letter-spacing: 0.18px;
                color: #FFFFFF;
            }
            .hora {
                font-family: Open Sans;
                font-weight: bold;
                font-size: 38px;
                line-height: 72px;
                align-items: center;
                letter-spacing: -0.5px;
                color: #FFFFFF;
                display: flex;
                .iconCard {
                    display: flex;
                    margin-right: 20px;
                }
            }
            .fecha {
                font-family: Open Sans;
                font-weight: bold;
                font-size: 18px;
                line-height: 27px;
                align-items: center;
                letter-spacing: 0.18px;
                color: #FFFFFF;
            }
        }
    }
}

@media (max-width: 640px) {
    .titleSuperior {
        font-size: 16px;
    }
    .imgViewMovile {
        width: 100%;
    }
    .subTitleConf {
        font-size: 14px;
        line-height: 22px;
    }
    .bancaInt {
        .bodyBanca {
            width: 90%;
            height: 320px;
            .cardBlue {
                padding: 20px 0;
                .descrip {
                    font-size: 14px;
                }
                .number {
                    font-size: 45px;
                    line-height: 65px;
                    padding-top: 0;
                }
            }
            .cardRed {
                padding-top: 10px;
                .descrip {
                    font-size: 14px;
                }
                .hora {
                    font-size: 24px;
                    line-height: 45px;
                }
                .fecha {
                    font-size: 14px;
                    padding: 0 20px;
                    text-align: center;
                }
            }
        }
    }
    .titleSafety {
        font-size: 14px !important;
    }
    .descripSafety {
        font-size: 12px;
        text-align: center;
    }
    .rowSafety {
        flex-wrap: wrap;
        justify-content: space-evenly!important;
        .boxBank {
            margin-right: 0!important;
            width: 80px!important;
            padding: 0!important;
            height: 40px!important;
            img {
                width: 80%;
            }
        }
        .colMobile {
            max-width: 43%!important;
        }
        .textPaso {
            font-size: 12px!important;
        }
    }
    .titleConf {
        font-size: 14px!important;
    }
    .columnSaf.colCenter {
        margin: 10px!important;
        padding: 20px!important;
        .headPaso {
            height: 50px!important;
        }
    }
    .viewMobile {
        margin-left: 0 !important;
        width: 100% !important;
    }
}

.bCard {
    .bCardHead {
        height: 86px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Open Sans;
        font-weight: bold;
    }
    .button {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.5px;
        text-transform: capitalize;
        color: #009AED;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.card {
    margin-bottom: 20px;
    justify-content: center;
    &_ {
        text-align: center;
        & .optionm {
            background: rgba(235, 235, 235, 0.4);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            cursor: pointer;
            padding: 0 10px;
            border: 1px solid rgba(235, 235, 235, 0.4);
            transition: all 0.3s ease;
            flex-wrap: wrap;
            & .dot {
                height: 20px;
                width: 20px;
                background: #fff;
                border-radius: 50%;
                position: relative;
                border: 1px solid #83898f;
                &::before {
                    position: absolute;
                    content: "";
                    top: 3px;
                    left: 3px;
                    width: 12px;
                    height: 12px;
                    background: #0069d9;
                    border-radius: 50%;
                    opacity: 0;
                    transform: scale(1.5);
                    transition: all 0.3s ease;
                }
            }
            &>span {
                font-size: 12px;
                font-family: "Open Sans";
                display: block;
                width: 100%;
                color: #4b4b4b;
            }
        }
        label {
            font-size: 12px;
            font-family: "Open Sans";
            display: block;
            padding-bottom: 0;
        }
    }
    &.cupon {
        & .card-header {
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: white;
            background: #1eaea5;
            font-family: "Montserrat";
        }
        input {
            font-family: "Montserrat";
            font-size: 14px;
            border: .5px solid #83898F;
            &:placeholder {
                font-family: "Montserrat";
                font-size: 14px;
            }
        }
    }
    &.pasajeros {
        border-radius: 10px;
        & .card-header {
            border-radius: 10px 10px 0 0;
        }
        .card {
            &-header {
                box-shadow: none;
            }
        }
    }
    &-header {
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
        font-size: 18px;
        color: #4b4b4b;
        font-weight: 600;
        z-index: 1;
        white-space: pre;
        line-height: 36px;
        h2 {
            font-weight: bold;
            margin-bottom: 0;
        }
        span {
            color: #4b4b4b;
            font-family: "Montserrat";
            font-size: 14px;
            font-weight: 600;
        }
    }
    &-center {
        background: #009aed;
        width: 80%;
        margin: 0 auto;
        height: 71px;
        flex-direction: column;
        justify-content: center;
        strong {
            font-family: "Montserrat";
            color: white;
            font-size: 30px;
            font-weight: bold;
        }
        span {
            font-family: "Montserrat";
            color: white;
            font-size: 12px;
            font-weight: normal;
        }
    }
    &-body {
        .input-group {
            & input {
                border: .5px solid #83898F;
                border-right: 0px;
                &:focus {
                    border: .5px solid #83898F!important;
                    border-right: 0px!important;
                }
            }
            & label.input-group-text {
                background: white;
                border: .5px solid #83898F;
                border-left: 0px;
                & .mat-icon {
                    color: #B9BCBF;
                }
            }
        }
        h {
            &1 {
                font-size: 18px;
                font-family: "Open Sans";
            }
        }
        .viajero {
            a {
                color: red;
                text-decoration: none;
                &.ver {
                    color: #DF0C30 !important;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
            h {
                &1 {
                    font-size: 18px;
                    font-family: "Open Sans";
                }
                &3 {
                    line-height: 12px;
                    font-size: 12px;
                    font-family: "Montserrat";
                    margin-bottom: 0;
                    color: #4b4b4b;
                }
            }
            span {
                font-size: 12px;
                font-family: "Montserrat";
                font-weight: bold;
            }
            .destinos {
                color: #009aed;
                font-size: 14px;
                font-weight: 500;
            }
            span.destinos {
                font-weight: 600!important;
            }
            .equipaje {
                & svg {
                    margin-right: 7px;
                }
                .d-inline-flex {
                    height: 25px;
                    position: relative;
                }
                ._not:after {
                    content: url(../../../../assets/comprar/x.png);
                    position: absolute;
                    bottom: -30%;
                    right: 20%;
                }
            }
            .escala {
                font-size: 10px;
                font-family: "Montserrat";
                font-weight: 700;
                &_line {
                    border-top: 0.5px dashed #83898f;
                }
                &_punto {
                    background: white;
                    border: 1px solid #f21037;
                    border-radius: 50%;
                    width: 10px;
                    height: 10px;
                    margin: auto;
                    margin-top: -5px;
                }
            }
        }
        span {
            color: #506370;
            font-family: "Montserrat";
            font-size: 12px;
            font-weight: 500;
        }
        box-shadow: none;
        // box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.16);
        a {
            //text-decoration: underline;
            font-size: 14px;
            color: #009aed;
            font-family: "Montserrat";
            &.btnBlue {
                background: #ffffff;
                border-radius: 3px;
                height: 59px;
                color: #ffffff;
                text-decoration: none;
                box-sizing: border-box;
                padding: 14px;
                font-family: Montserrat;
                font-weight: 500;
                font-size: 16px;
                display: flex;
                height: 50px;
                justify-content: center;
                border: 1px solid #009aed;
                box-sizing: border-box;
                border-radius: 3px;
                color: #009aed;
                cursor: pointer;
                transition: all 0.3s;
                &.active {
                    background: #009aed;
                    border: 1px solid #009aed;
                    box-sizing: border-box;
                    border-radius: 3px;
                    color: #ffffff;
                }
            }
            &.btnRed {
                font-family: Montserrat;
                font-weight: 600;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: 0.1px;
                color: #df0c30;
            }
        }
        .button {
            margin-top: 30px !important;
            width: 221px;
            margin: auto;
            border: 1px solid #009aed;
            background: white;
            border-radius: 3px;
            font-size: 12px;
            color: #009aed;
            font-family: "Montserrat";
            display: block;
            line-height: 45px;
            text-align: center;
            text-decoration: none;
            letter-spacing: 1px;
        }
        li {
            font-family: "Montserrat";
            font-weight: 500;
            font-size: 14px;
            margin-bottom: 20px;
            padding-right: 30px;
            padding-left: 30px;
            list-style: none;
            background-image: url(../../../../assets/comprar/check-bold.png);
            background-repeat: no-repeat;
        }
    }
}

.modal {
    &-content {
        // background: #54d834;
        border: 0;
        border-radius: 20px;
        &.best {
            background-color: #f00;
        }
    }
    &-header {
        // border-radius: 20px;
        color: white;
        padding: 1rem 2rem 1rem 2rem;
        h {
            &2 {
                font-family: "Open Sans";
                font-weight: bold;
                font-size: 24px;
                line-height: 36px;
                margin-bottom: 0;
            }
            &5 {
                font-family: "Montserrat";
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: 0.1px;
            }
        }
    }
    &-body {
        background: white;
        border-radius: 20px;
        padding: 2rem;
        overflow: auto;
        table {
            tr.row {
                border-top: 0;
                border-bottom: 1px solid #cfd1d3;
                td {
                    color: #4b4b4b;
                    border-top: 0;
                    border-left: 0;
                    padding: 5px 10px;
                    border-right: 1px solid #cfd1d3;
                    &:last-child {
                        border-right: 0;
                    }
                }
            }
        }
        .covid {
            //@include itemCard(bold, 16px, 20px, 0.5px, #1eaea5);
            display: block;
            text-transform: capitalize;
            &:first-child {
                font-size: 14px;
            }
        }
        .scrollBody {
            overflow-y: scroll;
            height: 355px;
        }
        .otroPlan {
            margin-top: 25px;
            font-weight: normal;
        }
        .planBox {
            font-family: "Open Sans";
            font-weight: bold;
            margin-left: 4px;
            button.planes {
                min-width: 124px !important;
            }
        }
        .footerPopup {
            padding-right: 15px;
            .borderRight {
                border-right: 1px solid #cfd1d3;
                font-family: "Open Sans";
                width: 22%;
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}