<section class="container mt-5">
    <aside class="row">
        <div class="col-md-6 col-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <ng-container *ngFor="let b of slider; let indice = index">
                        <button *ngIf="b.key" type="button" data-bs-target="#carouselExampleIndicators"
                            [attr.data-bs-slide-to]="indice" class="{{ b.class }}" aria-current="true"
                            aria-label="Slide 1"></button>
                    </ng-container>
                </div>
                <div class="carousel-inner">
                    <ng-container *ngFor="let i of slider">
                        <div *ngIf="i.key" class="aside__content carousel-item {{ i.class }}">
                            <img src="./assets/aside/{{ i.img }}" class="d-block w-100" alt="...">
                        </div>
                    </ng-container>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="row">
                <div class="col-12">
                    <ng-container *ngFor="let i of slider">
                        <div *ngIf="!i.key" class="aside__content_2">
                            <img src="./assets/aside/{{ i.img }}">
                        </div>
                    </ng-container>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </aside>
</section>