<section class="container mt-5">
    <aside class="row">
        <div class="col-6 pr-0">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div *ngFor="let slide of slider" class="aside__content carousel-item active">
                        <img src="./assets/aside/3-PlayaDelCarmen.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="aside__content carousel-item">
                        <img src="./assets/aside/3-PlayaDelCarmen.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="aside__content carousel-item">
                        <img src="./assets/aside/3-PlayaDelCarmen.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <!-- <div class="aside__content">
                <img src="./assets/aside/3-PlayaDelCarmen.jpg">
            </div> -->
        </div>
        <div class="col-6 pl-0">
            <div class="row">
                <div class="col-12">
                    <div class="aside__content_2">
                        <img src="./assets/aside/6-Orlando.jpg">
                    </div>
                    <div class="aside__content_2">
                        <img src="./assets/aside/6-Orlando.jpg">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">

                </div>
            </div>

        </div>
    </aside>
</section>