@import "/src/scss/variables";
aside {
    .col-md-6.col-12 {
        padding-right: 12px !important;
        padding-left: 0px;
        @media (max-width: 768px) {
            padding-left: 12px !important;
        }
        &:first-child {
            padding-right: 0px !important;
            padding-left: 12px !important;
            @media (max-width: 768px) {
                padding-right: 12px !important;
            }
        }
    }
    .carousel {
        height: 100%;
        .carousel-inner {
            height: 100%;
        }
    }
    .carousel-indicators {
        @media (max-width: 768px) {
            bottom: 22px;
        }
        button {
            border: 1px solid $white;
            background: transparent;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, .8);
            &.active {
                background: $white;
            }
        }
    }
    .aside {
        &__content {
            position: relative;
            width: 100%;
            border-right: 4px solid $gray_light;
            overflow: hidden;
            border-radius: 10px 0 0 10px;
            @media (max-width: 768px) {
                border-right: 0;
                height: 222px;
                margin-bottom: 20px;
                border-radius: 10px 10px 0 0;
            }
            &:first-child {
                border-radius: 10px 0 0 10px;
                height: 100%;
                @media (max-width: 768px) {
                    border-radius: 10px 10px 0 0;
                }
            }
            &>img {
                height: 100%;
                width: 100%;
            }
            &_2 {
                position: relative;
                width: 100%;
                border-radius: 0 0 10px 0;
                overflow: hidden;
                @media (max-width: 768px) {
                    border-radius: 0;
                }
                &:first-child {
                    border-bottom: 4px solid $gray_light;
                    overflow: hidden;
                    border-radius: 0 10px 0 0;
                    @media (max-width: 768px) {
                        border-radius: 0;
                    }
                }
                &>img {
                    width: 100%;
                }
            }
        }
    }
}

.carousel-control {
    &-prev,
    &-next {
        opacity: 1!important;
        &:hover {
            background: none;
        }
    }
    &-next-icon {
        transform: rotate(135deg);
        height: 0px;
        width: 0px;
        border: 16px solid;
        border-color: white transparent transparent white;
    }
    &-prev-icon {
        height: 0px;
        width: 0px;
        border: 16px solid;
        border-color: transparent white white transparent;
        transform: rotate(135deg);
    }
}

.pointer {
    cursor: pointer;
}