@use '/src/scss/colors';

::ng-deep {
	.custom-dialog-up > mat-dialog-container{
		padding: 0 !important;
	}
}
.flex-16 {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.flex-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal__flight {
	padding: 24px 32px;
    display: flex;
    flex-direction: column;
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
        padding-bottom: 26px;
		h4 {
			font-family: Open Sans;
			font-size: 20px;
			font-weight: 700;
			line-height: 28px;
			letter-spacing: -0.02em;
			color: colors.$neutral-900;
		}
		img {
			cursor: pointer;
		}
	}
	&__body {
		padding-right: 24px;
        padding-top: 10px;
		max-height: 480px;
		overflow-y: auto;
		@extend .flex-16;
		&__flight {
			@extend .flex-16;
			&__header {
				@extend .flex-row;
				span {
					font-family: Montserrat;
					font-size: 16px;
					font-weight: 400;
					line-height: 24px;
					letter-spacing: 0em;
					color: colors.$gris-900;
					&.type-flight {
						font-weight: 600;
					}
					&.duration {
						font-size: 14px;
						font-weight: 500;
						line-height: 20px;
						color: colors.$gris-700;
					}
				}
			}
			&__info {
				@extend .flex-16;
				&__airline {
					@extend .flex-16;
					flex-direction: row;
					align-items: center;
					span {
						font-family: Montserrat;
						font-size: 14px;
						font-weight: 400;
						line-height: 20px;
						letter-spacing: 0em;
						color: colors.$gris-900;
					}
				}

				&__segment {
					@extend .flex-16;
					gap: 0px;
					&__row {
						display: grid;
                        column-gap: 26px;
                        grid-template-columns: 69px 24px auto;
                        align-items: center;
                        img {
                            justify-self: center;
                        }
						min-height: 34px;
						span {
							font-family: Montserrat;
							font-size: 12px;
							font-weight: 600;
							line-height: 20px;
							letter-spacing: 0em;
							color: colors.$gris-600;
							@extend .flex-16;
							gap: 0px;
							&.bold {
								font-size: 14px;
								color: colors.$gris-800;
							}
							&.right {
								text-align: right;
							}
							&.regular {
								font-size: 14px;
								font-weight: 400;
								line-height: 20px;
								color: colors.$gris-800;
							}
						}
						.tag {
							padding: 0px 10px;
							border-radius: 50px;
							height: 20px;
							color: colors.$purple;
							font-family: Montserrat;
							font-size: 12px;
							font-weight: 600;
							line-height: 20px;
							letter-spacing: 0em;
							background: colors.$purple-bg;
							width: fit-content;
						}
					}
					&__dots {
						width: 1px;
						height: 34px;
						margin-left: 106px;
					}
				}

				&__change__plane {
                    display: grid;
                    column-gap: 24px;
                    grid-template-columns: auto 40px auto;
                    align-items: center;
                    background: colors.$gris-100;
                    width: fit-content;
                    min-height: 36px;
                    padding: 8px 15px;
                    border-radius: 12px;
                    img {
                        justify-self: center;
                    }
                    span{
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                        letter-spacing: 0em;
                        color:colors.$neutral-900;
                        &.bold{
                            font-weight: 600;
                        }
                        &.hour{
                            font-size: 12px;
                        }
                    }
				}

                &__bags{
                    padding: 0px 8px;
                    display: flex;
                    align-items: center;
                    gap:8px;
                    span{
                        font-family: Montserrat;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 20px;
                        letter-spacing: 0em;
                    }
                    img{
                        width: 20px;
                        height: 20px;
                    }
                }
			}
		}
		&__line {
			width: 100%;
			height: 0;
			border-top: 1px solid colors.$gris-600;
		}
	}

    &__footer{
        justify-self:flex-end;
        width: 100%;
        padding: 16px 0px;
        padding-bottom: 0px;
        @extend .flex-row;
        gap: 8px;
        h4{
            font-family: Open Sans;
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: -0.02em;
            color:colors.$neutral-900;
            margin-bottom: 0px;
        }
    }
	@media (min-width: 1199px) {
		min-width: 840px !important;
	}
}
