@use '/src/scss/colors';
label{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color:colors.$neutral-600;
    padding-bottom: 0;
    >a{
        font-family: Montserrat;
        color:colors.$blue-500;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-decoration: none;
        cursor: pointer;
        &:hover{
            color:colors.$blue-600;
        }
    }
}

.span__error{
    position: relative;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	top: -3px;
	color:colors.$red-400;
    margin-left: 25px;
}
