<div class="viewDocument marginTop40" [hidden]="hideCurrentPassword">
  <div class="personalDocument">
    <div class="headerPortlet">
      <div class="titleBoxRight">Seguridad</div>
      <div class="subtitleBoxRight">Crea una contraseña segura para mantener tus datos a salvo.</div>
    </div>
    <div class="content">
      <div class="rowContent">
        <div class="rowElement">
          <div class="passLabel marginRight10">
            Contraseña:
          </div>
          <span class="passText">
            **********
          </span>
        </div>
      </div>
      <div class="rowContent">
        <div class="btnAgregar" (click)="showPasswordChange()">
          Cambiar contraseña
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M14.1141 6.45754L11.4621 3.80629L12.5234 2.74579C12.9959 2.27329 14.0781 2.17954 14.6444 2.74579L15.1746 3.27604C15.7409 3.84229 15.6479 4.92454 15.1746 5.39779L14.1141 6.45754ZM13.0536 7.51879L5.62864 14.9438L2.18164 15.7388L2.97664 12.2918L10.4016 4.86679L13.0536 7.51879Z"
              fill="#009AED" />
          </svg>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="viewDocument marginTop40" [hidden]="!hideCurrentPassword">
  <div class="personalDocument">
    <div class="headerPortlet">
      <div class="titleBoxRight">Cambiar contraseña</div>
      <div class="subtitleBoxRight">Recuerda que debe contener 6 caracteres como mínimo, combinando letras y
        números.
      </div>
    </div>

    <form class="content" name="changePasswordForm" [formGroup]="changePasswordForm">

      <div class="rowContent">
        <div class="inputGroup" [ngClass]="{error : validateChangePasswordForm('currentPassword')}">
          <span class="">Contraseña actual</span>
          <input type="text" class="form-control" formControlName="currentPassword"
            placeholder="Ingresa tu contraseña actual.">

          <div class="textError" *ngIf="validateChangePasswordForm('currentPassword')">
            Ingresa tu contraseña actual
          </div>
        </div>
      </div>

      <div class="rowContent">
        <div class="inputGroup" [ngClass]="{error : validateChangePasswordForm('newPassword')}">
          <span class="">Nueva contraseña</span>
          <input type="text" class="form-control" formControlName="newPassword"
            placeholder="Ingresa una nueva contraseña.">

          <div class="textError" *ngIf="validateChangePasswordForm('newPassword')">
            Ingresa una nueva contraseña.
          </div>
        </div>

        <div class="inputGroup" [ngClass]="{error : validateChangePasswordForm('confirmPassword')}">
          <span class="">Repetir contraseña</span>
          <input type="text" class="form-control" formControlName="confirmPassword"
            placeholder="Ingresa la misma contraseña.">

          <div class="textError" *ngIf="validateChangePasswordForm('confirmPassword')">
            Ingresa la misma contraseña.
          </div>
        </div>
      </div>

      <div class="rowContent">
        <div class="btnPerfil primary" (click)="changePassword()">
          Cambiar
        </div>
      </div>
    </form>
  </div>
</div>