h1, h2 {
	font-family: Open Sans, sans-serif;
}

h1 {
	color: #b50a27;
}

img.img-fluid {
	object-position: right;
	object-fit: cover;

	@media (min-width: 992px) {
		min-height: 95vh;
	}

	@media (min-width: 1200px) {
		min-height: 85vh;
	}

	@media (min-width: 1441px) {
		min-height: 75vh;
	}

	&.vw-100 {
		max-height: 35vh;
	}
}

.container.banner-container {
	@media (min-width: 992px) {
		width: 42%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
	}
}

.card.form-card {
	height: fit-content;
	border-radius: 20px !important;
	box-shadow: 0 5px 5px #0000004d;
	margin-top: -10.5rem;

	.form-label {
		padding-bottom: 0 !important;
		font-weight: normal !important;
	}

	.form-control, .form-select {
		border: 1px solid #e4e5e7;
		border-radius: 5px;
		font-size: .75rem;

		@media (min-width: 1200px) {
			height: 45px;
			font-size: 1rem !important;
		}
	}

	::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
	.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
		background-color: #df0c30ff;
	}

	::ng-deep .mat-checkbox label {
		padding-bottom: 0 !important;
	}

	@media (min-width: 768px) {
		margin-top: -6.5rem;
	}

	@media (min-width: 992px) {
		position: absolute;
		top: 0;
		left: 0;
	}

	@media (min-width: 1441px) {
		padding: .75rem .25rem !important;
	}
}

.x-small {
	font-size: .75rem !important;
	font-family: Open Sans, sans-serif !important;
	margin-bottom: .25rem !important;

	@media (min-width: 1441px) {
		font-size: .875rem !important;
		margin-bottom: .5rem !important;
	}
}
