@use '/src/scss/colors';

.btn {
	padding: 12px 20px 12px 20px;
	border-radius: 8px;
	border: none;
	box-shadow: none;
	text-transform: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 600 !important;
	line-height: 24px;
	height: 48px !important;
	letter-spacing: 0em;
	gap: 8px;

	&.primary {
		background: colors.$red-500;
		color: white;

		&:hover,&:focus {
			background: colors.$red-600;
			color: white;
		}

		&:disabled {
			background: colors.$neutral-200;
			color: colors.$neutral-400;
		}
	}

	&.primary-green{
		background: colors.$red-500;
		color: white;

		&:hover,&:focus {
			background: colors.$red-600;
			color: white;
		}

		&:disabled {
			background: colors.$green;
			color: white;
			opacity: 1 !important;
			min-width:139px;
		}
		&.isLoader{
			&:disabled {
				background: colors.$red-500;
			}
		}
	}


	&.neutral {
		background: white;
		color: colors.$neutral-700;
		border: 1px solid colors.$neutral-200;

		&:hover,&:focus {
			background: white;
			color: colors.$neutral-900;
		}
	}

	&.w-100 {
		width: 100%;
	}

	&.secondary {
		background: colors.$blue-500;
		color: white;

		&:hover,&:focus {
			background: colors.$blue-600;
			color: white;
		}

		&:disabled {
			background: colors.$blue-300;
			color: white;
		}
	}

	&.btn__xs {
		height: 40px !important;
		font-size: 14px;
		line-height: 20px;
	}

	&.dark {
		background: colors.$gris-800;
		color: white;

		&:hover,&:focus {
			background: colors.$gris-900;
			color: white;
		}
	}

	&.outline-primary {
		font-weight: 500;
		border: 1px solid colors.$red-500;
		color: colors.$red-500;
		width: 100%;

		&:hover,&:focus {
			background: colors.$red-500;
			color: white;
			img,
			svg {
				filter: brightness(0) invert(1);
			}
		}

		&:disabled {
			border: 1px solid colors.$red-300;
			color: colors.$red-300;
		}
	}

	&.outline-secondary {
		font-weight: 500;
		border: 1px solid colors.$blue-500;
		color: colors.$blue-500;
		background: white;

		&:hover,&:focus {
			background: colors.$blue-500;
			color: white;

			img,
			svg {
				filter: brightness(0) invert(1);
			}
		}

		&:disabled {
			border: 1px solid colors.$blue-300;
			color: colors.$blue-300;
		}
	}

	&.link-secondary {
		font-weight: 500;
		color: colors.$blue-500 !important;
		padding: 0px;

		&:hover,&:focus {
			background: transparent;
		}

		&:disabled {
			color: colors.$blue-300;
		}
	}
	&.isMobile {
		@media (max-width: 1199px) {
			height: 40px !important;
			font-size: 14px;
			line-height: 20px;
			border-radius: 6px;
			padding: 10px 16px;
		}
		@media (max-width: 575px) {
			height: 32px !important;
			font-size: 12px;
			line-height: 20px;
			border-radius: 4px;
			padding: 6px 12px;
		}
	}
}


.spinner {
	display: grid;
	place-items: center;
	width: 28px;
	height:  28px;
	border-radius: 50%;
	background: conic-gradient(
	  from 180deg at 50% 50%,
	  colors.$red-500 0deg,
	  white 360deg
	);
	animation: spin 2s infinite linear;
  }
  .spinner::before {
	content: "";
	border-radius: 50%;
	width: 80%;
	height: 80%;
	background-color: colors.$red-500;
  }
  
  @keyframes spin {
	to {
	  transform: rotate(1turn);
	}
  }
  
