<button
	*ngIf="right && icon"
	[class]="color + ' btn'"
	[disabled]="disabled"
	[class.btn__xs]="size=='xs'"
	(click)="clickButton()"
	[class.w-100]="w100"
>
	{{ text }}
	<img [src]="'./assets/svg/' + icon" />
</button>

<button
	*ngIf="left && icon && icon!==''"
	[class]="color + ' btn'"
	[disabled]="disabled"
	(click)="clickButton()"
	[class.w-100]="w100"
	[class.btn__xs]="size=='xs'"
>
	<img [src]="'./assets/svg/' + icon" />
	{{ text }}
</button>

<button
	*ngIf="!right && !left && !icon"
	[class]="'btn ' + color"
	[disabled]="disabled"
	(click)="clickButton()"
	[class.w-100]="w100"
	[class.btn__xs]="size=='xs'"
>
	{{ text }}
</button>
