<div class="row pt-md-5">
    <h2 class="title px-0 pb-md-3"><strong>Selecciona el plan que mejor se adapte a tu viaje |</strong> {{ resultJson.days }} días por {{ resultJson.destinyString }}
    </h2>
</div>
<div class="row">
    <div class="col-12">
        <div class="card seguro best">
                <div class="card-header">El mejor plan</div>
                <div class="card-body">
                <h2>Anual</h2>
                <span>Antes</span>
                <div class="oldPrice">
                    <div class="tachado"></div>
                    <p>PEN<strong>141.97</strong></p>
                </div>
                <span class="now">Ahora</span>
                <p class="now">PEN <strong>946,45</strong></p>
                <span>Ahorra</span>
                <div class="precioAhorra">
                    <p>PEN<strong>141.97</strong></p>
                </div>
                <div class="d-flex py-3">
                    <img src="./assets/seguros/covid.png" alt="">
                    <div class="px-2">
                        <span class="covid">COBERTURA</span>
                        <span class="covid">COVID</span>
                    </div>
                </div>
                <div class="d-block text-center">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModalRed">Ver detalle de los beneficios</a> </div>
                <div class="d-block text-center py-2">
                    <button (click)="shop(1)">Seleccionar</button>
                </div>
                <p class="card-text">Usa tu Assist Card en múltiples viajes por 1 año</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
        <div class="d-inline" *ngFor="let card of plansAC; let index = index">
        <div class="card seguro" *ngIf="index < 4">
            <div class="card-header">Fecha flexible</div>
            <div class="card-body">
                <h2>{{card.nombreProducto.substr(0, 9)  }}</h2>
                <span>Antes</span>
                <div class="oldPrice">
                    <div class="tachado"></div>
                    <p>PEN<strong>141.97</strong></p>
                </div>
                <span class="now">Ahora</span>
                <p class="now">PEN <strong>{{card.change}}</strong></p>
                <span>Ahorra</span>
                <div class="precioAhorra">
                    <p>PEN<strong>141.97</strong></p>
                </div>
                <div class="d-flex py-3">
                    <img src="./assets/seguros/covid.png" alt="">
                    <div class="px-2">
                        <span class="covid">COBERTURA</span>
                        <span class="covid">COVID</span>
                    </div>
                </div>
                <div class="d-block text-center">
                    <a href="#" (click)="data(card.idProducto)" data-bs-toggle="modal" data-bs-target="#exampleModal">Ver detalle de los beneficios</a>
                </div>
                <div class="d-block text-center py-2">
                    <button (click)="shop(card.idProducto)">Seleccionar</button>
                </div>
                <p class="card-text">Asistencia médica: USD 60.000</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
            </div>
        </div>

    </div>
</div>
<div class="row mb-4 mt-5">
    <div class="col-12">
        <h2 class="title">¡Corre y Vuela! con estas <strong>súper ofertas de Vuelos</strong> saliendo <strong>desde
                    Lima</strong></h2>
        <!-- <ng-container *ngFor="let section of dataPagePresenterService.data.sections">
                <app-title *ngIf="section.section === 'Vuelos'" [title]="section.title"></app-title>
            </ng-container> -->
        <div class="clearfix"></div>
    </div>
</div>
<app-card [itemList]="packagesService.packages"></app-card>
<div class="row text-end py-5">
    <div class="col-12">
        <ng-container *ngFor="let section of dataPagePresenterService.data.sections">
            <button class="plus dropdown-toggle" *ngIf="section.section === 'Vuelos'">{{ section.btn }}</button>
        </ng-container>
    </div>
    <div class="clearfix"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="pop">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel">{{pop.producto}} - S/. {{pop.change}}</h2>
                    <h5 class="modal-title" id="exampleModalLabel">Asistencia médica: USD 60.000</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex py-3">
                                <img src="./assets/seguros/covid.png" alt="">
                                <div class="px-2">
                                    <span class="covid">COBERTURA</span>
                                    <span class="covid">COVID</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row scrollBody">
                        <div class="col-10 offset-1">
                            <table class="table-bordered w-100">
                                <tbody>
                                    <tr class="row" *ngFor="let text of coverageList">
                                        <td class="col d-flex align-items-center"><strong>{{ text.Valor }}</strong></td>
                                        <td class="col">{{ text.NombreVisible}}</td>
                                    </tr>
                                    <!-- <tr class="row">
                                        <td class="col d-flex align-items-center"><strong>USD 60,000</strong></td>
                                        <td class="col">Asistencia médica en caso de accidente</td>
                                    </tr>
                                    <tr class="row">
                                        <td class="col d-flex align-items-center"><strong>USD 60,000</strong></td>
                                        <td class="col">Asistencia médica en caso de enfermedad no preexistente (Incluido COVID-19)
                                        </td>
                                    </tr>
                                    <tr class="row" *ngFor="let item of [10,0,0,0,0,0,0,0,0,0,0,0,0,0]">
                                        <td class="col d-flex align-items-center"><strong>USD 300</strong></td>
                                        <td class="col">Primera atención médica por dolencias preexistente y dolencias crónicas
                                        </td>
                                    </tr> -->
    
                                </tbody>
                            </table>
                        </div>
                        <div class="row py-3 footerPopup">
                            <div class="col-3 borderRight">
                                <p>Total</p>
                                <span>PEN <strong>314,80</strong></span>
                                <button>Comprar</button>
                            </div>
                            <div class="col-9 alignFooterPopup">
                                <p class="otroPlan">otros planes:</p>
                                <div class="row planBox">
                                    <div class="col-3">
                                        <button class="planes best">El mejor plan</button>
                                    </div>
                                    <div class="col-3">
                                        <button class="planes">Privileged</button>
                                    </div>
                                    <div class="col-3">
                                        <button class="planes">Premiun</button>
                                    </div>
                                    <div class="col-3">
                                        <button class="planes">Million</button>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
    
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> -->
            </div>
        </div>
    </div>
    <!-- Modal Rojo-->
    <div class="modal fade" id="exampleModalRed" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content red">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel">EL MEJOR PLAN - S/. 804,48</h2>
                    <h5 class="modal-title" id="exampleModalLabel">Usala en múltiples viajes por <strong>un año</strong></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex py-3">
                                <img src="./assets/seguros/covid.png" alt="">
                                <div class="px-2">
                                    <span class="covid">COBERTURA</span>
                                    <span class="covid">COVID</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row scrollBody">
                        <div class="col-10 offset-1">
                            <table class="table-bordered w-100">
                                <tbody>
                                    <tr class="row">
                                        <td class="col d-flex align-items-center"><strong>USD 60,000</strong></td>
                                        <td class="col"><strong>MONTO MÁXIMO GLOBAL</strong> (Incluye todos los servicios de este producto con sus topes)</td>
                                    </tr>
                                    <tr class="row">
                                        <td class="col d-flex align-items-center"><strong>USD 60,000</strong></td>
                                        <td class="col">Asistencia médica en caso de accidente</td>
                                    </tr>
                                    <tr class="row">
                                        <td class="col d-flex align-items-center"><strong>USD 60,000</strong></td>
                                        <td class="col">Asistencia médica en caso de enfermedad no preexistente (Incluido COVID-19)
                                        </td>
                                    </tr>
                                    <tr class="row" *ngFor="let item of [10,0,0,0,0,0,0,0,0,0,0,0,0,0]">
                                        <td class="col d-flex align-items-center"><strong>USD 300</strong></td>
                                        <td class="col">Primera atención médica por dolencias preexistente y dolencias crónicas
                                        </td>
                                    </tr>
    
                                </tbody>
                            </table>
                        </div>
                        <div class="row py-3 footerPopup">
                            <div class="col-3 borderRight">
                                <p>Total</p>
                                <span>PEN <strong>804,48</strong></span>
                                <button>Comprar</button>
                            </div>
                            <div class="col-9 alignFooterPopup">
                                <p class="otroPlan">otros planes:</p>
                                <div class="row planBox">
                                    <div class="col-3">
                                        <button class="planes">Classic</button>
                                    </div>
                                    <div class="col-3">
                                        <button class="planes">Privileged</button>
                                    </div>
                                    <div class="col-3">
                                        <button class="planes">Premiun</button>
                                    </div>
                                    <div class="col-3">
                                        <button class="planes">Million</button>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
    
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> -->
            </div>
        </div>
    </div>