@import "/src/scss/mixin";
@import "/src/scss/_variables.scss";
.title {
    font-family: Open Sans;
    font-weight: normal;
    font-size: 24px;
}

.oldPrice {
    position: relative;
    p {
        strong {
            margin-left: 5px;
        }
    }
}

.tachado {
    border-bottom: 1px solid #df0c30;
    width: 70px;
    position: absolute;
    top: 11px;
}

.precioAhorra {
    position: relative;
    p {
        strong {
            margin-left: 5px;
        }
    }
}

.card-body h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 21px;
    letter-spacing: 0.1px;
    color: #4b4b4b;
}

@media (max-width: 640px) {
    .title {
        font-size: 14px;
        padding: 25px 14px 5px 14px !important;
    }
}

.modal {
    &-content {
        background: #54d834;
        border: 0;
        border-radius: 20px;
        &.best{
            background-color: #f00;
        }
    }
    &-header {
        border-radius: 20px;
        color: white;
        padding: 1rem 2rem 1rem 2rem;
        h {
            &2 {
                font-family: "Open Sans";
                font-weight: bold;
                font-size: 24px;
                line-height: 36px;
                margin-bottom: 0;
            }
            &5 {
                font-family: "Montserrat";
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: 0.1px;
            }
        }
    }
    &-body {
        background: white;
        border-radius: 20px;
        padding: 2rem;
        overflow: hidden;
        table {
            tr.row {
                border-top: 0;
                border-bottom: 1px solid #cfd1d3;
                td {
                    color: #4b4b4b;
                    border-top: 0;
                    border-left: 0;
                    padding: 5px 10px;
                    border-right: 1px solid #cfd1d3;
                    &:last-child {
                        border-right: 0;
                    }
                }
            }
        }
        .covid {
            @include itemCard(bold, 16px, 20px, 0.5px, #1eaea5);
            display: block;
            text-transform: capitalize;
            &:first-child {
                font-size: 14px;
            }
        }
        .scrollBody {
            overflow-y: scroll;
            height: 355px;
        }
        .otroPlan {
            margin-top: 25px;
            font-weight: normal;
        }
        .planBox {
            font-family: "Open Sans";
            font-weight: bold;
            margin-left: 4px;
            button.planes {
                min-width: 124px !important;
            }
        }
        .footerPopup {
            padding-right: 15px;
            .borderRight {
                border-right: 1px solid #cfd1d3;
                font-family: "Open Sans";
                width: 22%;
                p {
                    margin-bottom: 0;
                }
            }
        }
        .alignFooterPopup {
            //padding: 0 25px;
        }
    }
}

@media (max-width: 640px) {
    .modal-body {
        overflow: auto;
    }
    .footerPopup {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .borderRight {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: none !important;
        span {
            display: flex;
            align-items: baseline;
        }
    }
    .scrollBody {
        overflow: auto !important;
        height: auto !important;
    }
    .footerPopup {
        .alignFooterPopup {
            width: 100% !important;
            .col-3 {
                width: 50% !important;
            }
        }
    }
}

p.text{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 25px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #b50a27;
    width: 100%;
}
.mat-spinner{
    margin: 0 auto
}