<div class="row pt-md-5">
    <h2 class="title px-0 pb-md-3">
        <strong>Selecciona el plan que mejor se adapte a tu viaje |</strong> {{ resultJson.days }} días por {{ resultJson.destinyString.descripcion_destino}}
    </h2>
</div>
<div class="row">
    <div class="col-12">
        <div class="d-inline" *ngFor="let card of plansAC; let index = index">
            <div class="card seguro" [ngClass]="card.clase" *ngIf="index < 5">
                <div *ngIf="card.clase" class="card-header">El mejor plan</div>
                <div *ngIf="!card.clase" class="card-header">Fecha flexible</div>
                <div class="card-body">
                    <h2>{{card.nombreProducto.substr(0, 9) }}</h2>
                    <span [ngClass]="card.packFamiliar === 'false' ? 'invisible' : 'visible'">Antes</span>
                    <div [ngClass]="card.packFamiliar === 'false' ? 'invisible' : 'visible'" class="oldPrice">
                        <div class="tachado"></div>
                        <p>{{card.monedaLista}}
                            <strong>{{card.precioBrutochange}}</strong>
                        </p>
                    </div>
                    <span class="now">Ahora</span>
                    <p class="now">{{card.monedaLista}}
                        <strong>{{card.precioEmisionLocal | currency: 'USD'}}</strong>
                    </p>
                    <span [ngClass]="card.packFamiliar === 'false' ? 'invisible' : 'visible'">Ahorra</span>
                    <div [ngClass]="card.packFamiliar === 'false' ? 'invisible' : 'visible'" class="precioAhorra">
                        <p>{{card.monedaLista}}
                            <strong>{{card.change - card.precioBrutochange }}</strong>
                        </p>
                    </div>
                    <div class="d-flex py-3">
                        <img src="./assets/seguros/covid.png" alt="">
                        <div class="px-2">
                            <span class="covid">COBERTURA</span>
                            <span class="covid">COVID</span>
                        </div>
                    </div>
                    <div class="d-block text-center">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#ModalCoverage" (click)="data(card)">Ver
                            detalle de los beneficios</a>
                    </div>
                    <div class="d-block text-center py-2">
                        <button (click)="shop(card)">Seleccionar</button>
                    </div>
                    <p *ngIf="card.clase" class="card-text">Usa tu
                        <b>Assist Card</b> en múltiples viajes por 1 año
                    </p>
                    <p *ngIf="!card.clase" class="card-text invisible">Asistencia médica: USD 60.000</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-4 mt-5">
    <div class="col-12">
        <h2 class="title">¡Corre y Vuela! con estas
            <strong>súper ofertas de Vuelos</strong> saliendo
            <strong>desde Lima
            </strong>
        </h2>
        <!-- <ng-container *ngFor="let section of dataPagePresenterService.data.sections">
                <app-title *ngIf="section.section === 'Vuelos'" [title]="section.title"></app-title>
            </ng-container> -->
        <div class="clearfix"></div>
    </div>
</div>
<app-card [itemList]="packagesService.packages"></app-card>
<div class="row text-end py-5">
    <div class="col-12">
        <ng-container *ngFor="let section of dataPagePresenterService.data.sections">
            <button class="plus dropdown-toggle" *ngIf="section.section === 'Vuelos'">{{ section.btn }}</button>
        </ng-container>
    </div>
    <div class="clearfix"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalCoverage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content {{ pop?.clase }}">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">{{pop?.producto}} - {{pop?.precioEmisionLocal | currency: 'USD'}}
                </h2>
                <h5 class="modal-subtitle" id="exampleModalLabel">Asistencia médica: {{ asistMedic }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" *ngIf="!coverageDisplay">
                <div class="row">
                    <p class="text">¡Cargando Cobertura!</p>
                    <mat-spinner color="warn"></mat-spinner>
                </div>
            </div>
            <div class="modal-body" *ngIf="coverageDisplay">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex py-3">
                            <img src="./assets/seguros/covid.png" alt="">
                            <div class="px-2">
                                <span class="covid">COBERTURA</span>
                                <span class="covid">COVID</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row scrollBody">
                    <div class="col-10 offset-1">
                        <table class="table-bordered w-100">
                            <tbody *ngIf="coverageList">
                                <tr class="row" *ngFor="let text of coverageList">
                                    <td class="col d-flex align-items-center">
                                        <strong>{{ text?.Valor }}</strong>
                                    </td>
                                    <td class="col">{{ text?.NombreVisible}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row py-3 footerPopup">
                        <div class="col-3 borderRight">
                            <p>Total</p>
                            <span>USD
                                <strong>{{pop.change}}</strong>
                            </span>
                            <button (click)="shop(pop.idProducto)">Comprar</button>
                        </div>
                        <div class="col-9 alignFooterPopup">
                            <p class="otroPlan">otros planes:</p>
                            <div class="row planBox">
                                <div class="col-3" *ngFor="let p of plansAC; let index = index">
                                    <button (click)="data(p)" *ngIf="index < 5" class="planes {{ p?.clase }}">{{
                                        p?.nombreProducto.substr(0, 9) }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> -->
        </div>
    </div>
</div>