.w-100 {
  background-color: #D4D4D4;
  font-family: "Open Sans", serif !important;

  span.text-black {
    font-size: .875em;
  }

  h5.time-unit {
    color: #b50a27;
    font-size: 1.25em;
  }

  p.time-text {
    font-size: .75em;
    color: #b50a27;
  }
}

@media (min-width: 768px) {
  span.text-black {
    font-size: 1.5em !important;
  }

  h5.time-unit {
    font-size: 2em !important;
  }
}