<div class="boxReclamaciones">
    <div class="contLeft">
        <div class="virtual">
            <div class="titleVirtual">
                Libro de <span>Reclamaciones Virtual</span>
            </div>
            <div class="contentVirtual">
                Estimados(as) usuarios, el Libro de Reclamaciones es exclusivamente a la insatisfacción o disconformidad del usuario respecto a un servicio brindado por <strong>NUEVO MUNDO VIAJES.</strong> Los campos que se presentan son obligatorios
                para poder realizar su reclamo.
            </div>
            <div class="marcaOrange"></div>
            <div class="boxImg">
                <img src="./assets/reclamos/Imagen.png" alt="">
            </div>

            <div class="text">
                ¿Necesitas ayuda con tu vuelo o paquete?
            </div>
            <div class="btnHelp">
                Portal de ayuda
            </div>
        </div>
    </div>
    <div class="contRight">
        <div class="rowGroup">
            <div class="colLeft">Razón Social:</div>
            <div class="colRight">PROMOTORA DE TURISMO NUEVO MUNDO S.A.C.</div>
        </div>
        <div class="rowGroup">
            <div class="colLeft">R.U.C.</div>
            <div class="colRight">20106785288</div>
        </div>
        <div class="rowGroup">
            <div class="colLeft">Dirección:</div>
            <div class="colRight">Av. José Pardo 801 - Miraflores</div>
        </div>
        <div class="rowGroup">
            <div class="colLeft">Punto de Venta:</div>
            <div class="colRight"><input class="form-control" type="text" name=""></div>
        </div>
        <div class="rowGroup">
            <div class="colLeft">Nombre Asesora:</div>
            <div class="colRight"><input class="form-control" type="text" name=""></div>
        </div>
        <div class="rowGroup">
            <div class="colLeft">Fecha:</div>
            <div class="colRight">30/11/2021</div>
        </div>

        <div class="separador"></div>

        <div class="title">
            Datos del cliente o apoderado:
        </div>

        <div class="rowGroup columna">
            <div class="col">Nombres y Apellidos:</div>
            <div class="col"><input class="form-control" type="text" name=""></div>
        </div>
        <div class="rowGroup columna">
            <div class="twoCol">
                <div class="tipo">
                    <div class="text">Tipo de documento:</div>
                    <div class="campo">
                        <div class="select-box">
                            <div class="select-box__current" tabindex="1">
                                <div class="select-box__value">
                                    <input class="select-box__input" type="radio" id="selectDoc1" value="1" name="selectDoc" checked="checked" />
                                    <label class="select-box__input-text">D.N.I.</label>
                                </div>
                                <div class="select-box__value">
                                    <input class="select-box__input" type="radio" id="selectDoc2" value="2" name="selectDoc" />
                                    <label class="select-box__input-text">C.E.</label>
                                </div>
                                <div class="select-box__value">
                                    <input class="select-box__input" type="radio" id="selectDoc3" value="3" name="selectDoc" />
                                    <label class="select-box__input-text">L.M.</label>
                                </div>
                                <div class="select-box__value">
                                    <input class="select-box__input" type="radio" id="selectDoc4" value="4" name="selectDoc" />
                                    <label class="select-box__input-text">R.U.C.</label>
                                </div>
                                <div class="select-box__value">
                                    <input class="select-box__input" type="radio" id="selectDoc5" value="5" name="selectDoc" />
                                    <label class="select-box__input-text">Otro</label>
                                </div>
                                <svg class="select-box__icon" width="9" height="7" viewBox="0 0 9 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4.49998 6.0658C4.33868 6.0658 4.1774 6.00421 4.05442 5.8813L0.184627 2.01146C-0.0615424 1.76529 -0.0615424 1.36617 0.184627 1.1201C0.430697 0.874029 0.829739 0.874029 1.07593 1.1201L4.49998 4.54435L7.92404 1.12022C8.17021 0.874149 8.56921 0.874149 8.81526 1.12022C9.06155 1.36629 9.06155 1.76541 8.81526 2.01158L4.94553 5.88142C4.82249 6.00435 4.66121 6.0658 4.49998 6.0658Z" fill="#D40E2D"/>
                                        </svg>
                            </div>
                            <ul class="select-box__list">
                                <li><label class="select-box__option" for="selectDoc1" aria-hidden="aria-hidden">D.N.I.</label></li>
                                <li><label class="select-box__option" for="selectDoc2" aria-hidden="aria-hidden">C.E.</label></li>
                                <li><label class="select-box__option" for="selectDoc3" aria-hidden="aria-hidden">L.M.</label></li>
                                <li><label class="select-box__option" for="selectDoc4" aria-hidden="aria-hidden">R.U.C.</label></li>
                                <li><label class="select-box__option" for="selectDoc5" aria-hidden="aria-hidden">Otro</label></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="numero">
                    <div class="text">N° de documento</div>
                    <div class="campo"><input class="form-control" type="text" name=""></div>
                </div>
            </div>
        </div>
        <div class="rowGroup columna">
            <div class="col">Teléfono:</div>
            <div class="col"><input class="form-control" type="text" name=""></div>
        </div>
        <div class="rowGroup columna">
            <div class="col">Dirección:</div>
            <div class="col"><input class="form-control" type="text" name=""></div>
        </div>
        <div class="rowGroup columna">
            <div class="col">Email:</div>
            <div class="col"><input class="form-control" type="text" name=""></div>
        </div>

        <div class="rowGroup">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Soy menor de edad </label>
            </div>
        </div>
        <div class="rowGroup">
            <div class="texto">
                En caso de menores de edad indicar Nombre, Domicilio, Teléfono y correo electrónico de uno de los padres o representantes del consumidor o apoderado.
            </div>
        </div>
        <div class="rowGroup columna">
            <div class="twoCol onlyMovil">
                <div class="numero">
                    <div class="text">
                        Identificación del bien contratado:
                    </div>
                </div>
                <div class="numero dFlex">
                    <div class="form-check  form-check-inline">
                        <input class="form-check-input" type="radio" name="ServRadio" id="ServRadio1">
                        <label class="form-radio-label" for="ServRadio1">Servicio</label>
                    </div>
                    <div class="form-check  form-check-inline">
                        <input class="form-check-input" type="radio" name="ServRadio" id="ServRadio2">
                        <label class="form-radio-label" for="ServRadio2">Producto</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="rowGroup columna">
            <div class="col">Descripción del servicio contratado:</div>
            <div class="col"><input class="form-control" type="text" name=""></div>
        </div>
        <div class="rowGroup columna">
            <div class="col">Monto reclamado:</div>
            <div class="col"><input class="form-control" type="text" name=""></div>
        </div>
        <div class="rowGroup columna">
            <div class="subTitle">
                Tipo de tu reclamo:
            </div>
            <div class="twoCol">
                <div class="numero">
                    <div class="text">
                        <div class="form-check  form-check-inline">
                            <input class="form-check-input" type="radio" name="reclamoRadio" id="reclamoRadio1">
                            <label class="form-radio-label" for="reclamoRadio1">Reclamo</label>
                        </div>
                    </div>
                    <div class="campo">
                        Reclamo: Disconformidad relacionada a los productos o servicios.
                    </div>
                </div>
                <div class="numero">
                    <div class="text">
                        <div class="form-check  form-check-inline">
                            <input class="form-check-input" type="radio" name="reclamoRadio" id="reclamoRadio2">
                            <label class="form-radio-label" for="reclamoRadio2">Queja</label>
                        </div>
                    </div>
                    <div class="campo">
                        Queja: Descontento respecto a la atención al público.
                    </div>
                </div>
            </div>
        </div>
        <div class="rowGroup columna">
            <div class="col">Detalle del reclamo:</div>
            <div class="col"><textarea name="" id="" rows="2"></textarea></div>
        </div>
        <div class="rowGroup columna">
            <div class="col">Pedido:</div>
            <div class="subtitle">(Pedido concreto del consumidor respecto al hecho que motiva el reclamo o queja)</div>
            <div class="col"><textarea name="" id="" rows="2"></textarea></div>
        </div>
        <div class="rowGroup columna">
            <div class="col">Observaciones:</div>
            <div class="subtitle">Espacio reservado para acciones adoptadas por el proveedor</div>
            <div class="col"><textarea name="" id="" rows="6"></textarea></div>
        </div>
        <div class="rowGroup">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio2" value="option1">
                <label class="form-check-label" for="inlineRadio2">He leído y acepto la política de protección de datos personales <a href="#">enlace</a> </label>
            </div>
        </div>
        <div class="rowGroup">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio3" value="option1">
                <label class="form-check-label" for="inlineRadio3">Autorizo el uso de mi Información para la Publicidad </label>
            </div>
        </div>
        <div class="btnEnviar">
            Enviar
        </div>
        <div class="rowGroup">
            <div class="texto mTop">
                <p>*Declaro ser titular del servicio y acepto el contenido del presente formulario manifestando bajo declaración jurada la veracidad de los hechos descritos. *La formulación del Reclamo no impide acudir a otras vías de solución de controversias
                    ni es requisito previo para interponer una denuncia ante el INDECOPI </p>
                <p>*El proveedor deberá dar respuesta al reclamo en un plazo no mayor a treinta (30) días calendario, pudiendo ampliar el plazo hasta por treinta (30) días más, previa comunicación al consumidor.</p>
                <p>*Le informamos que, para efectos de procesar adecuadamente su queja o reclamo, sus datos serán recopilados en nuestro banco de datos de clientes, correspondiente a la empresa de nuestro grupo que operó su vuelo o le brindó el servicio
                    materia de queja o reclamo. Sus datos personales serán tratados con confidencialidad y bajo medidas de seguridad, y se almacenarán por el tiempo necesario para atenderle.</p>
            </div>
        </div>
    </div>
</div>