<div class="accordion" [class.first]="type=='card'" [class.second]="type!=='card'">
    <div class="accordion__header" (click)="clickAcordeon()">
        <img [src]="icon" alt="icon">
        <span [class.active]="showDropdown && !isDisabled"  [class.disabled]="isDisabled">{{title}}</span>
    </div>
    <svg *ngIf="!showDropdown" xmlns="http://www.w3.org/2000/svg" (click)="clickAcordeon()" width="32" height="32" viewBox="0 0 32 32" fill="none">
        <path d="M24 20.7998L16 12.7998L8 20.7998" [attr.stroke]="isDisabled ? '#D7D9DA':'#171717'" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <svg *ngIf="showDropdown" xmlns="http://www.w3.org/2000/svg" (click)="clickAcordeon()" width="32" height="32" viewBox="0 0 32 32" fill="none">
        <path d="M24 12.7998L16 20.7998L8 12.7998" stroke="#B50A27" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
</div>
<div [hidden]="!showDropdown || isDisabled"><ng-content></ng-content></div>
