.container__tags{
    display:flex;
    gap:16px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.container__date{
    display: grid;
    grid-template-columns: 1fr min-content;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

@media(max-width:575px){
    .container__tags{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        gap:8px;
        align-items: flex-start;
    }

    .container__date{
        grid-template-columns: 1fr;
        gap:8px;
        app-button{
			margin-top: 8px;
		}
    }
}