.card {
	border-radius: 11px;

	.item.slide {
		border-radius: 11px 11px 0 0;
	}

	::ng-deep.tile img.card-img {
		height: 230px !important;
		border-radius: 11px 11px 0 0;
	}

	.card-title {
		h5 {
			min-height: 60px;
		}

		a {
			width: 2.375rem;
			min-width: 2.375rem;
			height: 2.375rem;
			min-height: 2.375rem;
			background-color: #df0c30;
			border-radius: 50%;
			opacity: 1;
			display: flex;
			align-items: center;
			justify-content: center;

			&:hover {
				opacity: .85;
			}
		}
	}
}

ngu-tile:not(.slide) ::ng-deep.tile {
	height: 100%;
}

::ng-deep.tile {
	box-shadow: none !important;
}

.p-carousel-prev, .p-carousel-next {
	top: 55% !important;
}
