<div class="d-flex flex-row bg-white p-3 boxViaje hideDesktop">
  <div class="" data-bs-toggle="modal" data-bs-target="#modalViajes">
      <img src="./assets/resultado/place.png" alt="">
  </div>
  <div class="d-flex flex-row flex-wrap title">
      <div class="d-flex  align-items-center">
          LIMA
          <img height="13px" src="./assets/resultado/reload.png" alt=""> CANCÚN
          <img height="13px" src="./assets/resultado/pencil.png" alt="">
      </div>
      <div class="d-flex align-items-center subtitle">
          mié 18 Ago a jue 26 Ago
          <img height="13px" src="./assets/resultado/user.png" alt=""> 2
      </div>
  </div>
  <div class="" data-bs-toggle="modal" data-bs-target="#modalMoneda">
      <img src="./assets/resultado/change-money.png" alt="">
  </div>
</div>
<div class="d-flex flex-row bg-white p-3 boxBotones hideDesktop">
  <div class="btnMovil p-2" data-bs-toggle="modal" data-bs-target="#modalConveniente">
      <img height="13px" src="./assets/resultado/list.png" alt=""> Más conveniente
  </div>
  <div class="btnMovil p-2" data-bs-toggle="modal" data-bs-target="#modalFiltro">
      <img height="13px" src="./assets/resultado/filter.png" alt=""> Filtros
  </div>
</div>

<!-- Modal viajes-->
<div class="modal fade" id="modalViajes" tabindex="-1" aria-labelledby="modViaje" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable align-items-end">
      <div class="modal-content">
          <div class="d-flex flex-row justify-content-between p-3 header">
              <div class="d-flex title">
                  Modificar viaje
              </div>
              <div class="d-flex">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
          </div>
          <div class="modal-body">
              <div class="d-flex flex-row p-3 ">
                  <div class="align-items-center d-flex flex-row justify-content-center w-100 boxTipoViaje">
                      <div class="d-flex btnTipoViaje" (click)="showOption('tabIda')">
                          Solo ida
                      </div>
                      <div class="d-flex btnTipoViaje" (click)="showOption('tabIdaVuelta')">
                          Ida y vuelta
                      </div>
                      <div class="d-flex btnTipoViaje" (click)="showOption('tabMulticity')">
                          MultiCity
                      </div>
                  </div>
              </div>

              <!-- BOX IDA / IDA Y VUELTA -->
              <div *ngIf="id === 'tabIda' || id === 'tabIdaVuelta'">
                  <div class="d-flex flex-row contentViaje">
                      <div class="align-items-center d-flex iconViaje justify-content-center">
                          <img height="13px" src="./assets/resultado/airplane.png" alt="">
                      </div>
                      <div class="d-flex inputViaje w-100">
                          <input type="text" class="form-control" placeholder="" value="Lima LIM - Perú">
                      </div>
                  </div>
                  <div class="d-flex flex-row contentViaje">
                      <div class="align-items-center d-flex iconViaje justify-content-center">
                          <img height="13px" src="./assets/resultado/place.png" alt="">
                      </div>
                      <div class="d-flex inputViaje w-100">
                          <input type="text" class="form-control" placeholder="" value="Cancún CAN - México">
                      </div>
                  </div>
                  <div class="d-flex flex-row contentViaje">
                      <div class="align-items-center d-flex iconViaje justify-content-center">
                          <img height="13px" src="./assets/resultado/calendar.png" alt="">
                      </div>
                      <div class="d-flex inputViaje w-100">
                          <input type="text" class="form-control" placeholder="" value="Mie, 18 Ago 2021 a Jue, 26 Ago 2021">
                      </div>
                  </div>
              </div>
              <!-- END BOX IDA / IDA Y VUELTA -->


              <!-- BOX MULTICITY -->
              <div class="py-1" *ngIf="id === 'tabMulticity'">
                  <div class="titleTramo">
                      Tramo 1
                  </div>
                  <div class="d-flex flex-row contentViaje">
                      <div class="align-items-center d-flex iconViaje justify-content-center">
                          <img height="13px" src="./assets/resultado/airplane.png" alt="">
                      </div>
                      <div class="d-flex inputViaje w-100">
                          <input type="text" class="form-control" placeholder="" value="Lima LIM - Perú">
                      </div>
                  </div>
                  <div class="d-flex flex-row contentViaje">
                      <div class="align-items-center d-flex iconViaje justify-content-center">
                          <img height="13px" src="./assets/resultado/place.png" alt="">
                      </div>
                      <div class="d-flex inputViaje w-100">
                          <input type="text" class="form-control" placeholder="" value="Cancún CAN - México">
                      </div>
                  </div>
                  <div class="d-flex flex-row contentViaje">
                      <div class="align-items-center d-flex iconViaje justify-content-center">
                          <img height="13px" src="./assets/resultado/calendar.png" alt="">
                      </div>
                      <div class="d-flex inputViaje w-100">
                          <input type="text" class="form-control" placeholder="" value="Mie, 18 Ago 2021 a Jue, 26 Ago 2021">
                      </div>
                  </div>
              </div>
              <div class="py-1" *ngIf="id === 'tabMulticity'">
                  <div class="titleTramo">
                      Tramo 2
                  </div>
                  <div class="d-flex flex-row contentViaje">
                      <div class="align-items-center d-flex iconViaje justify-content-center">
                          <img height="13px" src="./assets/resultado/airplane.png" alt="">
                      </div>
                      <div class="d-flex inputViaje w-100">
                          <input type="text" class="form-control" placeholder="" value="Lima LIM - Perú">
                      </div>
                  </div>
                  <div class="d-flex flex-row contentViaje">
                      <div class="align-items-center d-flex iconViaje justify-content-center">
                          <img height="13px" src="./assets/resultado/place.png" alt="">
                      </div>
                      <div class="d-flex inputViaje w-100">
                          <input type="text" class="form-control" placeholder="" value="Cancún CAN - México">
                      </div>
                  </div>
                  <div class="d-flex flex-row contentViaje">
                      <div class="align-items-center d-flex iconViaje justify-content-center">
                          <img height="13px" src="./assets/resultado/calendar.png" alt="">
                      </div>
                      <div class="d-flex inputViaje w-100">
                          <input type="text" class="form-control" placeholder="" value="Mie, 18 Ago 2021 a Jue, 26 Ago 2021">
                      </div>
                  </div>
              </div>
              <div class="agregaTramo" *ngIf="id === 'tabMulticity'">
                  + Agregar tramo
              </div>
              <!-- END BOX MULTICITY -->

              <div class="d-flex flex-row contentViaje">
                  <div class="align-items-center d-flex iconViaje justify-content-center">
                      <img height="13px" src="./assets/resultado/user.png" alt="">
                  </div>
                  <div class="d-flex w-100 tipo">
                      <div class="d-flex btnTipoViaje" data-bs-toggle="modal" data-bs-target="#modalTwoPasajero">
                          2 Pasajero
                      </div>
                      <div class="d-flex btnTipoViaje" data-bs-toggle="modal" data-bs-target="#modalTipoCabina">
                          Economy
                      </div>
                  </div>
              </div>


              <div class="d-flex flex-row justify-content-center contentViaje">
                  <div class=" d-flex align-items-center justify-content-center btnConfirm">
                      Confirmar
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Modal 2 Pasajeros-->
<div class="modal fade" id="modalTwoPasajero" tabindex="-1" aria-labelledby="modalTwoPasajero" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable  align-items-end">
      <div class="modal-content">
          <div class="d-flex flex-row justify-content-between p-3 header">
              <div class="d-flex title">
                  Pasajeros
              </div>
              <div class="d-flex">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
          </div>
          <div class="modal-body">
              <div class="boxTwoPasajero d-flex flex-row align-items-center p-3">
                  <div class="d-flex flex-row iconTwo">
                      <img height="13px" src="./assets/resultado/user-gris.png" alt="">
                  </div>
                  <div class="d-flex flex-row flex-column w-100">
                      <div class="d-flex flex-row text1">
                          Adultos
                      </div>
                      <div class="d-flex flex-row text2">
                          12 o más años
                      </div>
                  </div>
                  <div class="d-flex flex-row number">
                      <div class="d-flex flex-row btnNWhite">
                          -
                      </div>
                      <div class="d-flex flex-row textBtn">
                          0
                      </div>
                      <div class="d-flex flex-row btnNRed">
                          +
                      </div>
                  </div>
              </div>
              <div class="boxTwoPasajero d-flex flex-row align-items-center p-3">
                  <div class="d-flex flex-row iconTwo">
                      <img height="13px" src="./assets/resultado/user-gris.png" alt="">
                  </div>
                  <div class="d-flex flex-row flex-column w-100">
                      <div class="d-flex flex-row text1">
                          Niños
                      </div>
                      <div class="d-flex flex-row text2">
                          De 2 - 11 años
                      </div>
                  </div>
                  <div class="d-flex flex-row number">
                      <div class="d-flex flex-row btnNWhite">
                          -
                      </div>
                      <div class="d-flex flex-row textBtn">
                          0
                      </div>
                      <div class="d-flex flex-row btnNRed">
                          +
                      </div>
                  </div>
              </div>
              <div class="boxTwoPasajero d-flex flex-row align-items-center p-3">
                  <div class="d-flex flex-row iconTwo">
                      <img height="13px" src="./assets/resultado/user-gris.png" alt="">
                  </div>
                  <div class="d-flex flex-row flex-column w-100">
                      <div class="d-flex flex-row text1">
                          Infantes
                      </div>
                      <div class="d-flex flex-row text2">
                          Menores de 2 años
                      </div>
                  </div>
                  <div class="d-flex flex-row number">
                      <div class="d-flex flex-row btnNWhite">
                          -
                      </div>
                      <div class="d-flex flex-row textBtn">
                          0
                      </div>
                      <div class="d-flex flex-row btnNRed">
                          +
                      </div>
                  </div>
              </div>

              <div class="d-flex flex-row justify-content-center align-items-center p-3">
                  <button type="button">Confirmar</button>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Modal Filtro-->
<div class="modal fade" id="modalFiltro" tabindex="-1" aria-labelledby="modFiltro" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
          <!-- <div class="d-flex justify-content-end p-3">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div> -->
          <div class="d-flex flex-row justify-content-between p-3">
              <div class="d-flex title">
                  Filtros
              </div>
              <div class="d-flex">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
          </div>
          <div class="modal-body">
            <app-filter-result
            (filterChangeEvent)="filterChange($event)"
          ></app-filter-result>
              <div class="d-flex justify-content-center p-3">
                  <div class="align-items-center btnFiltro d-flex">
                      No hay filtro seleccionado
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Modal Coveniente-->
<div class="modal fade" id="modalConveniente" tabindex="-1" aria-labelledby="modConveniente" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable align-items-end">
      <div class="modal-content">
          <div class="modal-body">

              <div class="boxConveniente d-flex flex-row bg-white flex-wrap flex-column">
                  <div class="d-flex flex-row justify-content-between p-3">
                      <div class="d-flex title">
                          Ordena tus vuelos
                      </div>
                      <div class="d-flex">
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                  </div>
                  <div class="d-flex flex-row justify-content-between align-items-center p-3">
                      <label class="form-check-label" for="flexRadioDefault1">
                          Precio más bajo
                      </label>
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                  </div>
                  <div class="d-flex flex-row justify-content-between align-items-center p-3">
                      <label class="form-check-label" for="flexRadioDefault2">
                          Precio más alto
                      </label>
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                  </div>
                  <div class="d-flex flex-row justify-content-between align-items-center p-3">
                      <label class="form-check-label" for="flexRadioDefault3">
                          Más conveniente
                      </label>
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                  </div>
                  <div class="d-flex flex-row justify-content-between align-items-center p-3">
                      <label class="form-check-label" for="flexRadioDefault4">
                          Menor tiempo de vuelo
                      </label>
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                  </div>
                  <div class="d-flex flex-row justify-content-between align-items-center p-3">
                      <label class="form-check-label" for="flexRadioDefault5">
                          Mayor tiempo de vuelo
                      </label>
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault5">
                  </div>
                  <div class="d-flex flex-row justify-content-center align-items-center p-3">
                      <button type="button">Comprar</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Modal Moneda-->
<div class="modal fade" id="modalMoneda" tabindex="-1" aria-labelledby="modalMoneda" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable align-items-end">
      <div class="modal-content">
          <div class="modal-body">

              <div class="boxMoneda d-flex flex-row bg-white flex-wrap flex-column">
                  <div class="d-flex flex-row justify-content-between p-3">
                      <div class="d-flex title">
                          Divisa
                      </div>
                      <div class="d-flex">
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                  </div>
                  <div class="d-flex flex-row justify-content-between align-items-center p-3">
                      <label class="form-check-label" for="flexRadio1">
                          Dólar estadounidense
                      </label>
                      <input class="form-check-input" type="radio" name="flexRadio" id="flexRadio1">
                  </div>
                  <div class="d-flex flex-row justify-content-between align-items-center p-3">
                      <label class="form-check-label" for="flexRadio2">
                          Sol peruano
                      </label>
                      <input class="form-check-input" type="radio" name="flexRadio" id="flexRadio2">
                  </div>

                  <div class="d-flex flex-row justify-content-center align-items-center p-3">
                      <button type="button">Confirmar</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Modal Tipo Cabina-->
<div class="modal fade" id="modalTipoCabina" tabindex="-1" aria-labelledby="modalTipoCabina" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable align-items-end">
      <div class="modal-content">
          <div class="modal-body">

              <div class="boxMoneda d-flex flex-row bg-white flex-wrap flex-column">
                  <div class="d-flex flex-row justify-content-between p-3">
                      <div class="d-flex title">
                          Tipo de Cabina
                      </div>
                      <div class="d-flex">
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                  </div>
                  <div class="d-flex flex-row justify-content-between align-items-center p-3">
                      <label class="form-check-label" for="flexRadioCabina1">
                          Economy
                      </label>
                      <input class="form-check-input" type="radio" name="flexRadioCabina" id="flexRadioCabina1">
                  </div>
                  <div class="d-flex flex-row justify-content-between align-items-center p-3">
                      <label class="form-check-label" for="flexRadioCabina2">
                          Premium
                      </label>
                      <input class="form-check-input" type="radio" name="flexRadioCabina" id="flexRadioCabina2">
                  </div>
                  <div class="d-flex flex-row justify-content-between align-items-center p-3">
                      <label class="form-check-label" for="flexRadioCabina3">
                          Business
                      </label>
                      <input class="form-check-input" type="radio" name="flexRadioCabina" id="flexRadioCabina3">
                  </div>
                  <div class="d-flex flex-row justify-content-between align-items-center p-3">
                      <label class="form-check-label" for="flexRadioCabina4">
                          First Class
                      </label>
                      <input class="form-check-input" type="radio" name="flexRadioCabina" id="flexRadioCabina4">
                  </div>
                  <div class="d-flex flex-row justify-content-center align-items-center p-3">
                      <button type="button">Confirmar</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<div class="pb-4 bg-white hideMov">
  <app-filter></app-filter>
  <!-- <app-tabs></app-tabs> -->
</div>

<!-- TODO AQUI EMPIEZA CONTENDIO -->

<div class="container-fluid px-sm-3">
  <div class="row pt-4 hideMov">
      <div class="col-sm-12 col-md-12 col-lg-12">
          <span class="moneda"> 
              <strong>Moneda</strong> Tipo de cambio: S/ 3.93</span>
      </div>
      <div class="clearfix"></div>
  </div>
  <div class="row">
      <!-- LEFT -->
      <div class="col-sm-12 col-md-3 col-lg-3 pt-3 hideMov">
        <app-filter-result
        (filterChangeEvent)="filterChange($event)"
      ></app-filter-result>
      </div>
      <!-- END LEFT -->

      <!-- CENTER -->
      <div class="d-flex w-100 boxImagen hideDesktop">
          <img height="13px" src="./assets/resultado/img-fondo.png" alt="">
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 pt-3 boxResult">
          <div class="row hideMov">
              <div class="col-12">
                  <!-- <mat-tab-group mat-stretch-tabs (click)="tab($event)"></mat-tab-group> -->
                  <mat-tab-group mat-stretch-tabs (click)="showTab()">
                      <!-- PRIMER TAB -->
                      <mat-tab label="Precio por aerolínea" class="tabAero">
                          <div class="d-flex flex-column boxPrecioAero" [ngClass]="showTabs === true ? 'd-none' : ''">
                              <table class="table table-bordered">
                                  <thead>
                                      <tr>
                                          <th width="210">Aerolíneas</th>
                                          <th>Directo</th>
                                          <th>1 escala</th>
                                          <th>2 o más escalas</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td class="text-start">
                                              <img src="./assets/comprar/company.png" alt=""> LAN Airlines
                                          </td>
                                          <td></td>
                                          <td>$9,689</td>
                                          <td></td>
                                      </tr>
                                      <tr>
                                          <td class="text-start">
                                              <img src="./assets/comprar/company.png" alt=""> United Airlines
                                          </td>
                                          <td></td>
                                          <td>$12,376</td>
                                          <td></td>
                                      </tr>
                                      <tr>
                                          <td class="text-start">
                                              <img src="./assets/comprar/company.png" alt=""> American Airlines
                                              <td class="green">$4,216</td>
                                              <td>$9,689</td>
                                              <td>$10,135</td>
                                      </tr>
                                      <tr>
                                          <td class="text-start">
                                              <img src="./assets/comprar/company.png" alt=""> Copa Airlines
                                          </td>
                                          <td>$12,376</td>
                                          <td></td>
                                      </tr>
                                      <tr>
                                          <td class="text-start">
                                              <img src="./assets/comprar/company.png" alt=""> Delta Air Lines
                                          </td>
                                          <td></td>
                                          <td></td>
                                          <td class="green">$3,898</td>
                                      </tr>
                                      <tr>
                                          <td class="text-start">
                                              <img src="./assets/comprar/company.png" alt=""> Viva Colombia
                                          </td>
                                          <td></td>
                                          <td>$9,689</td>
                                          <td></td>
                                      </tr>
                                      <tr>
                                          <td class="text-start">
                                              <img src="./assets/comprar/company.png" alt=""> AeroRepublica
                                          </td>
                                          <td class="col"></td>
                                          <td class="col">$9,689</td>
                                          <td class="col">$10,135</td>
                                      </tr>
                                      <tr>
                                          <td class="text-start">
                                              <img src="./assets/comprar/company.png" alt=""> Aeroméxico
                                          </td>
                                          <td class="col green">$4,216</td>
                                          <td class="col">$9,689</td>
                                          <td class="col">$10,135</td>
                                      </tr>
                                  </tbody>
                              </table>
                              <!-- <div class="d-flex align-items-center row header">
                                  <div class="col center">Aerolíneas</div>
                                  <div class="col">Directo</div>
                                  <div class="col">1 escala</div>
                                  <div class="col">2 o más escalas</div>
                              </div>
                              <div class="row">
                                  <div class="col">
                                      <img src="./assets/comprar/company.png" alt="">
                                      <div>LAN Airlines</div>
                                  </div>
                                  <div class="col"></div>
                                  <div class="col">$9,689</div>
                                  <div class="col"></div>
                              </div>
                              <div class="row">
                                  <div class="col">
                                      <img src="./assets/comprar/company.png" alt="">
                                      <div>United Airlines</div>
                                  </div>
                                  <div class="col"></div>
                                  <div class="col">$12,376</div>
                                  <div class="col"></div>
                              </div>
                              <div class="row">
                                  <div class="col">
                                      <img src="./assets/comprar/company.png" alt="">
                                      <div>American Airlines</div>
                                  </div>
                                  <div class="col green">$4,216</div>
                                  <div class="col">$9,689</div>
                                  <div class="col">$10,135</div>
                              </div>
                              <div class="row">
                                  <div class="col">
                                      <img src="./assets/comprar/company.png" alt="">
                                      <div>Copa Airlines</div>
                                  </div>
                                  <div class="col"></div>
                                  <div class="col">$12,376</div>
                                  <div class="col"></div>
                              </div>
                              <div class="row">
                                  <div class="col">
                                      <img src="./assets/comprar/company.png" alt="">
                                      <div>Delta Air Lines</div>
                                  </div>
                                  <div class="col"></div>
                                  <div class="col"></div>
                                  <div class="col green">$3,898</div>
                              </div>
                              <div class="row">
                                  <div class="col">
                                      <img src="./assets/comprar/company.png" alt="">
                                      <div>Viva Colombia</div>
                                  </div>
                                  <div class="col"></div>
                                  <div class="col">$9,689</div>
                                  <div class="col"></div>
                              </div>
                              <div class="row">
                                  <div class="col">
                                      <img src="./assets/comprar/company.png" alt="">
                                      <div>AeroRepublica</div>
                                  </div>
                                  <div class="col"></div>
                                  <div class="col">$9,689</div>
                                  <div class="col">$10,135</div>
                              </div>
                              <div class="row">
                                  <div class="col">
                                      <img src="./assets/comprar/company.png" alt="">
                                      <div>Aeroméxico</div>
                                  </div>
                                  <div class="col green">$4,216</div>
                                  <div class="col">$9,689</div>
                                  <div class="col">$10,135</div>
                              </div> -->
                          </div>
                          <!-- END PRIMER TAB -->
                      </mat-tab>
                      <mat-tab label="Precios +/- 3 días">
                          <!-- SEGUNDO TAB -->
                          <div class="d-flex flex-column boxPrecios border m-sm-4" [ngClass]="showTabs === true ? 'd-none' : ''">
                              <div class="d-flex align-items-center row header">
                                  <div class="col flex-column align-items-md-start justify-content-evenly ps-0">
                                      <div class="twoRow w-100">Ida
                                          <img src="./assets/resultado/flecha-right.png" alt="">
                                      </div>
                                      <div class="twoRow w-100">Vuelta
                                          <img src="./assets/resultado/flecha-bottom.png" alt="">
                                      </div>
                                  </div>
                                  <div class="col">Jue
                                      <span> 22/07</span>
                                  </div>
                                  <div class="col">Vie
                                      <span>23/07</span>
                                  </div>
                                  <div class="col">Sáb
                                      <span>24/07</span>
                                  </div>
                                  <div class="col">Dom
                                      <span>25/07</span>
                                  </div>
                                  <div class="col">Lun
                                      <span>26/07</span>
                                  </div>
                                  <div class="col">Mar
                                      <span>27/07</span>
                                  </div>
                                  <div class="col">Mie
                                      <span>28/07</span>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col">Vie
                                      <span>30/07</span>
                                  </div>
                                  <div class="col"></div>
                                  <div class="col green">$1,144</div>
                                  <div class="col green">$1,144</div>
                                  <div class="col green">$1,153</div>
                                  <div class="col">$1,334</div>
                                  <div class="col">$1,334</div>
                                  <div class="col">$1,220</div>
                              </div>
                              <div class="row">
                                  <div class="col">Sab
                                      <span>31/07</span>
                                  </div>
                                  <div class="col selected">$1194</div>
                                  <div class="col">$1,334</div>
                                  <div class="col green">$1,144</div>
                                  <div class="col green">$1,144</div>
                                  <div class="col">$1,306</div>
                                  <div class="col green">$1,144</div>
                                  <div class="col">$1,349</div>
                              </div>
                              <div class="row">
                                  <div class="col">Dom
                                      <span>01/08</span>
                                  </div>
                                  <div class="col"></div>
                                  <div class="col green">$1,144</div>
                                  <div class="col">$1,349</div>
                                  <div class="col">$1,220</div>
                                  <div class="col">$1,349</div>
                                  <div class="col green">$1,144</div>
                                  <div class="col">$1,334</div>
                              </div>
                              <div class="row">
                                  <div class="col">Lun
                                      <span>02/08</span>
                                  </div>
                                  <div class="col"></div>
                                  <div class="col">$1,349</div>
                                  <div class="col red">$1,476</div>
                                  <div class="col">$1,214</div>
                                  <div class="col green">$1,144</div>
                                  <div class="col">$1,349</div>
                                  <div class="col">$1,306</div>
                              </div>
                              <div class="row">
                                  <div class="col">Mar
                                      <span>03/08</span>
                                  </div>
                                  <div class="col"></div>
                                  <div class="col">$1,334</div>
                                  <div class="col">$1,334</div>
                                  <div class="col green">$1,169</div>
                                  <div class="col green">$1,169</div>
                                  <div class="col">$1,334</div>
                                  <div class="col">$1,349</div>
                              </div>
                              <div class="row">
                                  <div class="col">Mie
                                      <span>04/08</span>
                                  </div>
                                  <div class="col"></div>
                                  <div class="col red">$1,578</div>
                                  <div class="col">$1,306</div>
                                  <div class="col">$1,349</div>
                                  <div class="col">$1,349</div>
                                  <div class="col">$1,306</div>
                                  <div class="col green">$1,144</div>
                              </div>
                              <div class="row">
                                  <div class="col">Jue
                                      <span>05/08</span>
                                  </div>
                                  <div class="col"></div>
                                  <div class="col">$1,349</div>
                                  <div class="col">$1,349</div>
                                  <div class="col green">$1,153</div>
                                  <div class="col">$1,334</div>
                                  <div class="col">$1,349</div>
                                  <div class="col green">$1,153</div>
                              </div>
                          </div>
                          <!-- END SEGUNDO TAB -->
                      </mat-tab>
                      <mat-tab label="Tendencia de precios">
                          <!-- TERCER TAB -->
                          <div class="d-flex boxGraphic flex-column" [ngClass]="showTabs === true ? 'd-none' : ''">
                              <div class="row title">Revisa la tendencia de precios</div>
                              <div class="row align-items-center subtitle">
                                  <div class="circleBlue"></div>Precio más bajo</div>
                              <div class="contentGraphic">
                                  <div class="valorHor">
                                      $515
                                  </div>
                                  <div class="anioVertical">
                                      2020
                                  </div>
                                  <div class="gLeft">

                                  </div>
                                  <div class="gCenter">
                                      <div class="column height-10 gris"></div>
                                      <div class="column height-100 red"></div>
                                      <div class="column height-80 red"></div>
                                      <div class="column height-30 red"></div>
                                      <div class="column height-40 red"></div>
                                      <div class="column height-50 red"></div>
                                      <div class="column height-30 blue">
                                          <img src="./assets/resultado/plane-white.png" alt="">
                                      </div>
                                      <div class="column height-30 blue">
                                          <img src="./assets/resultado/plane-white.png" alt="">
                                      </div>
                                      <div class="column height-30 blue">
                                          <img src="./assets/resultado/plane-white.png" alt="">
                                      </div>
                                  </div>
                                  <div class="gRight">
                                      <div class="desde">Desde</div>
                                      <div class="precio">$ 515</div>
                                      <div class="descrip">Precio más barato para tu vuelo.</div>
                                      <div class="line"></div>
                                  </div>
                              </div>
                              <div class="contentGraphic footer">
                                  <div class="gLeft">

                                  </div>
                                  <div class="gCenter">
                                      <div class="column">Jul.</div>
                                      <div class="column">Ago.</div>
                                      <div class="column">Sep.</div>
                                      <div class="column">Oct.</div>
                                      <div class="column">Nov.</div>
                                      <div class="column">Dic.</div>
                                      <div class="column">Ene.</div>
                                      <div class="column">Feb.</div>
                                      <div class="column">Mar.</div>
                                  </div>
                                  <div class="gRight">
                                  </div>
                              </div>
                          </div>
                          <!-- END TERCER TAB -->
                      </mat-tab>
                  </mat-tab-group>
              </div>
              <div class="clearfix"></div>
          </div>
          <div class="row hideMov">
              <div class="col-12 text-end">
                  <!-- <mat-form-field appearance="fill">
                      <mat-select>
                          <mat-option value="option1">Precio más bajo</mat-option>
                          <mat-option value="option3">Precio más alto</mat-option>
                          <mat-option value="option1">Más conveniente</mat-option>
                          <mat-option value="option3">Menor tiempo de vuelo</mat-option>
                          <mat-option value="option3">Mayor tiempo de vuelo</mat-option>
                      </mat-select>
                  </mat-form-field> -->

                  <!-- <mat-form-field appearance="fill">
                      <mat-label>Favorite food</mat-label>
                      <mat-select [(ngModel)]="selectedValue" name="food">
                          <mat-option *ngFor="let food of foods" [value]="food.value">
                              {{food.viewValue}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
                  <p> Selected food: {{selectedValue}} </p> -->

                  <button class="mnuResult font-12 mt-3" mat-button [matMenuTriggerFor]="menu">Más conveniente
                      <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect width="12.8" height="1.6" rx="0.8" fill="#4B4B4B" />
                          <rect x="3" y="3.19995" width="9.6" height="1.6" rx="0.8" fill="#4B4B4B" />
                          <rect x="2" y="6.40002" width="10.6667" height="1.6" rx="0.8" fill="#4B4B4B" />
                      </svg>
                  </button>
                  <mat-menu #menu="matMenu">
                      <button mat-menu-item value="123">Precio más bajo</button>
                      <button mat-menu-item [value]="14523">Precio más alto</button>
                      <button mat-menu-item [value]="14523">Más conveniente</button>
                      <button mat-menu-item [value]="14523">Menor tiempo de vuelo</button>
                      <button mat-menu-item [value]="1243">Mayor tiempo de vuelo</button>
                  </mat-menu>
              </div>
              <div class="clearfix"></div>
          </div>
          <!-- <div class="row row-cust">
              <div class="col-sm-12 col-md-12 col-lg-12">
                  <ul class="nav nav-pills nav-justified bg-white">
                      <li class="nav-item nav-item-tabs">
                          <a class="nav-link" href="#"><span class="font-header-disabled">Precio por
                                  aerolínea</span></a>
                      </li>
                      <li class="nav-item nav-item-tabs">
                          <a class="nav-link" href="#"><span class="font-header-disabled">Precios +/- 3
                                  días</span></a>
                      </li>
                      <li class="nav-item nav-item-tabs">
                          <a class="nav-link" href="#"><span class="font-header-disabled">Tendencia de
                                  precios</span></a>
                      </li>
                  </ul>
              </div>
          </div> -->
          <div class="row" *ngIf="flights">
              <div class="col-sm-12 col-md-12 col-lg-12 pt-3">
                  <ng-container *ngIf="!error.isError">
                      <app-flights [flights]="flights" *ngFor="let i of [1]"></app-flights>
                  </ng-container>
              </div>
              <div class="clearfix"></div>
          </div>

          <div class="row">
              <div class="col-sm-12 text-center">
                  <button type="button" class="font-12 plus px-3">Ver más vuelos</button>
              </div>
          </div>
      </div>
      <!-- END CENTER -->

      <!-- RIGHT -->
      <div class="col-sm-12 col-md-3 col-lg-3 pt-3 hideMov">
          <div class="public mb-4" *ngFor="let i of [1,2,3]">
              <img src="./assets/comprar/banner/side-1.png" alt="">
          </div>
          <!-- <div class="portrait"></div>
          <div class="portrait"></div>
          <div class="portrait"></div> -->
      </div>
      <!-- END RIGHT -->
      <div class="clearfix"></div>
  </div>
</div>