<div class="bg-alternative">
    <div class="container index">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p><span class="font-header">Moneda</span><span class="font-text">Tipo de cambio: S/ 3.93</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3 pt-3">
                <div class="row row-cust">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <ul class="nav nav-pills nav-justified bg-white">
                            <li class="nav-item nav-item-down">
                                <div class="dropdown d-grid gap-2 mx-auto">
                                    <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Dolares
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <app-filter-result></app-filter-result>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 pt-3">
                <div class="row row-cust">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <ul class="nav nav-pills nav-justified bg-white">
                            <li class="nav-item nav-item-tabs">
                                <a class="nav-link" href="#"><span class="font-header-disabled">Precio por
                                        aerolínea</span></a>
                            </li>
                            <li class="nav-item nav-item-tabs">
                                <a class="nav-link" href="#"><span class="font-header-disabled">Precios +/- 3
                                        días</span></a>
                            </li>
                            <li class="nav-item nav-item-tabs">
                                <a class="nav-link" href="#"><span class="font-header-disabled">Tendencia de
                                        precios</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <app-flights></app-flights>
                <app-flights></app-flights>
                <app-flights></app-flights>
                <app-flights></app-flights>
                <app-flights></app-flights>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 pt-3">
                <div class="portrait"></div>
                <div class="portrait"></div>
                <div class="portrait"></div>
            </div>
        </div>
    </div>
</div>