<!-- PERFIL -->

<div class="box-container">
    <div class="box-perfil">
        <app-file [name]="userStorage.name"></app-file>
        <div class="perfilName">{{userStorage.name}}</div>
        <div class="perfilMail">{{userStorage.email}}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
      </svg>
        </div>

        <div class="boxContact" *ngIf="route === './mi-perfil'">
            <div class="contacto">
                <div class="titleContact">
                    Datos de contacto
                </div>
                <div class="linkContact" [routerLink]="['./datos-de-contacto']">
                    Agregar datos personales
                </div>
            </div>
            <div class="contacto">
                <div class="titleContact">
                    Teléfono
                </div>
                <div class="linkContact" [routerLink]="['./datos-de-contacto']">
                    Agregar teléfono
                </div>
            </div>
            <div class="contacto">
                <div class="titleContact">
                    Email
                </div>
                <div class="linkContact disabled">
                    {{userStorage.email}}
                </div>
            </div>
        </div>
    </div>

    <div class="box-content">
        <div class="portlet-izq">
            <div class="iconViaje">
                <img src="./assets/perfil/viajes.png" alt="">
            </div>
            <div class="boxMenu">
                <ul class="">
                    <li *ngFor="let item of menus" [routerLink]="[item.ruta]" routerLinkActive="selected" (click)="route = item.ruta">
                        {{item.texto}}
                    </li>
                </ul>
            </div>
        </div>

        <div class="portlet-der">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- Modal Eliminar Correo -->
<div class="modal" data-backdrop="false" id="ModalEliminaCorreo" aria-labelledby="ModalEliminaCorreoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="titleVerifica">¿Quieres eliminar tu cuenta?</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="descripText">
                    Perderás acceso a visualizar todas las reservas que tengas con el correo
                    <span>{{userStorage.email}}</span>
                </div>
                <div class="descripText">
                    Si quieres volver a visualizarlas tendrás que agregar y verificar nuevamente el correo.
                </div>
                <div class="action">
                    <div data-bs-dismiss="modal" aria-label="Close" class="btn secundary">
                        Cancelar
                    </div>
                    <div (click)="eliminarCuenta()" class="btn primary">
                        Aceptar
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- MODAL DETALLE RESERVAS-->
<div class="modal fade" id="ModalDetResarva" data-backdrop="false" tabindex="-1" aria-labelledby="labelModalDetResarva" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="title">
                    <div class="textTitle">Solicitud de Compra de tu Vuelo N1044153</div>
                    <div class="msgTag">Comprado</div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="msgAlert">
                    Excelente elección. Tu solicitud de reserva es 983343 ha sido recibida y está siendo procesada
                </div>

                <div class="portletReserva">
                    <div class="boxDetReserva">
                        <div class="headerPortlet">
                            <div class="titleBoxRight">Información de pago con Tarjeta de Crédito</div>
                        </div>
                        <div class="contentPortlet">
                            <ul>
                                <li><span>Tipo de tarjeta:</span> </li>
                                <li><span>Titular de la tarjeta:</span> JOSE RIOS MAZUELOS</li>
                                <li><span>Documento del titular:</span> DNI 43942556</li>
                                <li><span>Dirección:</span> ANDRES CASTELLO 109 DPTO 301 SAN MIGUEL</li>
                                <li><span>Estado de reserva:</span> Emitido</li>
                            </ul>
                            <div class="alignRigth">
                                <div class="totalInfoPago">
                                    <div class="labelTotal">TOTAL:</div>
                                    <div class="montoTotal">USD 2335.68</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="boxDetReserva">
                        <div class="headerPortlet">
                            <div class="titleBoxRight">Equipajes que incluyen en tu vuelo (Ida y vuelta)</div>
                        </div>
                        <div class="contentPortlet">
                            <div class="rowEquipaje">
                                <div class="itemEquipaje">
                                    <div class="iconEquipaje"><img src="./assets/modal/mochila.svg" alt=""></div>
                                    <div class="labelEquipaje">Incluye bolso de mano</div>
                                </div>
                                <div class="itemEquipaje">
                                    <div class="iconEquipaje"><img src="./assets/modal/mochila.svg" alt=""></div>
                                    <div class="labelEquipaje">Incluye equipaje de mano</div>
                                </div>
                                <div class="itemEquipaje">
                                    <div class="iconEquipaje"><img src="./assets/modal/bodega-no.svg" alt=""></div>
                                    <div class="labelEquipaje">No incluye equipaje en bodega</div>
                                </div>
                                <div class="itemEquipaje">
                                    <div class="iconEquipaje"><img src="./assets/modal/incluye.svg" alt=""></div>
                                    <div class="labelEquipaje">Puedes agregar maletas por un cargo adicional en el aeropuerto</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="boxDetReserva">
                        <div class="headerPortlet">
                            <div class="titleBoxRight">Datos del Pasajero(s)</div>
                        </div>
                        <div class="contentPortlet">
                            <div class="rowPasajero">
                                <div class="itemPasajero">
                                    <div class="iconEquipaje"><img src="./assets/contact.svg" alt=""></div>
                                    <div class="labelEquipaje">Adulto - MARIA ALEJANDRA RIOS - DNI 43942556</div>
                                </div>
                                <div class="itemPasajero">
                                    <div class="iconEquipaje"><img src="./assets/contact.svg" alt=""></div>
                                    <div class="labelEquipaje">Adulto - SILVIA ISABEL MAZUELOS - DNI 08251431</div>
                                </div>
                                <div class="itemPasajero">
                                    <div class="iconEquipaje"><img src="./assets/contact.svg" alt=""></div>
                                    <div class="labelEquipaje">Adulto - PEDOR RAFAEL RIOS - DNI 08251432</div>
                                </div>
                                <div class="itemPasajero">
                                    <div class="iconEquipaje"><img src="./assets/contact.svg" alt=""></div>
                                    <div class="labelEquipaje">Adulto - RAFAEL ANTONIO RIOS - DNI 41809012</div>
                                </div>
                                <div class="itemPasajero">
                                    <div class="iconEquipaje"><img src="./assets/contact.svg" alt=""></div>
                                    <div class="labelEquipaje">Adulto - SANDRA PAOLA BURNEO - DNI 42829907</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="boxDetReserva">
                        <div class="headerPortlet">
                            <div class="titleBoxRight">Datos de Contacto</div>
                        </div>
                        <div class="contentPortlet">
                            <div class="rowPasajero">
                                <div class="itemPasajero">
                                    <div class="iconEquipaje"><img src="./assets/confirm-user.svg" alt=""></div>
                                    <div class="labelEquipaje">Nombre: JOSE ANTONIO RIOS MAZUELOS</div>
                                </div>
                                <div class="itemPasajero">
                                    <div class="iconEquipaje"><img src="./assets/confirm-mail.svg" alt=""></div>
                                    <div class="labelEquipaje">Email: joserios.digital@gmail.com</div>
                                </div>
                                <div class="itemPasajero">
                                    <div class="iconEquipaje"><img src="./assets/confirm-phone.svg" alt=""></div>
                                    <div class="labelEquipaje">Telefono: (51) 984984124</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
