.box-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.box-container .box-perfil {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 1px 10px rgb(0 0 0 / 10%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    z-index: 10;
}

.box-container .box-perfil .perfilCicle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5C6BC0;
    width: 97px;
    height: 97px;
    border-radius: 48px;
    color: #fff;
    font-size: 38px;
    position: relative;
}

.box-container .box-perfil .perfilCicle .blueIcon {
    position: absolute;
    right: 4px;
    bottom: 0;
    background: #009AED;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-container .box-perfil .perfilName {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #4B4B4B;
}

.box-container .box-perfil .perfilMail {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #1EAEA5;
}

.box-container .box-perfil .boxContact {
    display: flex;
    margin-top: 20px;
    border-top: 1px solid #E4E5E7;
    padding: 20px 20px 0 20px;
}

.box-container .box-perfil .boxContact .contacto {
    display: flex;
    flex-wrap: wrap;
}

.box-container .box-perfil .boxContact .contacto .titleContact {
    width: 100%;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1px;
}

.box-container .box-perfil .boxContact .contacto .linkContact {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0.1px;
    color: #009AED;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.box-container .box-perfil .boxContact .contacto .linkContact.disabled {
    color: #4B4B4B;
    cursor: default;
}

.box-container .box-content {
    display: flex;
    width: 100%;
    z-index: 9;
}

.box-container .box-content .portlet-izq {
    width: 265px;
    margin-right: 35px;
    margin-top: -10px;
    border: 0.5px solid #E4E5E7;
    box-sizing: border-box;
    border-radius: 5px 5px 5px 0px;
    height: 376px;
    background: #fff;
    padding: 20px 34px;
    z-index: 9;
}

.box-container .box-content .portlet-izq .iconViaje {
    display: flex;
    justify-content: center;
    padding: 30px 0 19px 0;
    border-bottom: 1px solid #E4E5E7;
}

.box-container .box-content .portlet-izq .iconViaje img {
    width: 73px;
    height: 73px;
}

.box-container .box-content .portlet-der {
    flex: 1 1 100%;
    margin: 30px 30px 0 0;
    //background: #fff;
    //border: 0.5px solid #E4E5E7;
    box-sizing: border-box;
    //border-radius: 10px;
}

.box-container .box-content .portlet-der .viewPerfil {
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
}

.box-container .box-content .portlet-der .viewPerfil .boxContPerfil {
    background: #FFFFFF;
    border: 0.5px solid #E4E5E7;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    padding: 15px 27px;
    width: 400px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.box-container .box-content .portlet-der .viewPerfil .boxContPerfil.btnBox {
    cursor: pointer;
}

.box-container .box-content .portlet-der .viewPerfil .boxContPerfil .boxLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}

.box-container .box-content .portlet-der .viewPerfil .boxContPerfil .boxLeft img {
    width: 84px;
}

.box-container .box-content .portlet-der .viewPerfil .boxContPerfil .iconBox {
    width: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.box-container .box-content .portlet-der .viewPerfil .boxContPerfil .boxCenter {
    display: flex;
    flex-wrap: wrap;
}

.box-container .box-content .portlet-der .viewPerfil .boxContPerfil .boxCenter .subTitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #DF0C30;
}

.box-container .box-content .portlet-der .viewPerfil .boxContPerfil .boxCenter .descrip {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #83898F;
    padding: 5px 0;
}

.box-container .box-content .portlet-der .viewPerfil .boxContPerfil .boxRight .subTitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #F21037;
}

.box-container .box-content .portlet-der .viewPerfil .boxContPerfil .boxRight .title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.18px;
    color: #4B4B4B;
    padding: 5px 0 12px 0;
}

.box-container .box-content .portlet-der .viewPerfil .boxContPerfil .boxRight .descrip {
    font-family: Montserrat;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #4B4B4B;
}

.box-container .box-content .portlet-der .viewPerfil .boxContPerfil .boxRight .boxBtn {
    display: flex;
    justify-content: end;
}

.box-container .box-content .portlet-der .contentSecurity,
.box-container .box-content .portlet-der .contentSecurity .rowContent {
    display: flex;
}

.box-container .box-content .portlet-der .contentSecurity .rowContent {
    flex-wrap: wrap;
    align-items: center;
}

.box-container .box-content .portlet-der .contentSecurity .rowContent img {
    width: 38px;
    margin-right: 10px;
}

.box-container .box-content .portlet-der .contentSecurity .rowContent .title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    letter-spacing: 0.18px;
    color: #4B4B4B;
    display: flex;
    flex: 1 1 100%;
}

.box-container .box-content .portlet-der .contentSecurity .rowContent .subtitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    color: #4B4B4B;
    display: flex;
    flex: 1 1 100%;
}

.box-container .box-content .portlet-der .personalDocument {
    background: #FFFFFF;
    border: 0.5px solid #E4E5E7;
    box-sizing: border-box;
    border-radius: 10px
}

.box-container .box-content .portlet-der .personalDocument .content {
    padding-top: 16px;
    padding-bottom: 25px;
}

.box-container .box-content .portlet-der .personalDocument .content .rowContent {
    display: flex;
    flex: 1 1 100%;
    padding: 14px 6px 0px 26px;
}

.box-container .box-content .portlet-der .personalDocument .content .rowContent .boxGrid {
    display: flex;
    flex: 1 1 100%;
    margin-right: 20px;
    flex-wrap: wrap;
}

.box-container .box-content .portlet-der .personalDocument .content .rowContent .boxGrid .rowGrid {
    display: flex;
    flex: 1 1 100%;
    padding: 10px 0;
    border-top: 1px solid #E4E5E7;
}

.box-container .box-content .portlet-der .personalDocument .content .rowContent .boxGrid .linkGrid {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.1px;
    color: #009AED;
    cursor: pointer;
}

.box-container .box-content .portlet-der .personalDocument .content .rowContent .boxGrid .rowGrid:first-child {
    border-top: none;
}

.box-container .box-content .portlet-der .personalDocument .content .rowContent .boxGrid .rowGrid .descrip {
    display: flex;
    align-items: center;
    flex: 1 1 100%;
}

.box-container .box-content .portlet-der .personalDocument .content .rowContent .boxGrid .rowGrid .descrip.titleDesc {
    font-size: 14px;
    font-weight: 600;
}

.box-container .box-content .portlet-der .personalDocument .content .rowContent .boxGrid .rowGrid .descrip.subtitleDesc {
    font-size: 12px;
    font-weight: 500;
}

.box-container .box-content .portlet-der .personalDocument .content .rowContent .boxGrid .descrip .iconFono {
    padding: 0 12px;
}

.box-container .box-content .portlet-der .personalDocument .content .rowContent .boxGrid .descrip .textNroFono {
    display: flex;
    flex: 1 1 100%;
}

.box-container .box-content .portlet-der .personalDocument .content .rowContent .boxGrid .optEliminar,
.box-container .box-content .portlet-der .personalDocument .content .rowContent .boxGrid .optModificar {
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-container .box-content .portlet-der .personalDocument .content .rowContent .msgWarning {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    color: #B50A27;
}

.box-container .box-content .portlet-der .personalDocument .content .rowContent .passLabel {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1px;
    color: #4B4B4B;
}

.box-container .box-content .portlet-der .personalDocument .content .rowContent .passText {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1px;
    color: #83898F;
}

.box-container .box-content .portlet-der .personalDocument .content .rowContent .inputGroup {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-right: 20px;
}

.box-container .box-content .portlet-der .personalDocument .content .rowContent .inputGroup span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    color: #4B4B4B;
    padding-bottom: 9px;
}

.box-container .box-content .portlet-der .personalDocument .content .rowContent .inputGroup.fecVen span {
    flex: 1 1 100%;
}

.box-container .box-content .portlet-der .personalDocument .content .rowContent .inputGroup.fecVen .form-control {
    max-width: 140px;
}

.box-container .box-content .portlet-der .personalDocument .content .rowContent .inputGroup .nroDoc {
    width: 100%;
    position: relative;
}

.box-container .box-content .portlet-der .personalDocument .content .rowContent .inputGroup .nroDoc .iconoPais {
    position: absolute;
    left: 10px;
    top: 42px;
}

.box-container .box-content .portlet-der .personalDocument .content .rowContent .inputGroup .nroDoc .textPais {
    padding-left: 32px;
}

.box-container .box-content .portlet-der .personalDocument .content .rowContent .inputGroup label {
    padding-bottom: 0 !important;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    color: #4B4B4B;
}

.box-container .box-content .portlet-der .personalDocument .content .rowContent .inputGroup .form-check-input {
    margin-top: 0 !important;
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.box-container .box-content .portlet-der .personalDocument .content .rowContent .inputGroup .form-check-input[type=radio],
.box-container .box-content .portlet-der .personalDocument .content .rowContent .inputGroup .form-check-label {
    cursor: pointer;
}

.box-container .box-content .portlet-der .personalDocument .content .rowContent .inputGroup .optionLeft {
    border: 0.5px solid #E4E5E7;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    height: 47px;
}

.box-container .box-content .portlet-der .personalDocument .content .rowContent .inputGroup .optionRight {
    border: 0.5px solid #E4E5E7;
    box-sizing: border-box;
    border-radius: 0 5px 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    height: 47px;
}

.box-container .box-content .portlet-der .personalDocument .content .rowContent .inputGroup .optionCheck {
    flex: 1 1 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 15px;
    height: 47px;
}

.box-container .box-content .portlet-der .personalDocument .content .rowContent .inputGroup input[type="text"],
.box-container .box-content .portlet-der .personalDocument .content .rowContent .inputGroup select {
    border: 0.5px solid #E4E5E7;
    box-sizing: border-box;
    border-radius: 5px;
    height: 47px;
    color: #4B4B4B;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.25px;
}

.box-container .box-content .portlet-der .personalDocument .content .rowContent .inputGroup select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23DF0C30' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}

.box-container .box-content .portlet-der .personalDocument .content .rowContent .inputGroup input::placeholder {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.25px;
    color: #B9BCBF;
}

.box-container .box-content .headerPortlet {
    display: flex;
    flex-wrap: wrap;
    padding: 11px 26px;
    border-bottom: 1px solid #E4E5E7;
}

.box-container .box-content .headerPortlet .titleBoxRight {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #4B4B4B;
    width: 100%;
}

.box-container .box-content .headerPortlet .subtitleBoxRight {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
}

.box-container .box-content .portlet-der .cardLogo {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.box-container .box-content .portlet-der .cardLogo .boxCard {
    width: 120px;
    height: 60px;
    margin: 0 10px;
}

.boxMenu {
    width: 100%;
    margin-top: 24px;
}

.boxMenu ul {
    padding: 0;
    margin: 0;
}

.boxMenu ul li {
    display: flex;
    height: 35px;
    color: #009AED;
    text-decoration: none;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
    font-family: Montserrat;
    font-style: normal;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0.1px;
    transition: all 0.3s;
}

.boxMenu ul li.selected,
.boxMenu ul li:hover {
    color: #506370;
    //font-weight: 600;
}

.btnPerfil {
    margin-top: 10px;
    color: #ffffff;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 3px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
}

.btnPerfil.primary {
    background: #DF0C30;
}

.btnPerfil.primary:hover {
    background: #DF0C30;
}

.btnAgregar {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1px;
    color: #009AED;
    margin-top: 10px;
    padding: 10px 15px 10px 0;
    cursor: pointer;
    transition: all 0.3s;
}

.btnAgregar.gris {
    color: #CFD1D3;
}

.rowElement {
    display: flex;
    flex: 1 1 100%;
    align-items: center;
}

.marginRight10 {
    margin-right: 10px;
}

.marginTop20 {
    margin-top: 20px;
}

.marginTop40 {
    margin-top: 40px;
}

.marginBottom40 {
    margin-bottom: 40px;
}

.flexWrap {
    flex-wrap: wrap !important;
}

.flexNowrap {
    flex-wrap: nowrap !important;
}

.spaceBetween {
    justify-content: space-between;
}

.spaceEnd {
    justify-content: end!important;
}

.flexAuto {
    flex: auto !important;
}