@use '/src/scss/colors';
.flex-24 {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.section-filter {
	padding-bottom: 24px;
	border-bottom: 1px solid colors.$gris-300;
}

.filters {
	width: 100%;
	@extend .flex-24;
	h5 {
		font-family: Montserrat;
		letter-spacing: 0em;
		margin-bottom: 0px;
		font-size: 18px;
		font-weight: 600;
		line-height: 28px;
		color: colors.$neutral-900;
	}

	h3 {
		font-family: Open Sans;
		font-size: 24px;
		font-weight: 700;
		line-height: 32px;
		letter-spacing: -0.02em;
		color: colors.$neutral-900;
	}

	span {
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0em;
		text-align: left;
	}
	&__currency,&__loader {
		@extend .flex-24;
		@extend .section-filter;
		gap: 14px;
	}

	&__loader{
		gap:20px;
		.skeleton{
			border-radius: 15px;
			height: 16px;
			animation: skeleton-loading 1s linear infinite alternate;
		}
		&__skeleton_1 {
			max-width: 246px;
		}
		&__skeleton_2 {
			max-width: 139px;	
		}
		&__skeleton_3 {
			margin-top: 10px;
			max-width: 42px;	
		}
		&__skeleton_4 {
			max-width: 158px;	
		}
		&.result{
			margin-top: 10px; 
		}
	}

	&__results {
		@extend .section-filter;
		span {
			font-size: 18px;
			line-height: 28px;
		}
	}

	@media (max-width: 1199px){
		display: none;
	}
}

.filters__mobile{
	display: none;
	&__tag{
		height: 34px;
		padding: 5px 10px;
		border-radius: 5px;
		display: flex;
		align-items: center;
		gap: 10px;
		width: fit-content;
		background: colors.$gris-500;
		span{
			font-family: Montserrat;
			font-size: 14px;
			font-weight: 600;
			line-height: 20px;
			letter-spacing: 0em;
		}
	}
	@media (max-width: 1199px){
		display: flex;
		align-items: center;
		gap:18px;
		width: 100%;
	}
}


@keyframes skeleton-loading {
	0% {
		background-color: hsl(0, 0%, 80%);
	}
	100% {
		background-color: hsl(0, 0%, 92%);
	}
}
