
<!-- Modal DETALLE VUELO-->
<div class="modal fade" id="modalDetVuelo" tabindex="-1" aria-labelledby="modDetVuelo" aria-hidden="true" >
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content boxModalDetalle">
            <div class="d-flex justify-content-between align-items-center p-3 header">
                <div class="d-flex titleModal">Detalles de Vuelo</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="boxVuelos" *ngIf="modalDetalle?.detalle">
                    <div class="subtitle">
                        <div>
                            <img width="27px" src="../../../../assets/modal/avion.png" alt="">
                        </div>
                        <div>{{modalDetalle?.general?.titulo }}</div>
                    </div>
       
                    
                    <ng-container *ngFor="let item of modalDetalle.detalle; let last = last">
                        <ng-container *ngIf="item.escala && item.escala.ciudad && item.escala.tiempo_espera">
                            <div class="boxCenter">
                                <div class="boxDescrip">
                                    <div>
                                        <strong>{{item.escala.ciudad}}</strong> (cambio de avión)
                                    </div>
                                    <div>Tiempo de espera
                                        <strong>{{item.escala.tiempo_espera}}</strong>
                                    </div>
                                </div>
                            </div>

                            <div class="content">
                                <div class="column alignRight paddingTop">
                                    <div class="boxSeg">
                                        <!-- <div class="text red">Salida {{item.salida.dia}} (+1)</div> -->
                                        <div class="text">{{"Salida "+item.salida.dia}}</div>
                                        <div class="text blue">{{item.salida.cod_ciudad + ' ' + item.salida.hora}}</div>
                                        <div class="text">{{item.salida.aeropuerto}}</div>
                                        <div class="iconImg">
                                            <img src="../../../../assets/modal/circle.png" alt="">
                                        </div>
                                    </div>
        
                                    <div class="boxSeg">
                                        <div class="text blue">Duración</div>
                                        <div class="text borde">{{item.vuelo.duracion | horaPipe}}</div>
                                        <div class="iconImg">
                                            <img src="../../../../assets/modal/airplane.png" alt="">
                                        </div>
                                    </div>
        
                                    <div class="boxSeg">
                                        <!-- <div class="text red">Llegada 23 Jul (+1)</div> -->
                                        <div class="text">{{"Llegada "+item.llegada.dia}}</div>
                                        <div class="text blue">{{item.llegada.cod_ciudad + ' ' + item.llegada.hora}}</div>
                                        <div class="text">{{item.llegada.aeropuerto}}</div>
                                        <div class="iconImg" [ngClass]="{'lastIcon':last}">
                                            <img src="../../../../assets/modal/circle.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="column alignLeft">
                                    <div class="boxSeg">
                                        <div class="text">
                                            <img style="max-width: 60px;" [src]="item.vuelo.logo"  appImgDefault alt="">
                                        </div>
                                        <div class="text">
                                            <strong>{{"Vuelo " +item.vuelo.num_vuelo}}</strong>
                                        </div>
                                        <div class="text">{{"Operado por: "+ item.vuelo.aerolinea }}</div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!item.escala ">
                            <div class="content">
                                <div class="column alignRight">
                                    <div class="boxSeg">
                                        <div class="text">{{"Salida "+item.salida.dia}}</div>
                                        <div class="text blue">{{item.salida.cod_ciudad + ' ' + item.salida.hora}}</div>
                                        <div class="text">{{item.salida.aeropuerto}}</div>
                                        
                                        <div class="iconImg firstIcon">
                                            <img src="../../../../assets/modal/circle.png" alt="">
                                        </div>
                                    </div>
        
                                    <div class="boxSeg">
                                        <div class="text blue">Duración</div>
                                        <div class="text borde">{{item.vuelo.duracion | horaPipe}}</div>
                                        <div class="iconImg">
                                            <img src="../../../../assets/modal/airplane.png" alt="">
                                        </div>
                                    </div>
        
                                    <div class="boxSeg">
                                        <div class="text">{{"Llegada "+item.llegada.dia}}</div>
                                        <div class="text blue">{{item.llegada.cod_ciudad + ' ' + item.llegada.hora}}</div>
                                        <div class="text">{{item.llegada.aeropuerto}}</div>
                                        <div class="iconImg"  [ngClass]="{'lastIcon':last}">
                                            <img src="../../../../assets/modal/circle.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="column alignLeft">
                                    <div class="boxSeg">
                                        <div class="text">
                                            <img style="max-width: 60px;" [src]="item.vuelo.logo"  appImgDefault alt="">
                                        </div>
                                        <div class="text">
                                            <strong>{{"Vuelo " +item.vuelo.num_vuelo}}</strong>
                                        </div>
                                        <div class="text">{{"Operado por: "+ item.vuelo.aerolinea }}</div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>                
                    </ng-container>

                 
                    <div class="boxCenter">
                        <div class="boxFooter">
                            <div class="title">Equipaje que incluye tu viaje</div>
                            <div class="elemento" *ngIf="modalDetalle.general.cabina > 0">
                                <object width="15px" data="../../../../assets/modal/mochila.svg"
                                    type="image/svg+xml"></object> Incluye equipaje de mano
                            </div>
                            <div class="elemento" *ngIf="!modalDetalle.general.cabina">
                                <object width="15px" data="../../../../assets/modal/equipaje-no.svg"
                                    type="image/svg+xml"></object>No incluye equipaje de mano
                            </div>
                            <div class="elemento"  *ngIf="!modalDetalle.general.piezas">
                                <object width="15px" data="../../../../assets/modal/bodega-no.svg"
                                    type="image/svg+xml"></object> No incluye equipaje de bodega
                            </div>
                            <div class="elemento"  *ngIf="modalDetalle.general.piezas > 0">
                                <object width="15px" data="../../../../assets/modal/bodega-si.svg"
                                    type="image/svg+xml"></object> Incluye equipaje de bodega
                            </div>
                            <div class="elemento">
                                <object width="15px" data="../../../../assets/modal/check.svg"
                                    type="image/svg+xml"></object> Puedes agregar maletas por un cargo adicional en el
                                aeropuerto
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>