@use '/src/scss/colors';
.card__passenger {
    display: flex;
    flex-direction: column;
    gap: 24px;
    &__header {
        padding: 24px;
        border-bottom: 1px solid colors.$neutral-100;
        display: flex;
        justify-content: space-between;
        &__title {
            display: flex;
            gap: 8px;
            justify-content: flex-start;
            align-items: center;
            span {
                font-family: Open Sans;
                font-size: 20px;
                font-weight: 600;
                line-height: 28px;
                letter-spacing: -0.02em;
                color: black;
            }
            @media (max-width: 1199px) {
               img{
                  width: 32px;
               }
               span{
                 font-size: 18px;
                 line-height: 24px;
               }
            }
        }
        &.check {
            border-bottom: none;
        }
        .arrow {
            cursor: pointer;
        }
        @media (max-width:575px){
            padding: 16px;
        }
    }
    &__body {
        padding: 0px 24px 24px 24px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        @media (max-width: 900px) {
            padding: 0px 15px 15px 15px;    
        }
        &__group {
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            padding-top: 2px;
            width: 100%;
            span {
                color: colors.$neutral-900;
                margin-left: 3px;
                font-weight: 600;
                font-family: 'Montserrat';
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 2px;
                .required {
                    color: colors.$red-400;
                }
                .text-left {
                    margin-left: 75px;
                }

                @media (max-width: 575px) {
                    font-size: 12px;
                    line-height: 20px;
                }
            }
            .error{
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                color:colors.$red-200;
                margin-top: 8px;
                margin-left: 135px;
                @media (max-width: 575px) {
                    margin-left: 110px;
                }
            }
            &__selects {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 20px;
                @media (max-width: 575px) {
                    column-gap: 8px;
                }
            }
            &.phone {
                width: 50%;
                padding-left: 3px;
            }
        }
        &__actions{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            @media (max-width: 575px) {
                display: none;
            }
        }
        &__mobile{
            display: none;
            @media (max-width: 575px) {
                display: block;
            }
        }
    }
    section{
        margin:0;
        width: 100%;
    }
}
