img {
    width: 100%
}

.mat-icon {
    margin-right: 10px;
}

.flotante {
    position: absolute;
    width: 510px;
    height: auto;
    background: #FFFFFF;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 1;
    @media (max-width: 768px) {
        width: 95%;
        left: 3% !important;
    }
}

.boxbtn {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

h2.titleHome {
    @media (max-width: 768px) {
        font-size: 18px !important
    }
}

.direccion {
    @extend .flotante;
    top: 355px;
    left: 100px;
    padding: 10px 20px;
    @media (max-width: 768px) {
        top: 260px;
    }
    .row {
        margin: 10px 0;
        span {
            display: block;
            @media (max-width: 768px) {
                font-size: 16px !important
            }
        }
    }
}

.buscador {
    @extend .flotante;
    top: 180px;
    left: 100px;
    @media (max-width: 768px) {
        top: 124px;
    }
    .mat-div {
        margin: auto
    }
    input {
        width: calc(100% - 26px);
        background: white;
        border: 0;
        &:focus-visible {
            outline: 0;
        }
    }
}

ul li {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: justify;
    letter-spacing: 0.1px;
    color: #4B4B4B;
    margin-bottom: 24px;
}

// ul {
//     list-style: none;
//   }
//   ul li::before {
//     content: "\2022";
//     color: red;
//     font-weight: bold;
//     display: inline-block; 
//     width: 1em;
//     margin-left: -1em;
//   }