img {
    width: 100%
}

.mat-icon {
    margin-right: 10px;
}

.flotante {
    position: absolute;
    width: 460px;
    height: auto;
    background: #FFFFFF;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 1;

    @media (max-width: 768px) {
        width: 95%;
        left: 3% !important;
    }
}

.boxbtn {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;

    .btn-agencias {
        @media (max-width: 990px) and (min-width: 640px) {
            line-height: 20px;
            font-size: 10px;
            padding: 5px 10px;
        }

        @media (max-width: 640px) {
            line-height: 20px;
            font-size: 10px;
            padding: 5px 10px;
        }
    }

    @media (max-width: 990px) and (min-width: 640px) {
        height: auto;
    }

    @media (max-width: 640px) {
        height: auto;
    }
}

h2.titleHome {
    @media (max-width: 768px) {
        font-size: 18px !important
    }
}

.direccion {
    @extend .flotante;
    top: 356px;
    left: 10px;
    padding: 10px 20px;

    .row {
        margin: 10px 0;

        &:last-child {
            @media (max-width: 640px) {
                display: none;
            }
        }

        span {
            display: block;

            img {
                @media (max-width: 990px) and (min-width: 640px) {
                    height: 60px;
                }
            }

            @media (max-width: 990px) and (min-width: 640px) {
                font-size: 14px !important
            }

            @media (max-width: 640px) {
                font-size: 12px !important
            }
        }
    }

    @media (max-width: 990px) and (min-width: 640px) {
        top: inherit;
        left: 10px;
        width: 350px;
        bottom: 10px;
    }

    @media (max-width: 640px) {
        top: inherit;
        bottom: 0px;
    }
}

.buscador {
    @extend .flotante;
    top: 180px;
    left: 10px;

    .mat-div {
        margin: auto
    }

    input {
        width: calc(100% - 26px);
        background: white;
        border: 0;

        &:focus-visible {
            outline: 0;
        }
    }

    hr {
        @media (max-width: 990px) and (min-width: 640px) {
            margin: 10px 0;
        }

        @media (max-width: 640px) {
            margin: 10px 0;
        }
    }

    @media (max-width: 990px) and (min-width: 640px) {
        top: 124px;
        left: 10px;
        width: 350px;
    }

    @media (max-width: 640px) {
        top: 60px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

ul li {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: justify;
    letter-spacing: 0.1px;
    color: #4B4B4B;
    margin-bottom: 24px;
}

// ul {
//     list-style: none;
//   }
//   ul li::before {
//     content: "\2022";
//     color: red;
//     font-weight: bold;
//     display: inline-block; 
//     width: 1em;
//     margin-left: -1em;
//   }