<div class="buscador">
    <div class="mat-div d-flex w-75">
        <mat-icon>search</mat-icon>
        <input type="text" placeholder="Ingresa tu calle o distrito">
    </div>
    <hr>
    <button (click)="agenciaView(1)" class="btn-agencias ms-md-4 ms-2 ms-md-3" [ngClass]="btnActivo === 1 ? 'activa' : ''">NM TRAVEL STORE</button>
    <button (click)="agenciaView(2)" class="btn-agencias ms-md-4 ms-2 ms-md-3" [ngClass]="btnActivo === 2 ? 'activa' : ''">NM PARDO</button>
    <button (click)="agenciaView(3)" class="btn-agencias ms-md-4 ms-2 ms-md-3" [ngClass]="btnActivo === 3 ? 'activa' : ''">NM PRIMAVERA</button>
</div>
<div class="direccion">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex">
                <mat-icon>pin_drop</mat-icon>
                <div>
                    <span>{{ direccion }}
                        <strong>{{ distrito }}</strong>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex">
                <mat-icon>schedule</mat-icon>
                <div>
                    <span>{{ horario }}</span>
                    <span *ngIf="horario2">{{ horario2 }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex">
                <mat-icon>mail_outline</mat-icon>
                <div>
                    <span>
                        <a href="mailto:{{ correo }}">{{ correo }}</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="telefono">
            <div class="col-12 d-flex">
                <mat-icon>phone</mat-icon>
                <div>
                    <span>{{ telefono }}</span>
                    <span>{{ telefono2 }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex">
                <div>
                    <span>
                        <img src="./assets/agencias/agencia_.png" alt="">
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- PARDO -->
<iframe *ngIf="map === 1" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.7341024818293!2d-77.02351018578644!3d-12.130336746762024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105b7fd50f9f5db%3A0x129c4b7ccf8c2dc2!2sAv.%2028%20de%20Julio%201136%2C%20Miraflores%2015047!5e0!3m2!1ses!2spe!4v1642009579784!5m2!1ses!2spe"
    width="100%" height="792" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
<!-- END PARDO -->

<!-- 28 DE JULIO -->
<iframe *ngIf="map === 2" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.8965805966145!2d-77.03940318578668!3d-12.119228146550975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c83ccc55db55%3A0xee1a21d484b9cd6f!2sAv.%20Jos%C3%A9%20Pardo%20801%2C%20Lima%2015074!5e0!3m2!1ses!2spe!4v1642007934192!5m2!1ses!2spe"
    width="100%" height="792" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
<!-- END 28 DE JULIO -->

<!-- PRIMAVERA -->
<iframe *ngIf="map === 3" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.030625753682!2d-76.9767242491876!3d-12.110055946337173!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c799ed7225b7%3A0xdae3aa58637fb50c!2sAv.%20Primavera%201352%2C%20Santiago%20de%20Surco%2015023!5e0!3m2!1ses!2spe!4v1642002369582!5m2!1ses!2spe"
    width="100%" height="792" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
<!-- END PRIMAVERA -->

<!-- <div class="bg-white py-4">
    <div class="container">
        <div class="row pt-5 pb-md-3 mb-4">
            <div class="col-md-6 col-12">
                <img src="./assets/agencias/agencia_.png" alt="">
            </div>
            <div class="col-md-6 col-12 ps-5">
                <h2 class="titleHome red text-center text-md-left">
                    <strong>NM TRAVEL STORE</strong>
                </h2>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipiscing elit nisl, suscipit tempus dis purus ligula taciti
                        morbi.
                    </li>
                    <li>Lorem ipsum dolor sit amet consectetur adipiscing elit nisl, suscipit tempus dis purus ligula taciti
                        morbi.
                    </li>
                    <li>Lorem ipsum dolor sit amet consectetur adipiscing elit nisl, suscipit tempus dis purus ligula taciti
                        morbi.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row pt-5 pb-md-3 mb-4">
            <div class="col-md-6 col-12">
                <h2 class="titleHome red text-center text-md-left">
                    <strong>NM PARDO</strong>
                </h2>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipiscing elit nisl, suscipit tempus dis purus ligula taciti
                        morbi.
                    </li>
                    <li>Lorem ipsum dolor sit amet consectetur adipiscing elit nisl, suscipit tempus dis purus ligula taciti
                        morbi.
                    </li>
                    <li>Lorem ipsum dolor sit amet consectetur adipiscing elit nisl, suscipit tempus dis purus ligula taciti
                        morbi.
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-12 ps-5">
                <img src="./assets/agencias/agencia_.png" alt="">
            </div>
        </div>
        <div class="row pt-5 pb-md-3 mb-4">
            <div class="col-md-6 col-12">
                <img src="./assets/agencias/agencia_.png" alt="">
            </div>
            <div class="col-md-6 col-12 ps-5">
                <h2 class="titleHome red text-center text-md-left">
                    <strong>NM PRIMAVERA</strong>
                </h2>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipiscing elit nisl, suscipit tempus dis purus ligula taciti
                        morbi.
                    </li>
                    <li>Lorem ipsum dolor sit amet consectetur adipiscing elit nisl, suscipit tempus dis purus ligula taciti
                        morbi.
                    </li>
                    <li>Lorem ipsum dolor sit amet consectetur adipiscing elit nisl, suscipit tempus dis purus ligula taciti
                        morbi.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> -->


<div class="container fluid py-4">
    <!-- AYUDA -->
    <div class="row pb-3">
        <div class="col-12">
            <h2 class="title">
                <strong>¿Necesitas ayuda?</strong>
            </h2>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-12 col-md-7 text-center">
            <img class="vidthMobile" src="./assets/seguros/ayuda.svg" alt="">
        </div>
        <div class="col-md-4 col-12 text-center mt-5">
            <p class="text-justify mt-sm-3">Lorem ipsum dolor sit amet consectetur adipiscing elit nisl, suscipit tempus dis purus ligula taciti morbi, lobortis nam et torquent nec montes neque. Dictumst lacinia magna egestas vestibulum sed libero turpis interdum, cras phasellus urna
                erat at aliquam maecenas purus eleifend, habitant dignissim augue primis vivamus taciti habitasse.</p>
            <button class="my-5">Portal de ayuda</button>
        </div>
    </div>
    <!-- END AYUDA  -->
</div>