<div class="container fluid pb-5">

        <!-- AYUDA -->
        <div class="row pb-3">
            <div class="col-12">
                <h2 class="title"><strong>¿Necesitas ayuda?</strong></h2>
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-12 col-md-7 text-center">
                <img class="vidthMobile" src="./assets/seguros/ayuda.svg" alt="">
            </div>
            <div class="col-md-4 col-12 text-center mt-5">
                <p class="text-justify mt-sm-3">Lorem ipsum dolor sit amet consectetur adipiscing elit nisl, suscipit tempus dis purus ligula taciti morbi, lobortis nam et torquent nec montes neque. Dictumst lacinia magna egestas vestibulum sed libero turpis interdum, cras phasellus urna
                    erat at aliquam maecenas purus eleifend, habitant dignissim augue primis vivamus taciti habitasse.</p>
                    <button class="my-5">Portal de ayuda</button>
                </div>
            </div>
            <!-- END AYUDA -->
        </div>    