<app-toolbar></app-toolbar>
<app-steps (clickedStep)="clickedStep($event)"></app-steps>
<div class="container__page">
	<section>
		<!--[hidden]="!detailFlight" <app-pay  [hidden]="indexStepActive !== 2"></app-pay>-->
		<div [hidden]="!detailFlight">
			<app-baggage-insurance [hidden]="indexStepActive !== 0" (changeStep)="clickedStep($event)"></app-baggage-insurance>
			<app-passengers [hidden]="indexStepActive !== 1" (changeStep)="clickedStep($event)"></app-passengers>
			<app-pay [hidden]="indexStepActive !== 2" #childPagePay></app-pay>
		</div>
		<div class="container__page__detail" *ngIf="detailFlight">
			<div class="container__page__detail__saftyPay" *ngIf="isSafetyPay">
				<span>Información para el pago a través de</span>
				<span>Banca por Internet</span>
				<span>{{ codeSafetyPay }}</span>
			</div>
			<div class="container__page__detail__pay" *ngIf="pricing">
				<span class="container__page__detail__pay__name">Detalles del pago</span>
				<div class="container__page__detail__pay__contend">
					<app-card-checkout [padding]="false">
						<div class="container__page__detail__pay__contend__body">
							<div class="container__page__detail__pay__contend__body__row">
								<span
									>Vuelo para
									<span class="bold"
										>{{ pricing.totalADT }} {{ pricing.totalADT > 1 ? 'Adultos' : 'Adulto' }}</span
									></span
								>
								<span class="font-12"
									>USD <span class="bold-15">{{ pricing.baseFareADT * pricing.totalADT | number: '1.2-2' }}</span></span
								>
							</div>

							<div class="container__page__detail__pay__contend__body__row" *ngIf="pricing.totalCNN > 0">
								<span
									>Vuelo para
									<span class="bold">{{ pricing.totalCNN }} {{ pricing.totalCNN > 1 ? 'Niños' : 'Niño' }}</span></span
								>
								<span class="font-12"
									>USD <span class="bold-15">{{ pricing.baseFareCNN * pricing.totalCNN | number: '1.2-2' }}</span></span
								>
							</div>

							<div class="container__page__detail__pay__contend__body__row" *ngIf="pricing.totalINF > 0">
								<span
									>Vuelo para
									<span class="bold"
										>{{ pricing.totalINF }} {{ pricing.totalINF > 1 ? 'Infantes' : 'Infante' }}</span
									></span
								>
								<span class="font-12"
									>USD <span class="bold-15">{{ pricing.baseFareINF * pricing.totalINF | number: '1.2-2' }}</span></span
								>
							</div>

							<div class="container__page__detail__pay__contend__body__row" *ngIf="totalInsurance !== 0">
								<span>Asistencia al viajero</span>
								<span class="font-12"
									>USD <span class="bold-15">{{ totalInsurance | number: '1.2-2' }}</span></span
								>
							</div>
							<div class="container__page__detail__pay__contend__body__row">
								<span>Impuestos, tasas y cargos</span>
								<span class="font-12"
									>USD
									<span class="bold-15">{{
										pricing.feeNMV + pricing.feePTA + pricing.taxes | number: '1.2-2'
									}}</span></span
								>
							</div>
							<div class="container__page__detail__pay__contend__body__row" *ngIf="isShowDiscount">
								<span class="discount"
									>Descuento {{ discount.discount.value }}% (máx. <span class="font-12 discount">USD</span>
									{{ discount.discount.max }})</span
								>
								<span class="font-12 discount"
									>USD <span class="bold-15 discount"> -{{ discount.amountDiscount | number: '1.2-2' }}</span></span
								>
							</div>

							<div class="container__page__detail__pay__contend__body__row" *ngIf="isShowDiscountCupon">
								<span class="discount">Código de descuento</span>
								<span class="font-12 discount"
									>USD <span class="bold-15 discount"> -{{ totalDiscountCupon | number: '1.2-2' }}</span></span
								>
							</div>
						</div>
						<div class="container__page__detail__pay__contend__line"></div>
						<div class="container__page__detail__pay__contend__footer">
							<div class="container__page__detail__pay__contend__footer__row" *ngIf="isShowDiscount || isShowDiscountCupon">
								<span>Precio sin descuento</span>
								<span
									><span class="font-12">USD </span
									><span class="through">{{ pricing.totalPay + totalInsurance | number: '1.2-2' }}</span></span
								>
							</div>
							<div class="container__page__detail__pay__contend__footer__row">
								<h6>Total</h6>
								<h6>
									<span class="usd-total">USD </span>
									{{
										(isShowDiscount
											? discount.totalWithDiscount
											: isShowDiscountCupon
											? pricing.totalPay + totalInsurance - totalDiscountCupon
											: pricing.totalPay + totalInsurance
										) | number: '1.2-2'
									}}
								</h6>
							</div>
						</div>
					</app-card-checkout>
				</div>
			</div>
			<ng-container *ngIf="detailFlight">
				<div class="container__page__detail__flight">
					<span class="container__page__detail__flight__name">Detalles del vuelo</span>
					<div class="container__page__detail__flight__contend">
						<app-card-checkout>
							<!---------------------------Departure----------------------------->
							<ng-container *ngFor="let item of detailFlight.departure; let i = index">
								<app-card-detail-fly
									[item]="item"
									[classFligh]="'Economy'"
									[nameUpSellSelect]="nameUpSellSelect"
									[totalADT]="pricing.totalADT"
									[totalCNN]="pricing.totalCNN"
									[totalINF]="pricing.totalINF"
								></app-card-detail-fly>
								<div class="container__page__detail__flight__contend__line" *ngIf="i < departure.length - 1"></div>
							</ng-container>
							<!----------------------------Return----------------------------->
							<ng-container *ngIf="detailFlight.returns">
								<div class="container__page__detail__flight__contend__line"></div>
								<app-card-detail-fly
									[item]="detailFlight.returns"
									[classFligh]="'Economy'"
									[nameUpSellSelect]="nameUpSellSelect"
									[totalADT]="pricing.totalADT"
									[totalCNN]="pricing.totalCNN"
									[totalINF]="pricing.totalINF"
								></app-card-detail-fly>
							</ng-container>
						</app-card-checkout>
					</div>
				</div>
				<div class="container__page__detail__button" *ngIf="showButtonReturn">
					<app-button [text]="'Volver al inicio'" [color]="'outline-primary'" (click)="redirectHome()"></app-button>
				</div>
			</ng-container>
		</div>
	</section>
</div>
<app-footer-checkout></app-footer-checkout>
