.card{
    &__content {
        position: relative;
        height: 372px;
        overflow: hidden;
        &>img{
            position: absolute;
            object-fit: cover;
            -o-object-position: top;
            object-position: top;
            height: 100%;
            max-width: 100%;
            width: 100%;
        }
    }
}