.card{
    &__content {
        position: relative;
        height: 372px;
        overflow: hidden;
        &>img{
            position: absolute;
            object-fit: cover;
            -o-object-position: top;
            object-position: top;
            height: 100%;
            max-width: 100%;
            width: 100%;
        }
    }
}
.col-md-3{
    @media (min-width: 768px) {
        width: 25%;
    }
}

.carousel-item{
    @media (min-width: 768px) {
        display: block;
        margin-right: 0;
        transition:none;
    }
}

.carousel-inner{
    @media (min-width: 768px) {
        width: auto!important;
    }
}

.carousel-indicators button{
    border: 1px solid white;
    background: red;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    &.active{
        background: white;
    }
}