.card{
    &__content {
        position: relative;
        height: 372px;
        background: red;
        overflow: hidden;
        @media (max-width: 768px) {
            height: 180px;
        }
        &>img{
            border-radius: 2px;
            position: absolute;
            object-fit: cover;
            -o-object-position: top;
            object-position: top;
            height: 100%;
            max-width: 100%;
            width: 100%;
            @media (max-width: 768px) {
                position: relative;
            }
        }
    }
}
.col-md-3{
    @media (min-width: 768px) {
        width: 25%;
    }
}

.carousel-item{
    @media (min-width: 768px) {
        display: block;
        margin-right: 0;
        transition:none;
    }
}

.carousel-inner{
    &.row{
        @media (max-width: 768px) {
            --bs-gutter-x: 0!important;
        }
    }
    @media (min-width: 768px) {
        width: auto!important;
    }
}

.carousel-indicators button{
    border: 1px solid white;
    background: red;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    &.active{
        background: white;
    }
}