<app-tabs></app-tabs>
<app-aside [slider]="dataPagePresenterService.data.aside" [images]="asidePresenterService.images"></app-aside>
<!-- <app-aside [slider]="asidePresenterService.slider" [images]="asidePresenterService.images"></app-aside> -->

<!-- OFERTAS -->
<!-- <div class="container">
    <div class="row">
        <div class="col-12">
            <ng-container *ngFor="let section of dataPagePresenterService.data.sections">
                <app-title *ngIf="section.section === 'Ofertas'" [title]="section.title"></app-title>
            </ng-container>

            <app-card [itemList]="offersService.offers"></app-card>

            <ng-container *ngFor="let section of dataPagePresenterService.data.sections">
                <button class="plus dropdown-toggle d-none d-md-block" *ngIf="section.section === 'Ofertas'">{{
                    section.btn }}</button>
            </ng-container>
        </div>
        <div class="clearfix"></div>
    </div>
</div> -->
<!-- END OFERTAS -->

<!-- PAQUETES -->
<div class="container">
    <div class="row pt-5 pb-md-3">
        <div class="col-12">
            <ng-container *ngFor="let section of dataPagePresenterService.data.sections">
                <app-title *ngIf="section.section === 'Paquetes'" [title]="section.title" [title2]="section.title2">
                </app-title>
            </ng-container>
        </div>
        <div class="clearfix"></div>
    </div>


    <div class="row">
        <div *ngFor="let packb of packagesService.packages" class="col-12 col-md-{{ packb.banner }}">
            <app-package *ngIf="packb.banner" [image]="packb.image" [label]="packb.label" [banner]="packb.banner"
                [span]="packb.span" [pack]="packb.pack" [city]="packb.city" [price]="packb.price"
                [destiny]="packb.destiny"></app-package>
        </div>
        <div class="clearfix"></div>
    </div>


    <div class="row text-md-end text-center py-2 py-md-5">
        <div class="col-12">
            <ng-container *ngFor="let section of dataPagePresenterService.data.sections">
                <button class="plus dropdown-toggle" *ngIf="section.section === 'Paquetes'">{{ section.btn }}</button>
            </ng-container>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- END PAQUETES -->

<!-- MAPA -->
<!-- <div class="row">
    <div class="col-12">
        <ng-container *ngFor="let section of dataPagePresenterService.data.sections">
            <app-title *ngIf="section.section === 'Mapa'" [title]="section.title"></app-title>
        </ng-container>
    </div>
    <div class="clearfix"></div>
</div>
<google-map height="500px" width="100%" [zoom]="zoom" [center]="center" [options]="options"></google-map> -->
<!-- END MAPA -->

<!-- VUELOS -->
<div class="container">
    <div class="row mb-4 mt-5">
        <div class="col-12">
            <ng-container *ngFor="let section of dataPagePresenterService.data.sections">
                <app-title *ngIf="section.section === 'Vuelos'" [title]="section.title"></app-title>
            </ng-container>
            <div class="clearfix"></div>
        </div>
    </div>
    <app-card [itemList]="packagesService.packages"></app-card>

    <div class="row text-end py-5">
        <div class="col-12">
            <ng-container *ngFor="let section of dataPagePresenterService.data.sections">
                <button class="plus dropdown-toggle" *ngIf="section.section === 'Vuelos'">{{ section.btn }}</button>
            </ng-container>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- END VUELOS -->

<!-- COMPRAR -->
<div class="container">
    <div class="row">
        <ng-container *ngFor="let section of dataPagePresenterService.data.sections">
            <app-title *ngIf="section.section === 'Comprar'" [title]="section.title"></app-title>
            <div *ngIf="section.img" class="col-12 col-md-6 card__content">
                <img src="./assets/{{ section.img }}" class="d-block w-100">
            </div>
            <div class="col-12 col-md-6">
                <ng-container *ngIf="section.section === 'Comprar'">
                    <app-card-info [title]="card.title" [description]="card.description" [image]="card.img"
                        *ngFor="let card of section.card"></app-card-info>
                </ng-container>
            </div>
        </ng-container>
        <div class="clearfix"></div>
    </div>
</div>
<!-- END COMPRAR -->

<ng-container *ngFor="let section of dataPagePresenterService.data.sections">
    <app-mailing *ngIf="section.section === 'mailing'" [title]="section.title" [span]="section.span"></app-mailing>
</ng-container>

<ng-container *ngFor="let section of dataPagePresenterService.data.sections">
    <app-footer *ngIf="section.section === 'Footer'" [title1]="section.title1" [list1]="section.list1"
        [title2]="section.title2" [list2]="section.list2" [libro]="section.libro" [linkLibro]="section.linkLibro"
        [span]="section.span" [addrees]="section.addrees" [title3]="section.title3"></app-footer>
</ng-container>