<div class="container-fluid bg-white py-3">
    <div class="row">
        <div class="col-12 titleSuperior">
            ¡Felicidades, prepara todo para tu viaje!
        </div>
    </div>
    <div class="row py-5">
        <div class="col-8 offset-2">
            <div class="d-flex justify-content-center align-items-center">
                <img src="./../../../../assets/conformidad/felicidad.png" alt="">
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 subTitleConf">
            Excelente elección.<br> Tu solicitud de compra es 958456 ha sido recibida y fue pagada correctamente.
        </div>
    </div>
    <div class="padBancaInt">
    </div>

</div>
<div class="bancaInt">
    <div class="bodyBanca">
        <div class="cardBlue">
            <div class="descrip">
                Información para pago a través de
            </div>
            <div class="descrip Bold">
                Banca por Internet
            </div>
            <div class="number">
                186990
            </div>
            <div class="circle leftPos"></div>
            <div class="circle rightPos"></div>
            <div class="sombraBlue int1"></div>
            <div class="sombraBlue int2"></div>
        </div>
        <div class="cardRed">
            <div class="descrip">
                Te quedan
            </div>
            <div class="hora">
                <div class="iconCard"><img src="./assets/conformidad/reloj.png" alt=""></div>
                1h 59m 47s
            </div>
            <div class="fecha">
                Solo tienes hasta las 12:30 p.m. del viernes 10 septiembre
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row py-5">
        <div class="offset-2 col-8">
            <div class="card">
                <div class="card-body rowBody">
                    <div class="leftCard">TOTAL A PAGAR</div>
                    <div class="rightCard">PEN
                        <div class="boldFont">314,80</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="safetyPay">
        <div class="rowSafety">
            <div class="columnSaf titleSafety">¿Cómo pagar con SafetyPay?</div>
        </div>
        <div class="rowSafety">
            <div class="columnSaf descripSafety">Ingresa a la Banca por Internet de tu preferencia y sigue las instrucciones</div>
        </div>
        <div class="rowSafety">
            <div class="columnSaf">
                <div class="iconCard"><img src="./assets/conformidad/safetyPay.png" alt=""></div>
            </div>
        </div>

        <div class="rowSafety padBottom50">
            <div class="columnSaf">
                <div class="boxBank selected"><img src="./assets/conformidad/bcp.png" alt=""></div>
            </div>
            <div class="columnSaf">
                <div class="boxBank"><img src="./assets/conformidad/bbva.png" alt=""></div>
            </div>
            <div class="columnSaf">
                <div class="boxBank"><img src="./assets/conformidad/interbank.png" alt=""></div>
            </div>
            <div class="columnSaf">
                <div class="boxBank lessMargin"><img src="./assets/conformidad/scotiabank.png" alt=""></div>
            </div>
        </div>
        <div class="rowSafety padBottom30">
            <div class="columnSaf colCenter">
                <div class="headPaso">
                    <div class="number">1</div>
                </div>
                <div class="textPaso">Ingresa a www.viabcp.com con tu clave de acceso.</div>
            </div>
            <div class="columnSaf colCenter">
                <div class="headPaso">
                    <div class="number">2</div>
                </div>
                <div class="textPaso">Selecciona la opción “Pagos y Transferencias” - “Pago de servicios”</div>
            </div>
            <div class="columnSaf colCenter">
                <div class="headPaso">
                    <div class="number">3</div>
                </div>
                <div class="textPaso">Selecciona “Empresas Diversas” - “SafetyPay” y el tipo de moneda.</div>
            </div>
            <div class="columnSaf colCenter">
                <div class="headPaso">
                    <div class="number">4</div>
                </div>
                <div class="textPaso">Ingresa tu código de pago 186990, verifica el monto, confirma el pago con tu clave token listo!
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="titleConf">
            Datos del asegurado
        </div>
    </div>
    <div class="row py-4">
        <div class="offset-3 col-6">
            <div class="card">
                <div class="card-body">
                    <div class="titleAsegurado">
                        ADT - HUGO PERAL MONTANA
                    </div>
                    <div class="fechaAsegurado">
                        18 / 05 / 1986
                    </div>
                    <div class="descripAsegurado">
                        Tu solicitud de compra es 953622
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row text-center">
        <div class="titleConf">
            Detalle de tu cobertura
        </div>
    </div>

    <div class="row py-2">
        <div class="offset-4 col-4">
            <app-coverage></app-coverage>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="row text-center">
        <div class="titleConf">
            Datos de Contacto
        </div>
    </div>
    <div class="row py-4">
        <div class="offset-3 col-6">
            <div class="card padCard">
                <div class="rowCard">
                    <div class="columnCard fontOpen">
                        Pasajeros
                    </div>
                    <div class="columnCard">

                    </div>
                </div>
                <div class="rowCard">
                    <div class="columnCard boldCol">
                        <div class="iconCard"><img src="./assets/conformidad/user.png" alt=""></div>
                        Nombres y apellidos:
                    </div>
                    <div class="columnCard">
                        Hugo Peral Montana
                    </div>
                </div>
                <div class="rowCard">
                    <div class="columnCard boldCol">
                        <div class="iconCard"><img src="./assets/conformidad/mail.png" alt=""></div>
                        Email:
                    </div>
                    <div class="columnCard">
                        hugo.peral@gmail.com
                    </div>
                </div>
                <div class="rowCard">
                    <div class="columnCard boldCol">
                        <div class="iconCard"><img src="./assets/conformidad/phone.png" alt=""></div>
                        Teléfono(s):
                    </div>
                    <div class="columnCard">
                        Celular (51) 958 524 562
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>