<div class="container-fluid bg-white py-3">
    <div class="row">
        <div class="col-12 text-center">
            <h1>¡Felicidades, prepara todo para tu viaje!</h1>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row py-5">
        <div class="col-8 offset-2">
            <div class="d-flex justify-content-between align-items-center">
                <div class="">
                    <img src="./../../../../assets/conformidad/img_1.png" alt="">
                </div>
                <div class="">
                    <img src="./../../../../assets/conformidad/img_2.png" alt="">
                </div>
                <div class="">
                    <img src="./../../../../assets/conformidad/img_3.png" alt="">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <h2>Excelente elección.<br>
                Tu solicitud de compra es 958456 ha sido recibida y fue pagada correctamente.</h2>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="container">
    <div class="row py-5">
        <div class="offset-2 col-8">
            <div class="card">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row text-center">
        <div class="offset-2 col-8">
            <h2>Datos del pasajero</h2>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row py-4">
        <div class="offset-3 col-6">
            <div class="card">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row py-2">
        <div class="offset-3 col-6">
            <div class="card">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row py-4 text-center">
        <div class="offset-2 col-8">
            <h2>Detalle de tu viaje</h2>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row py-2">
        <div class="offset-3 col-6">
            <div class="card">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row py-4 text-center">
        <div class="offset-2 col-8">
            <h2>Datos de contacto</h2>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row py-2">
        <div class="offset-3 col-6">
            <div class="card">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row py-4 text-center">
        <div class="offset-2 col-8">
            <h2>Información para el viaje</h2>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row py-2">
        <div class="offset-3 col-6">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row py-4 text-center">
        <div class="offset-2 col-8">
            <h2>Recibe ofertas de hoteles, especiales para ti</h2>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row py-2">
        <div class="offset-3 col-6">
            <div class="card">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row py-4 text-center">
        <div class="offset-2 col-8">
            <button>Ver más ofertas</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>