<div class="section__search">
    <section>
        <div class="section__search__multi" *ngFor="let item of arrayMulti" [class.more-row]="arrayMulti.length > 1">
            <app-input-search-flight #childInputMulti  [typeFlight]="2"></app-input-search-flight>
            <app-input-range #childDateMulti [typeFlight]="2"></app-input-range>
            <img *ngIf="arrayMulti.length > 1" src="./assets/svg/deleteMulti.svg" alt="de" (click)="deleteRow(item)"/>
        </div>
    </section>

	<div class="section__search__actions">
		<app-button [text]="'Añadir destino'" [color]="'outline-primary'" [left]="true" [icon]="'plusRed.svg'" (onClick)="addMulti()"></app-button>
		<app-button [text]="'Buscar'" [left]="true" [icon]="'search.svg'"  (onClick)="searchMulti()"></app-button>
	</div>
</div>