<div class="container__page">
	<div class="container__page__section">
		<article>
			<div class="container__page__section__title">
				<span class="container__page__section__title__primary">Beneficios</span>
				<span class="container__page__section__title__secondary"
					>Elige tu mejor opción de tarifa y viaja sin preocupaciones.</span
				>
			</div>
			<app-card-checkout style="margin-top: 12px">
				<div class="container__page__section__header" *ngIf="itsIncludeUpSell">
					<div class="container__page__section__header__fee" (click)="showBaggageDropdown = !showBaggageDropdown">
						<img src="./assets/svg/checkSuccess.svg" />
						<span>{{ nameSelectUpSell | titlecase }}</span>
						<img class="arrow" [src]="showBaggageDropdown ? './assets/svg/RightUp.svg' : './assets/svg/Right.svg'" />
					</div>
					<app-button
						*ngIf="itsIncludeUpSell"
						[text]="'Amplia tus beneficios'"
						[color]="'outline-secondary'"
						[left]="true"
						[icon]="'plusBlue.svg'"
						(click)="openModalFee()"
					></app-button>
				</div>
				<div class="container__page__section__body" [hidden]="!showBaggageDropdown">
					<div class="container__page__section__body__baggage"  *ngIf="detailFlight">
						<div class="container__page__section__body__baggage__column">
							<span>Ida</span>
							<app-baggage [active]="true"></app-baggage>
							<app-baggage [type]="'hand-luggage'" [active]="detailFlight.departure[0].segments[0].equipaje.cabina ? true : false"></app-baggage>
							<app-baggage [type]="'hold-luggage'" [active]="detailFlight.departure[0].segments[0].equipaje.piezas > 0 ? true : false"></app-baggage>
						</div>
						<ng-container *ngIf="detailFlight.returns && detailFlight.returns!==null">
							<div class="container__page__section__body__baggage__line"></div>
							<div class="container__page__section__body__baggage__column">
								<span>Vuelta</span>
								<app-baggage [active]="true"></app-baggage>
								<app-baggage [type]="'hand-luggage'" [active]="detailFlight.returns.segments[0].equipaje.cabina  ? true : false"></app-baggage>
								<app-baggage [type]="'hold-luggage'" [active]="detailFlight.returns.segments[0].equipaje.piezas > 0  ? true : false"></app-baggage>
							</div>
						</ng-container>
					</div>
					<div class="container__page__section__body__extras" *ngIf="itsIncludeUpSell">
						<span (click)="showDropdownExtras = !showDropdownExtras" class="container__page__section__body__extras__title"
							>Extras
							<img class="arrow" [src]="showDropdownExtras ? './assets/svg/RightUp.svg' : './assets/svg/Right.svg'"
						/></span>
						<div class="container__page__section__body__extras__items" *ngIf="showDropdownExtras">
							<div class="container__page__section__body__extras__items__row" *ngFor="let benefit of listBenefitsUpSellSelect">
								<img src="./assets/svg/check-blue.svg"/> <label>{{benefit.description}}</label>
							</div>
						</div>
					</div>
				</div>
			</app-card-checkout>
		</article>
		<ng-container *ngIf="showSecure">
			<article *ngIf="detailFlight.returns && detailFlight.returns!==null">
				<div class="container__page__section__title" *ngIf="!itsIncludeInsurance && detailFlight.returns!==null">
					<span class="container__page__section__title__primary">Asistencia al viajero</span>
					<span class="container__page__section__title__secondary"
						>Protege tu viaje y asegura tu tranquilidad.</span
					>
				</div>
				<app-card-checkout [padding]="false">
					<div class="container__page__section__insurance">
						<div class="container__page__section__insurance__body" *ngIf="!itsIncludeInsurance">
							<img src="./assets/checkout/attendance.png" alt="attendance" />
							<div class="container__page__section__insurance__body__checks">
								<div
									class="container__page__section__insurance__body__checks__option"
									*ngFor="let option of dataInsurance.principal"
								>
									<img src="./assets/svg/checkGreen.svg" alt="v" />
									<span>{{ option }}</span>
								</div>
								<div class="container__page__section__insurance__body__checks__option">
									<app-button
										[text]="'Ver cobertura del seguro'"
										[color]="'link-secondary'"
										[left]="true"
										[icon]="'insurance.svg'"
									></app-button>
								</div>
							</div>
						</div>
						<div class="container__page__section__insurance__success" *ngIf="itsIncludeInsurance">
							<div class="container__page__section__insurance__success__title">
								Asistencia al viajero agregado
								<img src="./assets/svg/checkSuccess.svg" />
							</div>
							<div class="container__page__section__insurance__success__description">
								Te enviaremos la póliza y las instrucciones de activación a tu email luego que finalices la compra.
							</div>
						</div>
		
						<ng-container *ngIf="!itsIncludeInsurance">
							<div class="container__page__section__insurance__line"></div>
							<div class="container__page__section__insurance__footer">
								<span
									>Agregar por <span class="price"> <span class="usd">USD</span> 2.50 </span> por persona y por día</span
								>
								<app-button
									[text]="'Agregar seguro'"
									[color]="'outline-secondary'"
									[left]="true"
									[icon]="'plusBlue.svg'"
									(click)="updateInsurance()"
								></app-button>
							</div>
						</ng-container>
					</div>
				</app-card-checkout>
			
				<div class="container__page__section__actions">
					<app-button
						*ngIf="itsIncludeInsurance"
						[text]="'Eliminar asistencia al viajero'"
						[color]="'link-secondary'"
						(click)="updateInsurance()"
					></app-button>
				</div>
			</article>
		</ng-container>
		<article>
			<div class="container__page__section__button">
				<app-button [text]="'Continuar a pasajeros'" [color]="'primary'" (click)="nextPage()"></app-button>
			</div>
		</article>
	</div>
</div>
