@use '/src/scss/colors';
.filters__order {
    width: 100%;
    height: 84px;
    padding: 4px 16px;
    background: colors.$neutral-80;
    display: flex;
    border-radius: 10px;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    &.multivuelo{
        justify-content: space-evenly !important;
    }
    &__line {
        width: 0px;
        height: 50px;
        border-left: 1px solid colors.$gris-700;
    }
    &__tab {
        display: flex;
        cursor: pointer;
        border-radius: 10px;
        border-bottom: 4px solid colors.$neutral-80;
        span {
            font-family: Montserrat;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: colors.$gris-700;
            font-weight: 400;
            &.bold {
                font-weight: 600;
            }
            &.active {
                color: colors.$gris-900;
            }
            &.regular{
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                color: colors.$gris-900;
            }
        }
        &:hover,&.bg-click {
            background: colors.$gris-200;
        }
        &.active {
            border-bottom: 4px solid colors.$red-500;
            border-radius: 0px;
            &:hover {
                background: none;
            }
        }
        &.column {
            flex-direction: column;
            padding: 10px 16px;
        }
        &.row-10 {
            flex-direction: row;
            gap: 10px;
            align-items: center;
            padding: 22px 16px;
            &.active{
                padding: 10px 16px;
            }
        }
        img {
            width: 24px;
            height: 24px;
        }
        &__more{
            display: flex;
            flex-direction: column;
        }
    }
    &__select{
        position: absolute;
        z-index: 2;
        top: 90px;
        right: 0px;
        background: white;
        width: 310px;
        border-radius: 6px;
        border: 1px solid colors.$gris-200;
        box-shadow: 0px 1px 2px -1px #1018281A;
        box-shadow: 0px 1px 3px 0px #1018281A;
        padding: 12px;
        &__options{
            max-height: 152px;
            overflow-y: auto;
            display: flex;
            padding-right: 8px;
            flex-direction: column;
            gap:8px;
            &__option{
                width: 100%;
                cursor: pointer;
                padding: 4px 8px;
                font-family: Montserrat;
                border-radius: 4px;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                &:hover{
                    background: colors.$gris-100;
                }
            }
        }
    }
}

:host >>> .tooltip-inner {
	background-color: white;
	color:colors.$gris-900;
	border-style: solid;
	border:colors.$gris-200;
	display: block; 
	border-width: 1px;
	text-align: center;
	border-radius: 8px;
	padding: 8px 16px;
	box-shadow: 0px 1px 2px -1px #1018281A;
	box-shadow: 0px 1px 3px 0px #1018281A;
}

:host >>> .tooltip-inner{
	&::before{
		content: '';
		position: absolute;
		border: 15px solid transparent;
		border-bottom-color: white;
		left: 50%;
		bottom: 94.5%;
		transform: translateX(-50%);
		z-index: 2;
		border-radius: 8px;
	}
}

:host >>> .tooltip.show{
	opacity: 1 !important;
}