@use '/src/scss/colors';
.container__class{
    position: relative;
    &__name{
        min-width: 128px;
        height: 36px;
        padding: 8px 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:8px;
        border: 1px solid colors.$gris-200;
        box-shadow: 0px 1px 2px 0px #1018280D;
        border-radius: 4px;
        cursor: pointer;
        background: white;
        span{
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: left;
        }
    }
    &__floating{
        position: absolute;
        top: 37px;
        right: 0;
        &__options{
            width: 160px;
            height: 156px;
            padding: 8px 12px;
            padding-bottom: 16px;
            border-radius: 8px;
            border: 1px solid colors.$gris-200;
            gap: 16px;
            box-shadow: 0px 1px 3px 0px #1018281A;
            background: white;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-top: 15px;
            gap:8px;
            span{
                font-family: Montserrat;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0em;
                text-align: left;
                color:colors.$gris-900;
            }
            &__title{
                width: 100%;
                height: 32px;
                padding: 4px 8px;
                cursor:auto;
                span{
                    font-weight: 600;
                    font-size: 16px;
                }
            }
            &__option{
                width: 100%;
                height: 28px;
                padding: 4px 8px;
                border-radius: 4px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                cursor: pointer;
                span{
                    font-weight: 400;
                }
                &:hover{
                    background: colors.$gris-50;
                }
            }
        }
        &__arrow{
            width: 19.9px;
            height: 19.9px;
            border-radius: 0px 4px 0px 0px;
            transform: rotate(-45deg);
            z-index: 4;
            background: white;
            right: 15px;
            position: absolute;
            top: 5px;
            border: solid;
            border-width: 1px 1px 0px 0px;
            border-color: colors.$gris-200;
        }
    }
}