<div class="container__class">
    <div class="container__class__name" (click)="clickInside()">
        <img src="./assets/svg/ticket.svg" alt="" />
	    <span>{{nameClass}}</span>
    </div>
	<div class="container__class__floating" *ngIf="showOptions">
		<div class="container__class__floating__arrow"></div>
		<div class="container__class__floating__options">
			<div class="container__class__floating__options__title">
				<span>Clase</span>
			</div>
			<div class="container__class__floating__options__option" (click)="clickOption('Económico',0)">
				<span>Económico</span>
			</div>
			<div class="container__class__floating__options__option"  (click)="clickOption('Negocios',1)">
				<span>Negocios</span>
			</div>
			<div class="container__class__floating__options__option" (click)="clickOption('Primera clase',2)">
				<span>Primera clase</span>
			</div>
		</div>
	</div>
</div>
