@import "/src/scss/variables";
.w-130 {
    width: 130px !important;
    display: inline-block;
    margin-right: 5px;
    padding-left: 0;
    @media (max-width: 768px) {
        width: 99px;
        display: inline-block;
        padding-left: 0;
    }
}

.boxFlotante+.customers:before {
    transform: rotate(-180deg);
}

.customers {
    position: relative;
    width: 100%;
    font-weight: 600;
    border: 0px;
    font-size: 14px;
    color: #222;
    margin-top: 7px;
    background-color: $white;
    // background: url(../../../../assets/arrow.svg) no-repeat center right;
    padding-left: 0;
    text-align: left;
    font-family: "Montserrat";
    padding-top: 13px;
    @media (max-width: 768px) {
        font-size: 10px;
    }
    &:before {
        content: url(../../../../assets/arrow.svg);
        right: 0;
        position: absolute
    }
}

.card {
    overflow: hidden !important;
}

.position-relative {
    div {
        font-family: "Montserrat";
        font-size: 10px;
        color: $red_light;
        position: absolute;
        top: -15px;
        font-weight: bold;
        letter-spacing: 0.1px;
        margin-left: 5px
    }
}

.text-red {
    color: red
}