<div class="card">
    <div class="card__img">
        <img src="{{ image }}" class="card-img-top" alt="...">
    </div>
    <div class="card-body">
        <h5 class="card-title m-0">{{ label }}</h5>
        <h1 class="card-title">{{ destiny }}</h1>
        <h5 class="card-title">{{ from }}</h5>

        <div class="cotainer">
            <div class="row">
                <div class="col-8">
                    <span>Precio desde:</span>
                    <span class="price">${{ price }}</span>
                    <p class="card-text">{{ span }}</p>
                </div>
                <div class="col-4 pl-0 d-flex align-items-end justify-content-end">
                    <a href="{{ link }}">
                        <svg class="arrow" width="11" height="18" viewBox="0 0 11 18" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M-9.24496e-08 15.885L6.79892 9L-6.94355e-07 2.115L2.09312 -9.14931e-08L11 9L2.09312 18L-9.24496e-08 15.885Z"
                                fill="white" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>