<div class="container-fluid bg-white order-5">
    <!-- <hr> -->
    <div class="row">
        <div class="col-md-6 col-12 text-footer">
            Copyright 2021 <span>nmviajes</span> All Rights Reserved.
        </div>
        <div class="col-md-6 col-12 text-center text-md-end">
            <hr class="hr d-md-none d-block">
            <img src="./assets/footer/_safety.png" alt="">
            <img src="./assets/footer/_visa.png" alt="">
            <img src="./assets/footer/_mastercard.png" alt="">
            <img src="./assets/footer/_american.png" alt="">
            <img src="./assets/footer/_diners.png" alt="">
        </div>
        <div class="clearfix"></div>
    </div>
</div>