.container__footer{
    padding: 24px 96px;
	background: white;
    width: 100%;
	section{
        max-width: 1440px;
		margin: 0 auto;
        display: flex;
		justify-content: space-between;
		align-items: center;
    }

    &__col1{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap:32px;
    }

    &__col2{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap:32px;
    }
}