<section>
	<div class="line__divider"><hr></div>
	<div class="container__footer">
		<article>
			<div  class="container__footer__col1">
				<a href="https://www.nmviajes.com/LocalResource/mincetur/Constancia-nmv.pdf" target="_blank">
					<img width="140" height="60" src="./assets/footer/agencia.webp" alt="Agencia de túrismo">
				</a>
				<a href="https://www.mincetur.gob.pe/esnna/" target="_blank">
					<img width="140" height="60" src="./assets/footer/protegeme.webp" alt="Protégeme túrismo responsable">
				  </a>
			</div>
			<div  class="container__footer__col2">
				<img src="./assets/footer/visa.webp" alt="">
				<img src="./assets/footer/mastercard.webp" alt="">
				<img src="./assets/footer/american.webp" alt="">
				<img src="./assets/footer/diners.webp" alt="">
				<img src="./assets/footer/safety.webp" alt="">
			</div>
		</article>
	</div>
</section>
