<section>
	<div class="line__divider"><hr></div>
	<div class="container__footer">
		<article>
			<div  class="container__footer__col1">
				<a href="https://www.nmviajes.com/LocalResource/mincetur/Constancia-nmv.pdf" target="_blank">
					<img src="./assets/footer/agencia.webp" alt="Agencia de túrismo">
				</a>
				<a href="https://www.mincetur.gob.pe/esnna/" target="_blank">
					<img  src="./assets/footer/protegeme.webp" alt="Protégeme túrismo responsable">
				  </a>
			</div>
			<div  class="container__footer__col2">
				<img src="./assets/footer/visa.png" alt="visa">
				<img src="./assets/footer/mastercard.png" alt="mastercard">
				<img src="./assets/footer/american.png" alt="american">
				<img src="./assets/footer/diners.png" alt="dinners">
				<img src="./assets/footer/safety.png" alt="safety">
			</div>
		</article>
	</div>
</section>
