<div class="container__boletin">
    <div class="container__boletin__section">
        <div class="container__boletin__section__info">
            <h4>Suscríbete a nuestro boletín</h4>
            <article> <span class="bold">Recibe ofertas y promociones exclusivas.</span><span> Obtén el acceso directo a los precios más bajos.</span></article>
        </div>
       <section><app-button [text]="'Suscribirme'" [isMobile]="true" [fullWidth]="true" (onClick)="openModalBoletin()"></app-button></section>
    </div>
</div>