@use '/src/scss/colors';

.hours {
	font-family: Montserrat;
	letter-spacing: 0em;
	color: colors.$neutral-900;
	display: flex;
	align-items: flex-start;
    position: relative;
	&.hour {
		font-size: 16px;
		font-weight: 600;
		min-width: 120px;
		line-height: 24px;
	}
	&.plus {
		font-size: 11px;
		font-weight: 600;
		line-height: 11px;
		color: colors.$red-400;
	}

	@media (max-width: 575px) {
		&.hour {
			font-size: 14px;
			line-height: 20px;
			min-width: 110px;
		}
		&.plus {
			font-size: 8px;
			line-height: 11.24px;
		}
	}
}

.plus__floating {
	position: absolute;
	width: max-content;
	z-index: 3;
	opacity: 0;
	transition: all 200ms ease;
    top: -55px;
    right: -100px;
	&.show {
		opacity: 1;
	}
	&__options {
		padding: 8px 16px;
		box-shadow: 0px 1px 3px 0px #1018281a;
		background: white;
		border-radius: 8px;
		border: 1px solid colors.$gris-200;
		font-family: Montserrat;
		font-size: 12px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0em;
		text-align: center;
        color: colors.$neutral-900;
	}
	&__arrow {
		width: 19.9px;
        height: 19.9px;
        border-radius: 0px 4px 0px 0px;
        transform: rotate(135deg);
        z-index: 4;
        background: white;
        position: absolute;
        border: solid;
        border-width: 1px 1px 0px 0px;
        border-color: colors.$gris-200;
        bottom: -10px;
        right: 50%;
	}
	@media(max-width:310px){
		right: -75px;
	}
}
