<div class="containerBox">

    <h1 class="titleCanal">Canales de atención</h1>
    <div class="boxCanales">
        <div class="boxCardCanal">
            <div class="boxIconCard">
                <div class="iconCard">
                    <img src="./assets/svg/AsesoriaVirtual.svg" alt="">
                </div>
            </div>
            <h2 class="titleBoxCanal">Asesoría Virtual</h2>
            <h3 class="descripCanal">Reúnete con nosotros desde donde estes con nuestros asesores para planificas tus vacaciones.</h3>
            <div class="buttonCard">
                <button class="btnCanal">
                    <a href="https://www.nmviajes.com/agenda-tu-cita">Agenda tu cita</a>
                </button>
            </div>
        </div>
        <div class="boxCardCanal">
            <div class="boxIconCard">
                <div class="iconCard">
                    <img src="./assets/svg/PortalDeAyuda.svg" alt="">
                </div>
            </div>
            <h2 class="titleBoxCanal">Portal de Ayuda</h2>
            <h3 class="descripCanal">realiza cambio, solicita un reembolso o haz seguimiento de tu caso.</h3>
            <div class="buttonCard">
                <button class="btnCanal">
                    <a href="https://ayuda.nmviajes.com/support/home">Ayuda</a></button>
            </div>
        </div>
        <div class="boxCardCanal">
            <div class="boxIconCard">
                <div class="iconCard">
                    <img src="./assets/svg/WhatsApp.svg" alt="">
                </div>
            </div>
            <h2 class="titleBoxCanal">WhatsApp</h2>
            <h3 class="descripCanal">Cotiza, compra y planifica a todo desde tu celular.</h3>
            <div class="buttonCard">
                <button class="btnCanal">
                    <a href="http://wa.link/1bwr6r">Escríbenos</a></button>
            </div>
        </div>
        <div class="boxCardCanal">
            <div class="boxIconCard">
                <div class="iconCard">
                    <img src="./assets/svg/ContactCenter.svg" alt="">
                </div>
            </div>
            <h2 class="titleBoxCanal">Contact Center</h2>
            <h3 class="descripCanal">Llámanos, resuelve tus dudas y planifica tu viaje con nosotros.</h3>
            <div class="buttonCard">
                <button [routerLink]="" class="btnCanal">
                    <a href="tel:+516109200">610-9200</a></button>
            </div>
        </div>
        <div class="boxCardCanal">
            <div class="boxIconCard">
                <div class="iconCard">
                    <img src="./assets/svg/Tiendas.svg" alt="">
                </div>
            </div>
            <h2 class="titleBoxCanal">Tiendas</h2>
            <h3 class="descripCanal">Visítanos y recibe la asesoría presencial que tus vacaciones necesitan.</h3>
            <div class="buttonCard">
                <button class="btnCanal">
                    <a href="https://dev.nmviajes.com/nuestras-agencias">Visítanos</a></button>
            </div>
        </div>
    </div>
</div>