<div class="containerBox">

    <div class="titleCanal">Canales de atención</div>
    <div class="boxCanales">
        <div class="boxCardCanal">
            <div class="boxIconCard">
                <div class="iconCard"></div>
            </div>
            <div class="titleBoxCanal">Asesoría Virtual</div>
            <div class="descripCanal">Reúnete con nosotros desde donde estes con nuestros asesores para planificas tus vacaciones.</div>
            <div class="buttonCard">
                <button class="btnCanal">Agenda tu cita</button>
            </div>
        </div>
        <div class="boxCardCanal">
            <div class="boxIconCard">
                <div class="iconCard"></div>
            </div>
            <div class="titleBoxCanal">Portal de Ayuda</div>
            <div class="descripCanal">realiza cambio, solicita un reembolso o haz seguimiento de tu caso.</div>
            <div class="buttonCard">
                <button class="btnCanal">Ayuda</button>
            </div>
        </div>
        <div class="boxCardCanal">
            <div class="boxIconCard">
                <div class="iconCard"></div>
            </div>
            <div class="titleBoxCanal">WhatsApp</div>
            <div class="descripCanal">Cotiza, compra y planifica a todo desde tu celular.</div>
            <div class="buttonCard">
                <button class="btnCanal">Escríbenos</button>
            </div>
        </div>
        <div class="boxCardCanal">
            <div class="boxIconCard">
                <div class="iconCard"></div>
            </div>
            <div class="titleBoxCanal">Contact Center</div>
            <div class="descripCanal">Llámanos, resuelve tus dudas y planifica tu viaje con nosotros.</div>
            <div class="buttonCard">
                <button class="btnCanal">Llámanos</button>
            </div>
        </div>
        <div class="boxCardCanal">
            <div class="boxIconCard">
                <div class="iconCard"></div>
            </div>
            <div class="titleBoxCanal">Tiendas</div>
            <div class="descripCanal">Visítanos y recibe la asesoría presencial que tus vacaciones necesitan.</div>
            <div class="buttonCard">
                <button class="btnCanal">Visítanos</button>
            </div>
        </div>
    </div>
</div>