@use '/src/scss/colors';
.container__suscription {
	display: grid;
	grid-template-columns: 0.59fr 1fr;
	&__image {
		width: 100%;
		height: 100%;
		border-radius: 8px 0px 0px 8px;
	}
	&__contend {
		padding: 32px 32px 48px 32px;
		display: flex;
		flex-direction: column;
		gap: 32px;
		&__header {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			&__text {
				max-width: 592px;
				margin: 0 auto;
				h3 {
					font-family: Open Sans;
					font-size: 32px;
					font-weight: 700;
					line-height: 40px;
					letter-spacing: -0.02em;
					text-align: left;
					margin: 0;
					color: colors.$red-500;
				}
				span {
					display: block;
					margin-top: 16px;
					font-family: Montserrat;
					font-size: 16px;
					font-weight: 400;
					line-height: 24px;
					letter-spacing: 0em;
					text-align: left;
				}
			}
			&__close {
				cursor: pointer;
			}
		}
		&__form {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			gap:16px;
			padding-right: 8px;
			&__group {
				&.w-100{
					grid-row:2/3;
					grid-column: 1/3;
				}
				width: 100%;
				position: relative;
				img {
					position: absolute;
					left: 12px;
					top: 5px;
					padding: 10px 0px;
                }
				input {
					width: 100%;
					padding: 11.3px 25px 11.3px 37px;
					margin: 0px;
					border: none;
					border: 1px solid colors.$neutral-200;
					box-sizing: border-box;
					color: colors.$neutral-900;
					font-weight: 400;
					font-size: 14px;
					line-height: 20px;
					font-family: 'Montserrat';
					border-radius: 8px;
					box-shadow: 0px 1px 2px 0px #1018280d;
					&::placeholder {
						color: colors.$gris-600;
					}
					&:focus {
						outline: none;
						border: 1px solid colors.$red-500;
					}
					&.error {
						border: 1px solid colors.$red-400;
						caret-color: colors.$red-400;
					}
					&.icon {
						padding-left: 27px;
					}
					&:read-only {
						color: colors.$neutral-400;
					}
				}
			}
		}

		&__checks{
			display: flex;
			flex-direction: column;
			gap:14px;
			&__row{
				display: grid;
				grid-template-columns: 18px auto;
				gap:12px;
				align-items: flex-start;
				img{
					width: 18px;
					cursor: pointer;
				}
				span{
					font-family: Montserrat;
					font-size: 14px;
					font-weight: 400;
					line-height: 20px;
					letter-spacing: 0em;
					text-align: left;
					color:colors.$gris-700;
					margin-top: -2px;
					cursor: pointer;
					width: fit-content;
				}
			}
		}

		&__actions{
			margin: 0 auto;
		}
	}
	@media (min-width: 1199px){
		min-width: 1032px;
		background: white;
		border-radius: 12px;
		margin-left: -280px;
	}
}
