@use '/src/scss/colors';
.paragraph{
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
	color:colors.$gris-700;
}
.container__suscription {
	display: grid;
	grid-template-columns: 0.59fr 1fr;
	&__image {
		width: 100%;
		height: 100%;
		border-radius: 8px 0px 0px 8px;
	}
	&__contend {
		padding: 32px 32px 48px 32px;
		padding-bottom: 25px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 24px;
		&__header {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			&__text {
				max-width: 592px;
				margin: 0 auto;
				padding-left: 10px;
				h3 {
					font-family: Open Sans;
					font-size: 32px;
					font-weight: 700;
					line-height: 40px;
					letter-spacing: -0.02em;
					text-align: left;
					margin: 0;
					color: colors.$red-500;
				}
				span {
					display: block;
					margin-top: 16px;
					font-family: Montserrat;
					font-size: 16px;
					font-weight: 400;
					line-height: 24px;
					letter-spacing: 0em;
					text-align: left;
				}
			}
			&__close {
				cursor: pointer;
			}
		}
		&__form {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto auto;
			gap:16px;
			padding-right: 8px;
			&__group {
				&.w-100{
					grid-row:2/3;
					grid-column: 1/3;
				}
				width: 100%;
				position: relative;
				img {
					position: absolute;
					left: 12px;
					top: 5px;
					padding: 10px 0px;
                }
				input {
					width: 100%;
					padding: 11.3px 25px 11.3px 37px;
					margin: 0px;
					border: none;
					border: 1px solid colors.$neutral-200;
					box-sizing: border-box;
					color: colors.$neutral-900;
					font-weight: 400;
					font-size: 14px;
					line-height: 20px;
					font-family: 'Montserrat';
					border-radius: 8px;
					caret-color: colors.$red-500;
					box-shadow: 0px 1px 2px 0px #1018280d;
					&::placeholder {
						color: colors.$gris-600;
					}
					&:focus {
						outline: none;
						border: 1px solid colors.$red-500;
					}
					&.error {
						border: 1px solid colors.$red-200;
						caret-color: colors.$red-200;
					}
					&.icon {
						padding-left: 27px;
					}
					&:read-only {
						color: colors.$neutral-400;
					}
				}
			}
		}

		&__checks{
			display: flex;
			flex-direction: column;
			gap:14px;
			&__row{
				display: grid;
				grid-template-columns: 18px auto;
				gap:12px;
				align-items: flex-start;
				img{
					width: 18px;
					cursor: pointer;
				}
				section{
					margin: 0;
					display: flex;
					gap:3px;
					flex-direction: row;
				}
				a,span{
					@extend .paragraph;
					text-align: left;
					margin-top: -2px;
					cursor: pointer;
					width: fit-content;
					&.error{
						color:colors.$red-200;
					}
				}
				a{
					text-decoration: underline;
				}
			}
		}

		&__actions{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 12px;
			width: 100%;
			span{
				@extend .paragraph;
			}
		}
	}
	@media (min-width: 1199px){
		min-width: 1032px;
		background: white;
		border-radius: 12px;
		margin-left: -280px;
		min-height: 535px;
	}
}

.span__error{
	position: relative;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	margin-left:5px;
	top: -3px;
	color:colors.$red-200;
}