@use '/src/scss/colors';
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

section {
	margin: 0px;
}

.modal__contend {
	padding: 40px;
	border-radius: 12px;
	background: colors.$gris-100;
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		h4 {
			font-family: Open Sans;
			font-size: 28px;
			font-weight: 700;
			line-height: 36px;
			letter-spacing: -0.02em;
			color: colors.$neutral-900;
		}
		img {
			cursor: pointer;
		}
	}

	&__body {
		margin-top: 24px;
		display: grid;
		align-items: center;
		column-gap: 15px;
		grid-template-columns: 25px auto 25px;
		overflow-y: auto;
		.active__arrow{
			cursor: pointer;
		}

		&.not-swiper{
			grid-template-columns:repeat(3,auto);
			justify-content: flex-start;
		}

			&__card {
				border-radius: 10px;
				min-height: 500px;
				width: 313px;
				padding: 20px 20px 27px 20px;
				background: white;
				box-shadow: 0px 1px 2px -1px #1018281a;
				box-shadow: 0px 1px 3px 0px #1018281a;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				&__header {
					width: 100%;
					height: 44px;
					border-bottom: 1px solid colors.$gris-300;
					padding-bottom: 10px;
					display: flex;
					justify-content: center;
					align-items: center;
					span {
						font-family: Montserrat;
						font-size: 18px;
						font-weight: 600;
						line-height: 28px;
						color: colors.$gris-800;
					}
				}
				&__options {
					margin-top: 22px;
					display: flex;
					flex-direction: column;
					gap: 16px;
					max-height: 220px;
					overflow-y: auto;
					padding-right: 8px;
					&__title{
						font-family: Montserrat;
						font-size: 14px;
						font-weight: 600;
						line-height: 20px;
						letter-spacing: 0em;
						color:colors.$blue-500;
					}
					&__check {
						display: flex;
						gap: 10px;
						align-items: flex-start;
						span {
							text-transform: lowercase;
							font-family: Montserrat;
							font-size: 14px;
							font-weight: 400;
							line-height: 20px;
							color: colors.$gris-900;
							&::first-letter{
								text-transform: capitalize;
							}
							&.muted{
								color:colors.$gris-600;
							}
						}
					}
				}

				&__price {
					display: flex;
					flex-direction: column;
					align-items: center;
					text-align: center;
					gap: 18px;
					h5 {
						font-family: Open Sans;
						font-size: 24px;
						font-weight: 700;
						line-height: 32px;
						letter-spacing: -0.02em;
						color: colors.$gris-900;
						margin-bottom: 0rem;
					}
					span {
						font-family: Montserrat;
						font-size: 16px;
						font-weight: 500;
						line-height: 24px;
						letter-spacing: 0em;
						color: colors.$gris-700;
					}
				}
			}
		
	}
	section{
		width: 100%;
	}

	.swiper{
		width: 100% !important;
	}
	.swiper-slide {
		font-size: 18px;
		background: transparent;
		/* Center slide text vertically */
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
		width: auto !important;
	}
	
	.swiper-wrapper {
		gap:15px !important;
	}
}

@media (min-width: 1300px) {
	.modal-detail-fee-swiper .modal-dialog-centered {
		min-width: 1212px;
	}
}

@media (min-width: 1199px){
	.modal-detail-fee .modal-dialog-centered {
		min-width: 1070px;
	}
}