@import '/src/scss/mixin';

.box-img-nacionales{
    display: flex;
    align-items: end;
}


.vuelos{
    display: flex;
    flex-wrap: wrap;

    @include desktop { 
        &__vuelo{
            width: 50%;
        }
     }

 


}