@use '/src/scss/colors';

.modal__cancel {
	padding: 24px;
	&__header {
		display: flex;
		justify-content: flex-end;
		img {
			cursor: pointer;
		}
	}

	h5 {
		font-family: Open Sans;
		font-size: 24px;
		font-weight: 600;
		line-height: 32px;
		letter-spacing: -0.02em;
		text-align: center;
		margin-bottom: 16px;
        color:colors.$neutral-900;
	}

	&__body {
		padding: 16px 27px;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		gap: 30px;
		span {
			font-family: Montserrat;
			font-size: 18px;
			font-weight: 400;
			line-height: 28px;
			letter-spacing: 0em;
			text-align: center;
			color: colors.$neutral-900;
            display: block;
		}
		&__actions {
			display: grid;
			gap: 30px;
			grid-template-columns: 1fr 1fr;
            width: 100%;
		}
	}
    section{
        margin: 0;
    }
}

.modal-detail-validate .modal-dialog-centered {
	min-width: 679px !important;
}
