@use '/src/scss/colors';

ngb-datepicker{
    border: none !important;
}

::ng-deep .ngb-dp-header{
    padding: 0 !important;
}

::ng-deep .ngb-dp-content{
    padding: 0 !important;
}

::ng-deep .ngb-dp-month:first-child{
    border-right: none;
}

::ng-deep .ngb-dp-weekday {
    width: 32.5px !important;
    height: 28px !important;
}

::ng-deep .ngb-dp-day, ::ng-deep .ngb-dp-day span{
    width: 32px !important;
    height: 32px !important;
    font-weight: 500 !important;
}

::ng-deep .ngb-dp-navigation-select{
    visibility: hidden !important;
}

::ng-deep .ngb-dp-header{
    display:  var(--visibility);
}

::ng-deep.custom-day.range,
::ng-deep.custom-day:hover {
    background-color: colors.$red-500;
    color: white;
}
::ng-deep.custom-day.faded {
    background-color: colors.$gris-50;
    color:colors.$gris-900;
}

::ng-deep .ngb-dp-month-name{
    font-size: 15px !important;
    margin: 0 auto !important;
    margin-top: -32px !important;
    text-transform: lowercase !important;
    &::first-letter{
        text-transform: uppercase;
    }
}

::ng-deep .custom-day.selected {
    background-color:colors.$red-500;
    color: #fff;
    border-radius: 5px;
  }

::ng-deep .ngb-dp-week [role=gridcell].disabled{
    background: none;
    color:colors.$gris-600;
}


.container__range{
    display: flex;
    align-items: center;
    gap:16px;
    width: 100%;
    position: relative;
    &__date{
        &[tabindex] {
            outline: none !important;
        }
    }
    &__date{
        cursor: pointer;
        height: 60px;
        padding: 16px;
        border-radius: 8px;
        border: 1px solid colors.$gris-200;
        box-shadow: 0px 1px 2px 0px #1018280D;
        background: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap:8px;
        width: 50%;
        &:focus,&:active,&.active{
            border: 1px solid colors.$red-500;
        }
        &.multi{
            width: 100%;
        }
        &.inactive{
            background: colors.$gris-50;
            cursor: default;
        }
        span{
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: left;
            &.inactive{
                color:colors.$gris-600;
            }
            &.active{
                color:colors.$gris-900;
            }
        }
    }

    section{
        margin:0;
        position: absolute;
        z-index: 5;
        top: calc(100% + 20px);
        left: 0;
        width: fit-content;
    }

    &__datepicker{
        width: fit-content;
        background: white;
        border-radius: 8px;
        border:1px solid colors.$gris-200;
        box-shadow: 0px 1px 3px 0px #1018281A;
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap:12px;
        &__buttons{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 5px;
        }

        &__calendar{
            display: flex;
            flex-direction: column;
            gap:8px;
            &__actions{
                display: flex;
                justify-content: space-between;
                align-items: center;
                span{
                    font-size: 15px;
                    font-weight: 600;
                    letter-spacing: -0.02em;
                }
            }
        }
    }


    &__arrow{
        position: absolute;
        margin-top: -10px;
        left: 18px;
        width: 20px;
        height: 20px;
        border-radius: 0px 4px 0px 0px;
        transform: rotate(-45deg);
        z-index: 5;
        background: white;
        border: solid;
        border-width: 1px 1px 0px 0px;
        border-color: colors.$gris-200;
    }

    @media(max-width:575px){
        flex-direction: column;
        gap:8px;
        &__date{
            width: 100%;
            padding: 12px 12px;
            height: 45.6px;
            img{
                width: 16px;
            }
            span{
                font-size: 14px;
                line-height: 20px;
            }
            &.inactive{
                display: none;
            }
        }
        section{
            top: 65px;
        }
        ::ng-deep .ngb-dp-month-name{
            font-size: 13px !important;
        }
        &__datepicker{
            padding: 14px;
            gap: 8px;
        }
    }

    @media(max-width:318px){
        section{
            left: -25px;
        }
        &__datepicker{
            padding: 12px 5px;
        }
    }
    
}