.tooltip-container {
	position: relative;
	display: inline-block;
}

.tooltip {
	position: absolute;
	background-color: #333;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 14px;
	opacity: 0;
	visibility: hidden;
	white-space: nowrap;
	z-index: 1;
}

.tooltip-container:hover .tooltip {
	opacity: 1;
	visibility: visible;
}

.tooltip::before {
	content: '';
	position: absolute;
	border: 8px solid transparent;
	border-bottom-color: #333;
	left: 50%;
	bottom: calc(100% + 5px);
	transform: translateX(-50%);
	border-radius: 2px;
}
