<div class="toolbar" [class.fixed]="!isShowMenu">
	<div class="toolbar__section">
		<img
			class="toolbar__section__logo"
			[src]="!isShowMenu ? './assets/svg/logoRed.svg' : './assets/svg/Logo_nmviajes.svg'"
			alt=""
			(click)="toHome()"
		/>
		<div class="toolbar__section__actions" *ngIf="isShowMenu">
			<div class="toolbar__section__actions__icon">
				<img
					src="./assets/svg/bi_question-circle.svg"
					alt=""
					(click)="redirect('https://ayuda.nmviajes.com/support/home')"
				/>
				<div class="toolbar__section__actions__icon__arrow"></div>
				<div class="toolbar__section__actions__icon__tooltip support">
					<span>Ayuda</span>
				</div>
			</div>
			<div class="toolbar__section__actions__icon">
				<img src="./assets/svg/ph_headset.svg" alt="" routerLink="/canales-de-atencion" />
				<div class="toolbar__section__actions__icon__arrow"></div>
				<div class="toolbar__section__actions__icon__tooltip contact">
					<span>Contáctanos</span>
				</div>
			</div>
			<ng-container *ngIf="!isLogged">
				<app-button [text]="'Iniciar sesión'" [color]="'outline-primary'" (click)="openLoginModal()"></app-button>
			</ng-container>
			<div class="toolbar__section__actions__profile" *ngIf="isLogged">
				<img
					appImgDefault
					[default]="'./assets/user-conect.svg'"
					[src]="userStorage.image"
					class="toolbar__section__actions__profile__image"
				/>
				<div class="toolbar__section__actions__profile__dropdown" (click)="showOptionsProfile = !showOptionsProfile">
					<span>{{ userStorage.name.split(' ')[0] }}</span>
					<img src="./assets/svg/dropdown_login.svg" alt="" />
					<ng-container *ngIf="showOptionsProfile">
						<div class="toolbar__section__actions__profile__dropdown__arrow"></div>
						<div class="toolbar__section__actions__profile__dropdown__options">
							<div class="option">
								<img src="./assets/svg/profile.svg" alt="" />
								<span routerLink="/perfil/mi-perfil">Perfil</span>
							</div>
							<div class="option">
								<img src="./assets/svg/logout.svg" alt="" />
								<span class="logout" (click)="logout()">Cerrar sesión</span>
							</div>
						</div>
					</ng-container>
				</div>
			</div>
		</div>
	</div>
</div>
