@import "/src/scss/variables";
.spacer {
    flex: 1 1 auto;
}

.mat-toolbar {
    background-color: $red;
    color: $white;
    svg.logo {
        cursor: pointer;
        margin-left: 50px;
        @media (max-width: 768px) {
            width: 100px;
            margin-left: 0px;
        }
    }
    & .main {
        padding: 0px;
        line-height: 0;
        background: transparent;
        margin-left: 5px;
    }
    & > a {
        margin-right: 5px;
        color: $white;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        @media (max-width: 768px) {
            margin: 0 9px;
        }
        & > span {
            font-size: 11px;
            line-height: 10px;
            display: flex !important;
            flex-direction: column;
            align-items: center;
            color: $red;
            font-weight: normal;
            white-space: pre-line;
            width: 50px;
            height: 2px;
            @media (max-width: 768px) {
                display: none !important;
            }
        }
        &:hover > span {
            line-height: 14px;
            color: $white;
            height: auto;
        }

        // &:first-child {
        //     padding-left: 18px !important;
        //     border-left: 1px solid blue !important;
        // }
    }
    ul {
        list-style: none;
        margin-bottom: 0;
        li {
            display: inline-block;
            margin: 0 20px;
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                color: rgba(255, 255, 255, 1);
                text-decoration: none;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 0.5px;
                line-height: 20px;
                &:after {
                    content: "";
                    display: block;
                    margin: auto;
                    height: 2px;
                    width: 0px;
                    transition: all 0.3s;
                }
                &:hover {
                    color: rgba(255, 255, 255, 1);
                    &:after {
                        width: 100%;
                        background: $white;
                    }
                }
            }
        }
    }
}
.active {
    color: rgba(255, 255, 255, 1) !important;
    &:after {
        content: "" !important;
        display: block !important;
        margin: auto !important;
        height: 2px !important;
        width: 0px !important;
        transition: all 0.3s !important;
        width: 100% !important;
        background: $white !important;
        color: rgba(255, 255, 255, 1) !important;
    }
}

.border{
    border-color: white!important
}