<div class="toolbar" [class.booking]="!isWhiteMenu">
	<div class="toolbar__section">
		<div class="toolbar__section__bars" *ngIf="isWhiteMenu" (click)="clickMenuMobile()">
			<app-burger-menu [showMenu]="showMenuMobile"></app-burger-menu>
		</div>
		<img
			class="toolbar__section__logo"
			[src]="!isWhiteMenu ? './assets/svg/logoRed.svg' : './assets/svg/Logo_nmviajes.svg'"
			alt=""
			(click)="toHome()"
		/>
		<div class="toolbar__section__actions" *ngIf="isWhiteMenu">
			<div class="toolbar__section__actions__icon">
				<img
					src="./assets/svg/bi_question-circle.svg"
					alt="i"
					(click)="redirect('https://ayuda.nmviajes.com/support/home')"
				/>
				<div class="toolbar__section__actions__icon__arrow"></div>
				<div class="toolbar__section__actions__icon__tooltip support">
					<span>Ayuda</span>
				</div>
			</div>
			<div class="toolbar__section__actions__icon">
				<img src="./assets/svg/ph_headset.svg" alt="i" routerLink="/canales-de-atencion" />
				<div class="toolbar__section__actions__icon__arrow"></div>
				<div class="toolbar__section__actions__icon__tooltip contact">
					<span>Contáctanos</span>
				</div>
			</div>
			<app-button
				*ngIf="!isLogged"
				[text]="'Iniciar sesión'"
				[isMobile]="true"
				[color]="'outline-primary'"
				(click)="openLoginModal()"
			></app-button>

			<div class="toolbar__section__actions__profile" *ngIf="isLogged" #dropdown>
				<img
					[src]="userStorage.image"
					onerror="this.src='./assets/svg/profile-red.svg'"
					class="toolbar__section__actions__profile__image"
					(click)="showOptionsProfile = !showOptionsProfile"
				/>
				<div class="toolbar__section__actions__profile__dropdown" (click)="showOptionsProfile = !showOptionsProfile">
					<span>{{ userStorage.name.split(' ')[0] }}</span>
					<img src="./assets/svg/dropdown_login.svg" alt="" class="dropdown_img" />
					<ng-container *ngIf="showOptionsProfile">
						<div class="toolbar__section__actions__profile__dropdown__arrow"></div>
						<div class="toolbar__section__actions__profile__dropdown__options">
							<div class="option">
								<img src="./assets/svg/profile.svg" alt="" />
								<span routerLink="/perfil/mi-perfil">Perfil</span>
							</div>
							<div class="option">
								<img src="./assets/svg/logout.svg" alt="" />
								<span class="logout" (click)="logout()">Cerrar sesión</span>
							</div>
						</div>
					</ng-container>
				</div>
			</div>
		</div>

		<img
			*ngIf="!isLogged && isWhiteMenu"
			src="./assets/svg/profile-red.svg"
			alt="img"
			class="profile-mobile"
			(click)="openLoginModal()"
		/>

		<img
			*ngIf="isLogged && isWhiteMenu"
			routerLink="/perfil/mi-perfil"
			onerror="this.src='./assets/svg/profile-red.svg'"
			[src]="userStorage.image"
			alt="img"
			class="profile-mobile"
		/>
	</div>
</div>
<app-toolbar-mobile
	[showItems]="showMenuMobile"
	[isLogged]="isLogged"
	(clickButton)="isLogged ? logout() : openLoginModal()"
	(clickInfo)="clickMenuMobile(true)"
></app-toolbar-mobile>
