@use '/src/scss/colors';

.toolbar {
	min-height: 96px;
	padding: 24px 96px;
	background: white;
  width: 100%;
  box-shadow: 0px 1px 2px -1px #1018281A;
  box-shadow: 0px 1px 3px 0px #1018281A;
  border-bottom:1px solid #e9ebed; 
  &.fixed {
    position: fixed;
    z-index: 5;
    background: colors.$red-500;
    padding: 16px 96px;
    min-height: 70px;
    border-bottom: transparent;
  }

  &__section{
    max-width: 1440px;
		margin: 0 auto;
    display: flex;
		justify-content: space-between;
		align-items: center;
    &__logo {
      cursor: pointer;
    }
    &__actions {
      display: flex;
      gap: 32px;
      justify-content: flex-end;
      align-items: center;
      &__icon{
        cursor: pointer;
      }
      &__profile{
         display: flex;
         gap:16px;
         align-items: center;
         &__image{
            border-radius: 50%;
            width: 48px;
            height: 48px;
         }
         &__dropdown{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 8px;
            cursor: pointer;
            position: relative;
            span{
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 0em;
                text-align: left;
            }
            &__options{
               position: absolute;
               box-shadow: 0px 4px 6px -4px #1018281A;
               box-shadow: 0px 10px 15px -3px #1018281A;
               border: 1px solid colors.$neutral-200;
               padding: 8px 6px 8px 6px;
               border-radius: 4px;
               width: 132px;
                z-index: 11;
                right: 5px;
                top: 40px;
                background: white;

               .option{
                padding: 4px 8px;
                span{
                  font-family: Montserrat;
                  font-size: 14px;
                  font-weight: 600;
                  line-height: 20px;
                  letter-spacing: 0em;
                  padding-bottom: 0px;
                  cursor: pointer;
                  width: 100%;
                  &.red{
                    color:colors.$red-500;
                  }
                  &.blue{
                    color:colors.$blue-500;
                  }
                }
              }

            }
         }
      }
    }
  }
}
