<ng-container *ngIf="data">
    <div class="modal-header">
        <div class="title">
            <div class="textTitle">Solicitud de Compra de tu Vuelo N{{cot_Id}}</div>
            <div class="msgTag">{{data.estado_Reserva}}</div>
        </div>
        <button type="button" class="btn-close" (click)="ngbActiveModal.close()"></button>
    </div>
    <div class="modal-body">
        <div class="msgAlert">
            Excelente elección. Tu solicitud de reserva es {{reserva_Id}} ha sido recibida y está siendo procesada
        </div>

        <div class="portletReserva">
            <div class="boxDetReserva">
                <div class="headerPortlet">
                    <div class="titleBoxRight">
                        Información de pago con Tarjeta de Crédito
                    </div>
                </div>
                <div class="contentPortlet">
                    <ul *ngIf="data.codigo_Pago_Safetypay === ''">
                        <li><span>Tipo de tarjeta:</span> {{data.tipo_Tarjeta}}</li>
                        <li><span>Titular de la tarjeta:</span> {{data.titular_Tarjeta}}</li>
                        <li><span>Documento del titular:</span> {{data.tipo_Doc_Titular_Tarjeta}}
                            {{data.num_Doc_Titular_Tarjeta}}</li>
                        <li>
                            <span>Dirección:</span> {{data.contac_Direccion}}
                        </li>
                        <li><span>Estado de reserva:</span> {{data.estado_Reserva}}</li>
                    </ul>
                    <div class="footerReserva">
                        <div class="alignLeft">
                            <div class="totalSafetypay" *ngIf="data.codigo_Pago_Safetypay !== ''">
                                <div class="labelTotal">CODIGO SAFETYPAY:</div>
                                <div class="montoTotal">{{data.codigo_Pago_Safetypay}}</div>
                            </div>
                        </div>
                        <div class="alignRigth">
                            <div class="totalInfoPago">
                                <div class="labelTotal">TOTAL:</div>
                                <div class="montoTotal">USD {{data.importe}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="boxDetReserva">
                <div class="headerPortlet">
                    <div class="titleBoxRight">
                        Equipajes que incluyen en tu vuelo (Ida y vuelta)
                    </div>
                </div>
                <div class="contentPortlet">
                    <div class="rowEquipaje">
                        <div class="itemEquipaje">
                            <div class="iconEquipaje">
                                <img src="./assets/modal/mochila.svg" alt="" class="img-fluid" style="width: 22px" />
                                <span class="labelEquipaje ms-2">Incluye bolso de mano</span>
                            </div>
                        </div>
                        <div class="itemEquipaje">
                            <div class="iconEquipaje">
                                <img src="./assets/modal/equipaje-mano.svg" alt=""
                                    *ngIf="data.cantidadMaletas !== '0' && data.cantidadMaletas" />
                                <img src="./assets/modal/equipaje-no.svg" alt=""
                                    *ngIf="data.cantidadMaletas === '0' || !data.cantidadMaletas" />
                                <span class="labelEquipaje ms-2">Incluye equipaje de mano</span>
                            </div>
                        </div>
                        <div class="itemEquipaje">
                            <div class="iconEquipaje">
                                <img src="./assets/modal/bodega-no.svg" alt=""
                                    *ngIf="data.cantidadMaletas === '0' || !data.cantidadMaletas" />
                                <img src="./assets/modal/bodega-si.svg" alt=""
                                    *ngIf="data.cantidadMaletas !== '0' && data.cantidadMaletas" />
                                <span class="labelEquipaje ms-2">No incluye equipaje en bodega</span>
                            </div>
                        </div>
                        <div class="itemEquipaje">
                            <div class="iconEquipaje">
                                <img src="./assets/modal/incluye.svg" alt="" />
                                <span class="labelEquipaje ms-2">
                                    Puedes agregar maletas por un cargo adicional en el aeropuerto
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="boxDetReserva">
                <div class="headerPortlet">
                    <div class="titleBoxRight">Datos del Pasajero(s)</div>
                </div>
                <div class="contentPortlet">
                    <div class="rowPasajero">
                        <div class="itemPasajero" *ngFor="let item of data.pasajeros">
                            <div class="iconEquipaje">
                                <img src="./assets/contact.svg" alt="" />
                                <span class="labelEquipaje ms-2">
                                    {{item.pasaj_Tipo}} - {{item.pasaj_Nombre}} {{item.pasaj_Apellido}} -
                                    {{item.tipo_Documento}} {{item.pasaj_Dni}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="boxDetReserva">
                <div class="headerPortlet">
                    <div class="titleBoxRight">Detalle de tu vuelo</div>
                </div>
                <ng-container *ngIf="data.tipo_Vuelo === 'Solo Ida'">
                    <div class="contentPortlet">
                        <app-segmento [data]="data.destinos[0]"></app-segmento>
                    </div>
                </ng-container>
                <ng-container *ngIf="data.tipo_Vuelo !== 'Solo Ida'">

                    <div class="contentPortlet">
                        <ng-container *ngFor="let itemDeparture of data.destinosIda">
                            <app-segmento [data]="itemDeparture"></app-segmento>
                        </ng-container>

                    </div>
                    <div class="contentPortlet">
                        <ng-container *ngFor="let itemReturn of data.destinosVuelta">
                            <app-segmento [data]="itemReturn" [isDeparture]="false"></app-segmento>
                        </ng-container>
                    </div>
                </ng-container>
            </div>

            <div class="boxDetReserva">
                <div class="headerPortlet">
                    <div class="titleBoxRight">Datos de Contacto</div>
                </div>
                <div class="contentPortlet">
                    <div class="rowPasajero">
                        <div class="itemPasajero">
                            <div class="iconEquipaje">
                                <img src="./assets/confirm-user.svg" alt="" />
                                <span class="labelEquipaje ms-2">
                                    Nombre: {{data.contac_Nombre}} {{data.contac_Apellido}}
                                </span>
                            </div>
                        </div>
                        <div class="itemPasajero">
                            <div class="iconEquipaje">
                                <img src="./assets/confirm-mail.svg" alt="" />
                                <span class="labelEquipaje ms-2">Email: {{data.contac_Email}}</span>
                            </div>
                        </div>
                        <div class="itemPasajero">
                            <div class="iconEquipaje mb-3">
                                <img src="./assets/confirm-phone.svg" alt="" />
                                <span class="labelEquipaje ms-2">Teléfono: (51) {{data.contac_Telefono}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
