
  <div class="modal-header">
    <div class="title">
      <div class="textTitle">Solicitud de Compra de tu Vuelo N{{cot_Id}}</div>
      <div class="msgTag">{{data.estado_Reserva}}</div>
    </div>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <div class="msgAlert">
      Excelente elección. Tu solicitud de reserva es {{reserva_Id}} ha sido recibida y
      está siendo procesada
    </div>

    <div class="portletReserva">
      <div class="boxDetReserva">
        <div class="headerPortlet">
          <div class="titleBoxRight">
            Información de pago con Tarjeta de Crédito
          </div>
        </div>
        <div class="contentPortlet">
          <ul>
            <li><span>Tipo de tarjeta:</span></li>
            <li><span>Titular de la tarjeta:</span> JOSE RIOS MAZUELOS</li>
            <li><span>Documento del titular:</span> DNI 43942556</li>
            <li>
              <span>Dirección:</span> ANDRES CASTELLO 109 DPTO 301 SAN MIGUEL
            </li>
            <li><span>Estado de reserva:</span> {{data.estado_Reserva}}</li>
          </ul>
          <div class="alignRigth">
            <div class="totalInfoPago">
              <div class="labelTotal">TOTAL:</div>
              <div class="montoTotal">USD {{data.importe}}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="boxDetReserva">
        <div class="headerPortlet">
          <div class="titleBoxRight">
            Equipajes que incluyen en tu vuelo (Ida y vuelta)
          </div>
        </div>
        <div class="contentPortlet">
          <div class="rowEquipaje">
            <div class="itemEquipaje">
              <div class="iconEquipaje">
                <img src="./assets/modal/mochila.svg" alt="" />
              </div>
              <div class="labelEquipaje">Incluye bolso de mano</div>
            </div>
            <div class="itemEquipaje">
              <div class="iconEquipaje">
                <img src="./assets/modal/mochila.svg" alt="" />
              </div>
              <div class="labelEquipaje">Incluye equipaje de mano</div>
            </div>
            <div class="itemEquipaje">
              <div class="iconEquipaje">
                <img src="./assets/modal/bodega-no.svg" alt="" />
              </div>
              <div class="labelEquipaje">No incluye equipaje en bodega</div>
            </div>
            <div class="itemEquipaje">
              <div class="iconEquipaje">
                <img src="./assets/modal/incluye.svg" alt="" />
              </div>
              <div class="labelEquipaje">
                Puedes agregar maletas por un cargo adicional en el aeropuerto
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="boxDetReserva">
        <div class="headerPortlet">
          <div class="titleBoxRight">Datos del Pasajero(s)</div>
        </div>
        <div class="contentPortlet">
          <div class="rowPasajero">
            <div class="itemPasajero" *ngFor="let item of data.pasajeros">
              <div class="iconEquipaje">
                <img src="./assets/contact.svg" alt="" />
              </div>
              <div class="labelEquipaje">
                {{item.pasaj_Tipo}} - {{item.pasaj_Nombre}} {{item.pasaj_Apellido}} - {{item.tipo_Documento}} {{item.pasaj_Dni}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="boxDetReserva">
        <div class="headerPortlet">
          <div class="titleBoxRight">Datos de Contacto</div>
        </div>
        <div class="contentPortlet">
          <div class="rowPasajero">
            <div class="itemPasajero">
              <div class="iconEquipaje">
                <img src="./assets/confirm-user.svg" alt="" />
              </div>
              <div class="labelEquipaje">
                Nombre: {{data.contac_Nombre}} {{data.contac_Apellido}}
              </div>
            </div>
            <div class="itemPasajero">
              <div class="iconEquipaje">
                <img src="./assets/confirm-mail.svg" alt="" />
              </div>
              <div class="labelEquipaje">Email: {{data.contac_Email}}</div>
            </div>
            <div class="itemPasajero">
              <div class="iconEquipaje">
                <img src="./assets/confirm-phone.svg" alt="" />
              </div>
              <div class="labelEquipaje">Telefono: (51) {{data.contac_Telefono}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
