<div class="container__steps">
    <section>
        <ng-container *ngFor="let step of dataSteps">
            <div class="container__steps__step" [class.end]="step.id==0">
                <div class="container__steps__step__number" [class.active]="step.active" [class.check]="step.check" (click)="clickStep(step.id)">
                    <span *ngIf="!step.check">{{step.id + 1}}</span>
                    <img *ngIf="step.check" src="./assets/svg/check-red-step.svg" >
                </div>
                <span class="container__steps__step__text"  [class.active]="step.active">{{step.name}}</span>
            </div>
            <div class="container__steps__line" *ngIf="step.id!==2"></div>
        </ng-container>
    </section>
</div>