<!--assets/svg/radio-check.svg-->
<div class="section__search">
    <div class="section__search__options">
        <div class="section__search__options__radios">
            <div class="section__search__options__radios__radio">
                <img src="./assets/svg/radio-circle.svg" alt="o">
                <span>Ida y vuelta</span>
            </div>
            <div class="section__search__options__radios__radio">
                <img src="./assets/svg/radio-circle.svg" alt="o">
                <span>Solo ida</span>
            </div>
            <div class="section__search__options__radios__radio">
                <img src="./assets/svg/radio-circle.svg" alt="o">
                <span>Multidestino</span>
            </div>
        </div>
        <div class="section__search__options__dropdowns">
            <app-input-passengers #childPassengers></app-input-passengers>
            <app-input-class #childClass></app-input-class>
        </div>
    </div>
    <div  class="section__search__inputs">
        <app-input-search-flight #childInputs></app-input-search-flight>
        <app-input-range #childDates></app-input-range>
        <app-button
			[text]="'Buscar'"
			[left]="true"
			[icon]="'search.svg'"
            (onClick)="search()"
		></app-button>
    </div>
</div>