<div class="modal__insurance">
	<div class="modal__insurance__header">
		<h4>Detalle de cobertura</h4>
		<img src="./assets/svg/close-modal.svg" (click)="activeModal.close()" />
	</div>
	<div class="modal__insurance__body table-responsive">
		<table *ngIf="!isDomestic" class="table">
			<thead>
				<tr style="text-align: end">
				  <th scope="col"></th>
				  <th scope="col text-end">EUROPA</th>
				  <th scope="col text-end" style="white-space:nowrap">RESTO DEL MUNDO</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				  <td class="text-start"><strong>Monto Máximo Global</strong></td>
				  <td class="text-end"><strong>€ 30,000</strong></td>
				  <td class="text-end"><strong>USD 30,000</strong></td>
				</tr>
				<tr>
					<td class="text-start">Asistencia Médica en caso de Accidente *</td>
					<td class="text-end" style="white-space:nowrap">Hasta EUR 30,000</td>
					<td class="text-end">Hasta USD 30,000</td>
				</tr>
				<tr>
					<td class="text-start">Asistencia Médica en caso de Enfermedad no preexistente *</td>
					<td class="text-end">Hasta EUR 30,000</td>
					<td class="text-end">Hasta USD 30,000</td>
				</tr>
				<tr>
					<td class="text-start">Primera Atención Médica en caso de Enfermedad preexistente *</td>
					<td class="text-end">Hasta EUR 300</td>
					<td class="text-end">Hasta EUR 300</td>
				</tr>
				<tr>
					<td class="text-start">Odontología de urgencia</td>
					<td class="text-end">Hasta USD 500</td>
					<td class="text-end">Hasta USD 500</td>
				</tr>
				<tr>
					<td class="text-start">Medicamentos ambulatorios</td>
					<td class="text-end">Hasta EUR 800</td>
					<td class="text-end">Hasta EUR 800</td>
				</tr>
				<tr>
					<td class="text-start">Medicamentos en caso de hospitalización</td>
					<td class="text-end">Incluido</td>
					<td class="text-end">Incluido</td>
				</tr>
				<tr>
					<td class="text-start">Práctica de deportes*</td>
					<td class="text-end">Hasta EUR 30,000</td>
					<td class="text-end">Hasta EUR 30,000</td>
				</tr>
				<tr>
					<td class="text-start">Estado de embarazo *</td>
					<td class="text-end">Hasta EUR 30,000</td>
					<td class="text-end">Hasta EUR 30,000</td>
				</tr>
				<tr>
					<td class="text-start">Prótesis y ortesis</td>
					<td class="text-end">Hasta EUR 30,000</td>
					<td class="text-end">Hasta EUR 30,000</td>
				</tr>
				<tr>
					<td class="text-start">Traslados Sanitarios</td>
					<td class="text-end">Hasta EUR 30,000</td>
					<td class="text-end">Hasta EUR 30,000</td>
				</tr>
				<tr>
					<td class="text-start">Repatriaciones (Sanitaria o funeraria)</td>
					<td class="text-end">Hasta EUR 30,000</td>
					<td class="text-end">Hasta EUR 30,000</td>
				</tr>
				<tr>
					<td class="text-start">Regreso de Acompañante del titular repatriado</td>
					<td class="text-end">Hasta EUR 30,000</td>
					<td class="text-end">Hasta EUR 30,000</td>
				</tr>
				<tr>
					<td class="text-start">Traslado de un familiar</td>
					<td class="text-end">Hasta EUR 30,000</td>
					<td class="text-end">Hasta EUR 30,000</td>
				</tr>
				<tr>
					<td class="text-start">Estancia de un familiar - Limite Diario</td>
					<td class="text-end">Hasta EUR 30,000</td>
					<td class="text-end">Hasta EUR 30,000</td>
				</tr>
			</tbody>
		</table>

		<table *ngIf="isDomestic" class="table">
			<thead>
				<tr style="text-align: end">
				  <th scope="col"></th>
				  <th scope="col text-end">CÓDIGO</th>
				  <th scope="col text-end" style="white-space:nowrap">PERÚ</th>
				</tr>
			</thead>
		    <tbody>
				<tr>
					<td class="text-start"><strong>MONTO MÁXIMO GLOBAL</strong></td>
					<td class="text-end"><strong>C.4</strong></td>
					<td class="text-end"><strong>USD 5,000</strong></td>
				</tr>
				<tr>
					<td class="text-start">ASISTENCIA MÉDICA EN CASO DE ACCIDENTE:</td>
					<td class="text-end">C.4.1.10.1</td>
					<td class="text-end" style="white-space:nowrap">Hasta USD 5.000</td>
				</tr>
				<tr>
					<td class="text-start">ASISTENCIA MÉDICA EN CASO DE ENFERMEDAD NO PREEXISTENTE (INCLUIDO COVID-19):</td>
					<td class="text-end">C.4.1.10.2</td>
					<td class="text-end">Hasta USD 5,000</td>
				</tr>
				<tr>
					<td class="text-start">MEDICAMENTOS EN ASISTENCIAS AMBULATORIAS:</td>
					<td class="text-end">C.4.1.5.1</td>
					<td class="text-end">USD 100</td>
				</tr>
				<tr>
					<td class="text-start">ODONTOLOGÍA DE URGENCIA/ASISTENCIAS EN EL PAÍS DE EMISIÓN DE LA TARJETA</td>
					<td class="text-end">C.4.1.6.2</td>
					<td class="text-end">Hasta USD 100</td>
				</tr>
				<tr>
					<td class="text-start">PRÁCTICA DE DEPORTES</td>
					<td class="text-end">C.4.21</td>
					<td class="text-end">Hasta EUR 1,000</td>
				</tr>
				<tr>
					<td class="text-start">ESTADO DE EMBARAZO</td>
					<td class="text-end">C.4.22</td>
					<td class="text-end">Hasta EUR 1,000</td>
				</tr>
				<tr>
					<td class="text-start">TRASLADOS SANITARIOS</td>
					<td class="text-end"></td>
					<td class="text-end">INCLUIDO C.4</td>
				</tr>
				<tr>
					<td class="text-start">REPATRIACIÓN SANITARIA</td>
					<td class="text-end"></td>
					<td class="text-end">INCLUIDO C.4</td>
				</tr>
				<tr>
					<td class="text-start">ACOMPAÑAMIENTO DE MENORES Y MAYORES</td>
					<td class="text-end"></td>
					<td class="text-end">INCLUIDO C.4</td>
				</tr>
				<tr>
					<td class="text-start">TRASLADO DE UN FAMILIAR</td>
					<td class="text-end"></td>
					<td class="text-end">INCLUIDO C.4</td>
				</tr>
				<tr>
					<td class="text-start">DIFERENCIA DE TARIFA POR VIAJE DE REGRESO RETRASADO O ANTICIPADO</td>
					<td class="text-end"></td>
					<td class="text-end">INCLUIDO C.4</td>
				</tr>
				<tr>
					<td class="text-start">ASISTENCIA EN CASO DE ROBO O EXTRAVÍO DE DOCUMENTOS</td>
					<td class="text-end"></td>
					<td class="text-end">INCLUIDO C.4</td>
				</tr>
				<tr>
					<td class="text-start">REGRESO ANTICIPADO POR SINIESTRO GRAVE EN EL DOMICILIO</td>
					<td class="text-end"></td>
					<td class="text-end">INCLUIDO C.4</td>
				</tr>
				<tr>
					<td class="text-start">REPATRIACIÓN O TRASLADOS FUNERARIOS</td>
					<td class="text-end"></td>
					<td class="text-end">INCLUIDO C.4</td>
				</tr>
	
				<tr>
					<td class="text-start">LOCALIZACIÓN DE EQUIPAJES</td>
					<td class="text-end"></td>
					<td class="text-end">INCLUIDO</td>
				</tr>
				<tr>
					<td class="text-start">ASISTENCIA LEGAL/ADELANTO EN CONCEPTO DE PRÉSTAMO</td>
					<td class="text-end">C.4.17.1</td>
					<td class="text-end">USD 100</td>
				</tr>
				<tr>
					<td class="text-start">ANTICIPO DE FONDOS PARA FIANZAS POR RESPONSABILIDAD EN UN ACCIDENTE</td>
					<td class="text-end">C.4.18</td>
					<td class="text-end">USD 150</td>
				</tr>
				<tr>
					<td class="text-start">ASISTENCIA LEGAL PARA REALIZAR RECLAMOS A RAÍZ DE ACCIDENTES</td>
					<td class="text-end">C.4.19</td>
					<td class="text-end">INCLUIDO</td>
				</tr>
				<tr>
					<td class="text-start">VALIDEZ TERRITORIAL</td>
					<td class="text-end">NACIONAL</td>
					<td class="text-end">A PARTIR DE LOS 100 KM</td>
				</tr>
				<tr>
					<td class="text-start">DIAS CONSECUTIVOS DE VIAJE/DENTRO DEL PAÍS DE EMISIÓN DE LA TARJETA</td>
					<td class="text-end"></td>
					<td class="text-end">HASTA 60 DÍAS</td>
				</tr>
				<tr>
					<td class="text-start">LIMITACIONES Y EXCLUSIONES ESPECIALES POR EDAD</td>
					<td class="text-end"></td>
					<td class="text-end">NO APLICAN</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
