@use '/src/scss/colors';

.group-input {
	padding-right: 4px;
	img{
		left: 3px;
		top: 5px;
		padding: 10px 0px;
		color:colors.$neutral-400;
	}

	.icon-right{
		left: calc(100% - 21px);
		cursor:pointer;
	}

	input {
		width: 100%;
		padding:8px 12px;
		margin: 0px;
		border:none;
		border: 1px solid colors.$neutral-200;
		box-sizing: border-box;
		color:colors.$neutral-900;
		font-weight: 400;
		font-size: 14px;
		padding-left: 0px;
		line-height: 20px;
		font-family: 'Montserrat';
		padding: 8px 12px;
		border-radius: 4px;
		&::placeholder{
			color:colors.$neutral-400;
		}
		&:focus {
			outline: none;
   			border:1px solid colors.$blue-300;
		}
		&.error{
			border:1px solid colors.$red-400;
			caret-color:colors.$red-400;
		}
		&.icon{
			padding-left: 27px;
		}
		&.label{
			margin: 4px;
		}
		&:read-only{
			color:colors.$neutral-400;
			border-bottom: 1px solid colors.$neutral-300;
		}
	}
	
}

.span__label{
	color:colors.$neutral-900;
	margin-left:3px;
	font-weight: 500;
	font-family: 'Montserrat';
	font-size: 14px;
	line-height: 20px;
	&__required{
		color:colors.$red-400;
	}
	&.disabled{
		color:colors.$neutral-400;
	}
	img{
		width: 24px;
		height: 24px;
	}
}

.span__error{
	position: relative;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	margin-left:5px;
	top: -3px;
	color:colors.$red-400;
}