<div class="row py-5">
    <div class="col-md-6 col-12 text-center">
        <!-- <div class="row">
            <h2>Viaja seguro con Assist Card y NM Viajes</h2>
        </div> -->
        <div class="row">
            <!-- SLIDER -->
            <div id="carouselSeguros" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselSeguros" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselSeguros" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselSeguros" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <h2>Viaja seguro con <strong>Assist Card y </strong><span>NM Viajes</span></h2>
                        <img src="./assets/seguros/like.png " alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <p>Reembolso de gastos por cancelación, interrumpción y reprogramación de vuelos por
                                diagnóstico positivo de COVID-19</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <h2>Viaja seguro con <strong>Assist Card y </strong><span>NM Viajes</span></h2>
                        <img src="./assets/seguros/like.png " alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <!-- <h5>Second slide label</h5> -->
                            <p>Reembolso de gastos por cancelación, interrumpción y reprogramación de vuelos por
                                diagnóstico positivo de COVID-19</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <h2>Viaja seguro con <strong>Assist Card y </strong><span>NM Viajes</span></h2>

                        <img src="./assets/seguros/like.png " alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <!-- <h5>Third slide label</h5> -->
                            <p>Reembolso de gastos por cancelación, interrumpción y reprogramación de vuelos por
                                diagnóstico positivo de COVID-19</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselSeguros"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselSeguros"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="clearfix"></div>
            <!-- end SLIDER -->
        </div>


    </div>
    <div class="col-md-6 col-12">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/Ob2k8t6vEOs"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <div class="clearfix"></div>
</div>
<div class="container-fluid px-5">
<div class="row mb-4 mt-5">
    <div class="col-12">
        <h2 class="title">¡Corre y Vuela! con estas <strong>súper ofertas de Vuelos</strong> saliendo <strong>desde
                Lima</strong></h2>
        <!-- <ng-container *ngFor="let section of dataPagePresenterService.data.sections">
            <app-title *ngIf="section.section === 'Vuelos'" [title]="section.title"></app-title>
        </ng-container> -->
        <div class="clearfix"></div>
    </div>
</div>
<app-card [itemList]="packagesService.packages"></app-card>
<div class="row text-end py-5">
    <div class="col-12">
        <ng-container *ngFor="let section of dataPagePresenterService.data.sections">
            <button class="plus dropdown-toggle" *ngIf="section.section === 'Vuelos'">{{ section.btn }}</button>
        </ng-container>
    </div>
    <div class="clearfix"></div>
</div>
<!-- AYUDA -->
<div class="row pb-3">
    <div class="col-12">
        <h2 class="title"><strong>¿Necesitas ayuda?</strong></h2>
    </div>
</div>
<div class="row py-3">
    <div class="col-12 col-md-7 text-end">
        <img src="./assets/seguros/ayuda.svg" alt="">
    </div>
    <div class="col-md-4 col-12 text-center mt-5">
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipiscing elit nisl, suscipit tempus dis
            purus ligula taciti morbi, lobortis nam et torquent nec montes neque. Dictumst lacinia magna egestas
            vestibulum sed libero turpis interdum, cras phasellus urna
            erat at aliquam maecenas purus eleifend, habitant dignissim augue primis vivamus taciti habitasse.</p>
        <button class="my-5">Portal de ayuda</button>
    </div>
</div>
<!-- END AYUDA -->
</div>
<!-- MAILING -->
<ng-container *ngFor="let section of dataPagePresenterService.data.sections">
<app-mailing *ngIf="section.section === 'mailing'" [title]="section.title" [span]="section.span"></app-mailing>
</ng-container>