<div class="container__carrusel web" *ngIf="slidersWeb.length > 0">
	<div class="container__carrusel__section">
		<swiper [config]="config" class="" #swiperCarrusel>
			<ng-template swiperSlide *ngFor="let item of slidersWeb">
				<div
					class="container__carrusel__section__swiper__card square"
					[class.pointer]="item[0].RedirectLink !== ''"
					(click)="redirectLink(item[0].RedirectLink)"
				>
					<img [src]="item[0].PathImage" alt="gallery-img" />
				</div>
				<div
					class="container__carrusel__section__swiper__card fullbanner"
					[class.pointer]="item[0].RedirectLink !== ''"
					(click)="redirectLink(item[0].RedirectLink)"
				>
					<img [src]="item[1].PathImage" alt="gallery-img" />
				</div>
			</ng-template>
		</swiper>
	</div>
</div>
<div class="container__carrusel tablet" *ngIf="slidersTablet.length > 0">
	<div class="container__carrusel__sectio">
		<swiper [config]="config" class="" #swiperCarrusel>
			<ng-template swiperSlide *ngFor="let item of slidersTablet">
				<div class="container__carrusel__section__swiper__card fullbanner" (click)="redirectLink(item[0].RedirectLink)">
					<img [src]="item[0].PathImage" alt="gallery-img" />
				</div>
			</ng-template>
		</swiper>
	</div>
</div>

<div class="container__carrusel mobile" *ngIf="slidersMobil.length > 0">
	<div class="container__carrusel__sectio">
		<swiper [config]="configTablet" class="" #swiperCarrusel>
			<ng-template swiperSlide *ngFor="let item of slidersMobil">
				<div class="container__carrusel__section__swiper__card square" (click)="redirectLink(item[0].RedirectLink)">
					<img [src]="item[0].PathImage" alt="gallery-img" />
				</div>
			</ng-template>
		</swiper>
	</div>
</div>
