<section class="container-fluid m-0">
<div class="row">
    <div class="col-md-5 offset-md-1 mt-5 text-center">
        <h1 class="mb-4">¡Viajemos!</h1>
        <p>Agenda una cita con nuestros
            <br>asesores expertos y reúnete con
            <br>nosotros desde donde estés.
            <br>
            <br>Elige el horario más conveniente
            <br>para ti y te ayudaremos a&nbsp;
            <br>planificar tus vacaciones
        </p>
        <div class="u-border-3 u-border-palette-2-base u-line u-line-horizontal u-line-1"></div>
        <p class="u-align-center u-custom-font u-heading-font u-text u-text-white u-text-3">
            <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-white u-btn-1" href="https://ayuda.nmviajes.com/">¿Ya realizaste una compra y necesitas ayuda? Ingresa aquí</a>
        </p>
    </div>
    <div class="col-md-2 mt-4" style="height: 630px;">
        <iframe src="https://calendly.com/nuevomundoviajes/agenda-tu-cita?embed_domain=meta.nmviajes.com&amp;embed_type=Inline" frameborder="0" width="100%" height="630" style="height: 630px;"></iframe>
    </div>
</div>
</section>
