<div class="container">
  <div class="row">
    <div class="col-12">
      <h6 class="mt-5 mb-3">PROMOCIONES</h6>
      <div>
        <a class="d-md-none d-block" href="https://servicio.nmviajes.com:9443/documentos/PROMOCIONES-NMVIAJES.pdf">
          descargar promociones
        </a>
      </div>
      <iframe class="d-none d-md-block" src="https://servicio.nmviajes.com:9443/documentos/PROMOCIONES-NMVIAJES.pdf"
        width="100%" height="900" frameborder="0"></iframe>
    </div>
    <div class="clearfix"></div>
  </div>
</div>