<router-outlet></router-outlet>

<app-login></app-login>

<app-forgot-password></app-forgot-password>



<!-- Modal Verifica Correo -->
<div class="modal" style="display: none;" aria-hidden="true" data-backdrop="false" id="ModalVerificaCorreo"
  tabindex="-1" aria-labelledby="ModalVerificaCorreoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="titleVerifica">Verifica tu correo</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="iconCenter">
          <img src="./assets/modal/correo.svg" alt="">
        </div>
        <div class="descripText">
          Hemos enviado un correo de verificación a tu email ingresado, por favor valida el código a
          continuación para confirmar que tienes acceso.
        </div>
        <div class="action">
          <button data-bs-dismiss="modal" aria-label="Close" type="button" class="">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Cambio de password -->
<div class="modal" style="display: none;" aria-hidden="true" data-backdrop="false" id="ModalChangePass" tabindex="-1"
  aria-labelledby="ModalChangePassLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="titleVerifica">Recuperación de Contraseña</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="iconCenter">
          <img src="./assets/modal/correo.svg" alt="">
        </div>
        <div class="descripText">
          <!-- Se ha enviado a tu correo: <span>{{password.value}}</span> la nueva contraseña -->
          {{message}}
        </div>
        <div class="action">
          <div data-bs-dismiss="modal" aria-label="Close" class="btn primary">
            Aceptar
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-notificacion-error></app-notificacion-error>



<div class="modal" style="display: none;" data-backdrop="false" id="ModalDatosOpcionales" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <div class="titleVerifica">Datos Opcionales</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ">
        <app-preferencias></app-preferencias>

      </div>
    </div>
  </div>
</div>