.package {
    font-family: 'Open Sans';
    color:white;
    position: relative;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
    font-weight: bold;
    & .d-flex{
        height: 281px;
    }
    & img{
        position: absolute;
        z-index: -1;
        height: 100%;

        object-fit: cover;
        -o-object-position: top;
        object-position: top;

    }
    p{
        background: #DF0C30;
        margin-bottom: 0;
        border-radius: 0 5px;
    }
    // &:hover{
    //     -webkit-filter: grayscale(100%);
    //     filter: grayscale(100%);
    // }
    &:hover>.shadow {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 0;
        background: rgba(33, 55, 67, 0.4);
        z-index: -1;
    }
    h{
        &1{
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 38px;
            letter-spacing: -0.5px;
            color: #FFFFFF;
            text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
        }
        &6{
            text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
            font-style: normal;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 1px;
            margin-top: 10px;
        }
        &r{
            opacity: 1;
            margin-top: 5px;
            margin-bottom: 7px;
        }
    }
    mark{
        display: block;
        background-color: red;
        padding: 0 20px;
        border-radius: 5px 0px 0px 5px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        line-height: 60px;
        text-align: right;
        letter-spacing: -0.5px;
        color: #FFFFFF;
        text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
    }
    .show{
        width: 100%;
    }
    & .hidden{
        display: none;
    }
    &:hover .hidden{
        display: inline-block;
    }
    &:hover hr + span{
        display: inline-block;
        margin-right: 20px;
    }
    &:hover  p{
        background: transparent;
    }
}