.card {
    &__content {
        position: relative;
        height: 372px;
        overflow: hidden;
        @media (max-width: 768px) {
            height: 180px;
        }
        &>img {
            border-radius: 2px;
            position: absolute;
            object-fit: cover;
            -o-object-position: top;
            object-position: top;
            height: 100%;
            max-width: 100%;
            width: 100%;
            @media (max-width: 768px) {
                position: relative;
            }
        }
    }
}

.publicidad {
    height: 220px;
    position: relative;
    // width: 100%;
    overflow: hidden;
    margin-top: 50px;
    @media (max-width: 768px) {
        &:first-child{
            margin-top: 0px;
        }
    }
    img{
        &.left {
            border-radius: 10px 0 0 10px;
            position: absolute;
            object-fit: cover;
            object-position: top;
            height: 100%;
            max-width: 100%;
            width: 100%;
            @media (max-width: 768px) {
                border-radius: 0px;
                position: relative;
            }
        }
        &.right {
            border-radius: 0 10px 10px 0;
            // position: absolute;
            object-fit: cover;
            object-position: top;
            height: 100%;
            max-width: 100%;
            width: 100%;
            @media (max-width: 768px) {
                border-radius: 0px;
                position: relative;
            }
        }
    }
}

