.iframeEventos {
  width: 100%;
  min-height: 1800px;

  @media (max-width: 500px) and (min-width: 276px) {
    min-height: 3200px;
  }

  @media (max-width: 1280px) and (min-width: 800px) {
    min-height: 1800px;
  }
}