:host{
    width: 100%;
}

.tab-autocomplete{
    position: relative;
    z-index: 1;
    width: 100%;
}

.input-icon {
	color: #191919;
	position: absolute;
    z-index: 100;
	width: 14px;
	height: 14px;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
}

.input-icon-loading {
	color: #191919;
	position: absolute;
	width: 45px;
	height: 45px;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
}

.pointer {
    cursor: pointer;
}