@use '/src/scss/colors';
.group__input {
    width: 100%;
    position: relative;
    img {
        position: absolute;
        left: 12px;
        top: 8px;
        padding: 10px 0px;
    }
    input,select {
        width: 100%;
        padding: 11.3px 25px 11.3px 42px;
        margin: 0px;
        border: none;
        background: white;
        border: 1px solid colors.$neutral-200;
        box-sizing: border-box;
        color: colors.$neutral-900;
        font-weight: 400;
        line-height: 20px;
        font-family: 'Montserrat';
        border-radius: 8px;
        caret-color: colors.$red-500;
        box-shadow: 0px 1px 2px 0px #1018280d;
        height: 59.6px;
        &::placeholder {
            color: colors.$gris-600;
        }
        &:focus {
            outline: none;
            border: 1px solid colors.$red-500;
        }
        &.error {
            border: 1px solid colors.$red-200;
            caret-color: colors.$red-200;
        }
        &.icon {
            padding-left: 27px;
        }
    }
    input {
        &:read-only{
            background: colors.$gris-50;
            &:focus {
                outline: none;
                border: 1px solid colors.$neutral-200;
            }
        }
    }
    select{
        padding: 11.3px 15px;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        background-color: white;
        background-image: url("/assets/svg/select-icon.svg");
        background-repeat: no-repeat;
        background-position-x: calc(100% - 15px);
        background-position-y: 50% ;
        background-size: 24px;
        color: colors.$neutral-900;
        &.first-option{
            color: colors.$gris-600;
        }
        option{
            color: colors.$neutral-900;
        }
    }
}