/*:host {
    position: relative;
    @media (max-width: 640px) {
        position: initial;
    }
}

.disable {
    background: #c4c4c4;
    pointer-events: none;
}*/
@use '/src/scss/colors';
.container__tag{
    position: relative;
    &__name{
        min-width: 128px;
        height: 36px;
        padding: 8px 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:8px;
        border: 1px solid colors.$gris-200;
        box-shadow: 0px 1px 2px 0px #1018280D;
        border-radius: 4px;
        cursor: pointer;
        background: white;
        span{
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: left;
            text-overflow: ellipsis;
            overflow: hidden; 
            white-space: nowrap;
        }
    }

    @media(max-width: 990px) and (min-width: 640px){
        .boxFlotante{
            left: 0 !important;
        }
    }
    @media(max-width:575px){
        &__name{
            width: 100%;
            justify-content: flex-start;
        }
        &__name span{
            font-size: 12px;
            font-weight: 400;
        }
        .boxFlotante{
            left:0;
            top: 40px;
            width: 100%;
            .boxTwoPasajero .groupItem.inLine{
                flex-direction: column;
            }
        }
    }
    @media(max-width:320px){
        .boxTwoPasajero,.btnPasajero {
            padding: 10px !important;
        }
    }
}

.boxFlotante{
    top:45px;
}