@use '/src/scss/colors';
.container__packages {
	padding: 40px 96px;
	width: 100%;
	background: colors.$gris-50;
	&__section {
		max-width: 1440px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		gap: 48px;
		&__title {
			h3 {
				font-family: Inter;
				font-size: 32px;
				font-weight: 700;
				line-height: 40px;
				letter-spacing: -0.02em;
				text-align: center;
			}
			span {
				font-family: Montserrat;
				font-size: 18px;
				font-weight: 400;
				line-height: 28px;
				letter-spacing: 0em;
				text-align: center;
				color: colors.$gris-800;
				display: block;
			}
		}

		&__cards {
			display: grid;
			grid-auto-columns: 1fr;
			grid-template-columns: repeat(6, 1fr);
			gap: 48px;

			.card-50 {
				grid-column: span 3;
			}

			.card-30 {
				grid-column: span 2;
			}

			&__card {
				width: 100%;
				height: 400px;
				border-radius: 16px;
				position: relative;
				overflow: hidden;
				cursor: pointer;
				img {
					max-width: 100%;
					transition: all 250ms ease;
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
					-o-object-fit: cover;
					-o-object-position: center;
				}

				&__info {
					top: 0;
					left: 0;
					position: absolute;
					z-index: 2;
					width: 100%;
					height: 100%;
					border-radius: 16px;
					background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 18%, rgba(0, 0, 0, 0) 100%);
					transition: background 250ms ease;
					padding: 40px;
					display: flex;
					flex-direction: column;
					gap: 24px;
					&__header {
						display: grid;
						grid-template-columns: auto 48px;
						justify-content: space-between;
						align-items: flex-start;
						gap: 10px;
						span {
							font-family: Open Sans;
							font-size: 28px;
							font-weight: 600;
							line-height: 36px;
							letter-spacing: -0.02em;
							text-align: left;
							margin: 0;
							color: white;
						}
						svg {
							margin-top: -5px;
							transition: opacity 200ms ease-in-out;
							opacity: 0;
							width: 48px;
						}
					}
					&__line {
						width: 66px;
						height: 0;
						border-top: 1px solid white;
					}
					&__description {
						font-family: Montserrat;
						font-size: 18px;
						font-weight: 500;
						line-height: 28px;
						letter-spacing: 0em;
						text-align: left;
						color: white;
						transition: opacity 200ms ease-in-out;
						opacity: 0;
					}
				}

				&:hover {
					img {
						-webkit-transform: scale(1.08);
						transform: scale(1.08);
					}
					.container__packages__section__cards__card__info {
						background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 49.38%, rgba(0, 0, 0, 0) 100%);
					}
					svg,
					.container__packages__section__cards__card__info__description {
						opacity: 1;
					}
				}
			}
		}

		&__button {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	@media (max-width: 1368px) {
		padding: 24px 60px;
	}

	@media (min-width: 100px) and (max-width: 1200px) {
		&__section__cards__card {
			img {
				-webkit-transform: scale(1.08);
				transform: scale(1.08);
			}
			.container__packages__section__cards__card__info {
				background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 49.38%, rgba(0, 0, 0, 0) 100%);
			}
			svg,
			.container__packages__section__cards__card__info__description {
				opacity: 1;
			}
		}
	}

	@media (max-width: 1240px) {
		&__section__cards {
			gap: 32px;
		}
	}
	@media (max-width: 1199px) {
		padding: 32px 24px;
		&__section,
		&__section__cards {
			gap: 24px;
		}
		&__section__cards .card-30 {
			grid-column: span 3;
		}
		&__section__cards__card__info {
			padding: 32px;
		}
		&__section__cards__card__info__header span {
			font-size: 24px;
			line-height: 32px;
		}
		&__section__cards__card__info__description {
			font-size: 16px;
			line-height: 24px;
		}
		&__section__title h3 {
			font-size: 28px;
			line-height: 36px;
		}
		&__section__title span {
			font-size: 16px;
			line-height: 24px;
		}
	}
	@media (max-width: 665px) {
		&__section__cards {
			.card-50,
			.card-30 {
				grid-column: span 6;
			}
		}
	}
	@media (max-width: 575px) {
		padding: 24px;
		&__section__cards {
			gap: 16px;
			&__card {
				height: 320px;
			}
		}
		&__section__title h3 {
			font-size: 24px;
			line-height: 32px;
			padding: 0 8px;
		}
		&__section__title span {
			font-size: 14px;
			line-height: 20px;
		}
		&__section__cards__card__info {
			padding: 24px;
			gap: 16px;
		}
		&__section__cards__card__info__header {
			grid-template-columns: auto 32px;
			span {
				font-size: 20px;
				line-height: 28px;
			}
			svg {
				width: 32px;
				height: 32px;
			}
		}
		&__section__cards__card__info__description {
			font-size: 14px;
			line-height: 20px;
		}
	}
}
