<div class="container__packages">
	<div class="container__packages__section">
		<div class="container__packages__section__title">
			<h3>Paquetes creados para ti</h3>
			<span>Explora nuestros paquetes personalizados y elige la opción perfecta para tus vacaciones de ensueño.</span>
		</div>
		<div class="container__packages__section__cards">
			<div class="container__packages__section__cards__card card-50">
				<img [src]="'https://images.freeimages.com/images/large-previews/4cb/travel-1474135.jpg'" alt="" />
                <div class="container__packages__section__cards__card__info">
					<div class="container__packages__section__cards__card__info__header">
						<span>Norteamerica</span>
						<svg width="49" height="48" viewBox="0 0 49 48" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M24.5 44C35.5457 44 44.5 35.0457 44.5 24C44.5 12.9543 35.5457 4 24.5 4C13.4543 4 4.5 12.9543 4.5 24C4.5 35.0457 13.4543 44 24.5 44Z"
								stroke="white"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
							<path d="M17.5 24H29.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
							<path
								d="M25.5 30L31.5 24L25.5 18"
								stroke="white"
								stroke-width="1.5"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
						</svg>
					</div>
					<div class="container__packages__section__cards__card__info__line"></div>
					<div class="container__packages__section__cards__card__info__description">
						Sumérgete en la diversidad cultural y natural de Norteamérica con nuestros paquetes turísticos, que te
						llevarán a algunos de los lugares más emblemáticos del continente.
					</div>
				</div>
			</div>
			<div class="container__packages__section__cards__card card-50">
				<img
					[src]="'https://images.freeimages.com/images/large-previews/7a6/travel-sweden-norway-20-1471756.jpg'"
					alt=""
				/>
				<div class="container__packages__section__cards__card__info">
					<div class="container__packages__section__cards__card__info__header">
						<span>Sudámerica</span>
						<svg width="49" height="48" viewBox="0 0 49 48" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M24.5 44C35.5457 44 44.5 35.0457 44.5 24C44.5 12.9543 35.5457 4 24.5 4C13.4543 4 4.5 12.9543 4.5 24C4.5 35.0457 13.4543 44 24.5 44Z"
								stroke="white"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
							<path d="M17.5 24H29.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
							<path
								d="M25.5 30L31.5 24L25.5 18"
								stroke="white"
								stroke-width="1.5"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
						</svg>
					</div>
					<div class="container__packages__section__cards__card__info__line"></div>
					<div class="container__packages__section__cards__card__info__description">
						Sumérgete en la diversidad cultural y natural de Norteamérica con nuestros paquetes turísticos, que te
						llevarán a algunos de los lugares más emblemáticos del continente.
					</div>
				</div>
			</div>
			<div class="container__packages__section__cards__card card-30">
				<img [src]="'https://images.freeimages.com/images/large-previews/e0b/balloon-mania-1435345.jpg'" alt="" />
				<div class="container__packages__section__cards__card__info">
					<div class="container__packages__section__cards__card__info__header">
						<span>Destinos de aventura</span>
						<svg width="49" height="48" viewBox="0 0 49 48" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M24.5 44C35.5457 44 44.5 35.0457 44.5 24C44.5 12.9543 35.5457 4 24.5 4C13.4543 4 4.5 12.9543 4.5 24C4.5 35.0457 13.4543 44 24.5 44Z"
								stroke="white"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
							<path d="M17.5 24H29.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
							<path
								d="M25.5 30L31.5 24L25.5 18"
								stroke="white"
								stroke-width="1.5"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
						</svg>
					</div>
					<div class="container__packages__section__cards__card__info__line"></div>
					<div class="container__packages__section__cards__card__info__description">
						Sumérgete en la diversidad cultural y natural de Norteamérica con nuestros paquetes turísticos, que te
						llevarán a algunos de los lugares más emblemáticos del continente.
					</div>
				</div>
			</div>
			<div class="container__packages__section__cards__card card-30">
				<img [src]="'https://images.freeimages.com/images/large-previews/e5c/mill-house-1637156.jpg'" alt="" />
				<div class="container__packages__section__cards__card__info">
					<div class="container__packages__section__cards__card__info__header">
						<span>Playa y caribe</span>
						<svg width="49" height="48" viewBox="0 0 49 48" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M24.5 44C35.5457 44 44.5 35.0457 44.5 24C44.5 12.9543 35.5457 4 24.5 4C13.4543 4 4.5 12.9543 4.5 24C4.5 35.0457 13.4543 44 24.5 44Z"
								stroke="white"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
							<path d="M17.5 24H29.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
							<path
								d="M25.5 30L31.5 24L25.5 18"
								stroke="white"
								stroke-width="1.5"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
						</svg>
					</div>
					<div class="container__packages__section__cards__card__info__line"></div>
					<div class="container__packages__section__cards__card__info__description">
						Sumérgete en la diversidad cultural y natural de Norteamérica con nuestros paquetes turísticos, que te
						llevarán a algunos de los lugares más emblemáticos del continente.
					</div>
				</div>
			</div>
			<div class="container__packages__section__cards__card card-30">
				<img [src]="'https://images.freeimages.com/images/large-previews/540/peacock-feather-1638181.jpg'" alt="" />
				<div class="container__packages__section__cards__card__info">
					<div class="container__packages__section__cards__card__info__header">
						<span>Europa</span>
						<svg width="49" height="48" viewBox="0 0 49 48" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M24.5 44C35.5457 44 44.5 35.0457 44.5 24C44.5 12.9543 35.5457 4 24.5 4C13.4543 4 4.5 12.9543 4.5 24C4.5 35.0457 13.4543 44 24.5 44Z"
								stroke="white"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
							<path d="M17.5 24H29.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
							<path
								d="M25.5 30L31.5 24L25.5 18"
								stroke="white"
								stroke-width="1.5"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
						</svg>
					</div>
					<div class="container__packages__section__cards__card__info__line"></div>
					<div class="container__packages__section__cards__card__info__description">
						Sumérgete en la diversidad cultural y natural de Norteamérica con nuestros paquetes turísticos, que te
						llevarán a algunos de los lugares más emblemáticos del continente.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
