<!-- Mis Reservas -->
<div class="viewDocument">
    <div class="personalDocument">
        <div class="headerPortlet">
            <div class="titleBoxRight">Mis Vuelos</div>
            <div class="subtitleBoxRight">A continuación, te listamos todas los vuelos asociadas a tu correo: joserios.digital@gmail.com</div>
        </div>
        <form class="content">
            <div class="rowContent gridVuelo">

                <div class="rowVuelo">
                    <div class="colVuelo">
                        <img src="./assets/Avion2.svg" alt="">
                    </div>
                    <div class="colVuelo flexCol">
                        Vuelo Lima
                        <div class="msgLabel success">
                            Comprado
                        </div>
                    </div>
                    <div class="colVuelo flexCol">
                        Cusco
                        <div class="msgLabel disabled"> </div>
                    </div>
                    <div class="colVuelo fullAuto">
                        <img src="./assets/arrow-inf.svg" alt=""> Jue 28 Jul 2022
                    </div>
                    <div class="colVuelo fullAuto">
                        <img src="./assets/arrow-sup.svg" alt=""> Vie 31 Jul 2022
                    </div>
                    <div class="colVuelo">
                        <div class="btn primary" data-bs-toggle="modal" data-bs-target="#ModalDetResarva">Detalles</div>
                    </div>
                </div>

                <div class="rowVuelo">
                    <div class="colVuelo">
                        <img src="./assets/Avion2.svg" alt="">
                    </div>
                    <div class="colVuelo flexCol">
                        Vuelo Lima
                        <div class="msgLabel success">
                            Comprado
                        </div>
                    </div>
                    <div class="colVuelo flexCol">
                        Cusco
                        <div class="msgLabel disabled"> </div>
                    </div>
                    <div class="colVuelo fullAuto">
                        <img src="./assets/arrow-inf.svg" alt=""> Jue 28 Jul 2022
                    </div>
                    <div class="colVuelo fullAuto">
                        <img src="./assets/arrow-sup.svg" alt=""> Vie 31 Jul 2022
                    </div>
                    <div class="colVuelo">
                        <div class="btn primary" data-bs-toggle="modal" data-bs-target="#ModalDetResarva">Detalles</div>
                    </div>
                </div>

                <div class="rowVuelo">
                    <div class="colVuelo">
                        <img src="./assets/Avion2.svg" alt="">
                    </div>
                    <div class="colVuelo flexCol">
                        Vuelo Lima
                        <div class="msgLabel success">
                            Comprado
                        </div>
                    </div>
                    <div class="colVuelo flexCol">
                        Cusco
                        <div class="msgLabel disabled"> </div>
                    </div>
                    <div class="colVuelo fullAuto">
                        <img src="./assets/arrow-inf.svg" alt=""> Jue 28 Jul 2022
                    </div>
                    <div class="colVuelo fullAuto">
                        <img src="./assets/arrow-sup.svg" alt=""> Vie 31 Jul 2022
                    </div>
                    <div class="colVuelo">
                        <div class="btn primary" data-bs-toggle="modal" data-bs-target="#ModalDetResarva">Detalles</div>
                    </div>
                </div>

                <div class="rowVuelo">
                    <div class="colVuelo">
                        <img src="./assets/Avion2.svg" alt="">
                    </div>
                    <div class="colVuelo flexCol">
                        Vuelo Lima
                        <div class="msgLabel success">
                            Comprado
                        </div>
                    </div>
                    <div class="colVuelo flexCol">
                        Cusco
                        <div class="msgLabel disabled"> </div>
                    </div>
                    <div class="colVuelo fullAuto">
                        <img src="./assets/arrow-inf.svg" alt=""> Jue 28 Jul 2022
                    </div>
                    <div class="colVuelo fullAuto">
                        <img src="./assets/arrow-sup.svg" alt=""> Vie 31 Jul 2022
                    </div>
                    <div class="colVuelo">
                        <div class="btn primary" data-bs-toggle="modal" data-bs-target="#ModalDetResarva">Detalles</div>
                    </div>
                </div>

                <div class="rowVuelo">
                    <div class="colVuelo">
                        <img src="./assets/Avion2.svg" alt="">
                    </div>
                    <div class="colVuelo flexCol">
                        Vuelo Lima
                        <div class="msgLabel success">
                            Comprado
                        </div>
                    </div>
                    <div class="colVuelo flexCol">
                        Cusco
                        <div class="msgLabel disabled"> </div>
                    </div>
                    <div class="colVuelo fullAuto">
                        <img src="./assets/arrow-inf.svg" alt=""> Jue 28 Jul 2022
                    </div>
                    <div class="colVuelo fullAuto">
                        <img src="./assets/arrow-sup.svg" alt=""> Vie 31 Jul 2022
                    </div>
                    <div class="colVuelo">
                        <div class="btn primary" data-bs-toggle="modal" data-bs-target="#ModalDetResarva">Detalles</div>
                    </div>
                </div>

                <div class="rowVuelo">
                    <div class="colVuelo">
                        <img src="./assets/Avion2.svg" alt="">
                    </div>
                    <div class="colVuelo flexCol">
                        <div class="Labelseguro">Seguro Sudamerica</div>
                        <div class="Descrip">Travel Ace: Plan Master</div>
                        <div class="msgLabel success">
                            (Solicitud Aprobaba)
                        </div>
                    </div>
                    <div class="colVuelo fullAuto">
                        <img src="./assets/arrow-inf.svg" alt=""> Jue 28 Jul 2022
                    </div>
                    <div class="colVuelo fullAuto">
                        <img src="./assets/arrow-sup.svg" alt=""> Vie 31 Jul 2022
                    </div>
                    <div class="colVuelo">
                        <div class="btn primary" data-bs-toggle="modal" data-bs-target="#ModalDetSeguro">Detalles</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- END Mis Reservas -->