@use '/src/scss/colors';
.modal__contend {
	padding: 32px;
	border-radius: 12px;
	background: colors.$gris-100;
    width: 674px;
    margin-left: -90px;
    display: flex;
    flex-direction: column;
    gap:24px;
    position: relative;
   // overflow-y: auto;
    //max-height: 40vh;
    h4{
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.02em;
        text-align: left;
        margin: 0;
        font-family: "Open Sans";
        color: colors.$neutral-900;
    }
    section{
        margin:0;
    }
    img.close{
        position: absolute;
        top:20px;
        right: 24px;
        width: 12px;
    }
    @media (max-width: 710px){
        width: 575px;
        margin-left: -35px;
    } 
    @media (max-width: 610px){
        width: 570px;
    }
    @media (max-width: 576px){
        width: auto;
        margin-left: 0;
        padding: 16px;
        h4{
            font-size: 20px;
            line-height: 28px;
        }
    } 
}


@media (max-width:576px){
    /*::ng-deep.modal-search .modal-dialog.modal-dialog-centered {
		min-width:auto;
		width: 100%;
		margin:0;
		padding: 0;
	}
    ::ng-deep.modal.modal-search .modal-dialog .modal-content{
		border-radius: 10px 10px 0px 0px;
		margin:0;
		bottom: 0;
		left: 0;
		position: fixed;
	}*/
}
