@import '/src/scss/variables';
footer {
    background: #F6F7F9;
    ._libro {
        color: $blue_light;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
    }
    .bg-white {
        background: $white;
        & .order-2>img {
            @media (max-width: 768px) {
                height: 60px;
            }
        }
    }
    // .text {
    //     &-footer{
    //         font-family: 'Montserrat';
    //         font-weight: 500;
    //         font-size: 16px;
    //         line-height: 24px;
    //         letter-spacing: 0.15px;
    //         color: $gray;
    //         margin-top: 20px;
    //         @media (max-width: 768px) {
    //             font-size: 10px;
    //             text-align: center;
    //         }
    //         span{
    //             color: $red_light;
    //         }
    //     }
    //     &-md-end img {
    //         margin-right: 20px;
    //         @media (max-width: 768px) {
    //             height: 14px;
    //             margin-bottom: 20px;
    //         }
    //     }
    // }
    button {
        border: 1px solid $red_light;
        color: $red_light;
        font-size: 16px;
        background: transparent;
        &:hover {
            background: $red_light;
            color: white
        }
    }
    h {
        &r {
            height: 1px;
            margin: 42px 0;
            opacity: 1;
            color: #E4E5E7;
            &.hr {
                margin: 20px 0;
            }
        }
        &3 {
            font-family: 'Open Sans';
            font-weight: bold;
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 40px
        }
    }
    ul {
        color: $red;
        padding-left: 15px;
        li {
            text-align: left;
            a {
                cursor: pointer;
                font-family: 'Montserrat';
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                text-align: justify;
                letter-spacing: 0.1px;
                color: $gray;
                text-decoration: none;
                &:hover {
                    color: $red_light;
                }
            }
        }
    }
    .icons {
        display: flex;
        & .icon {
            border-radius: 50%;
            border: 1px solid $gray_border;
            width: 42px;
            height: 42px;
            display: flex;
            margin-right: 10px;
            align-items: center;
            justify-content: space-around;
            &:hover>svg>path {
                fill: white;
            }
            &:hover {
                background: $red-light;
                fill: white;
                border: 1px solid white
            }
        }
    }
}

.iconFlecha {
    display: none;
}

@media (max-width: 640px) {
    .menuProd {
        cursor: pointer;
        border-top: 1px solid #E4E5E7;
        border-bottom: 1px solid #E4E5E7;
        padding: 10px 0;
        margin-bottom: 0;
    }
    .showDesktop {
        display: none;
    }
    .activoMnu {
        display: block !important;
    }
    .iconFlecha {
        display: initial;
        padding-left: 5px;
    }
    .marginTopMobile {
        margin-top: 10px;
        font-size: 12px;
    }
    .marginTop35 {
        margin-top: 35px;
    }
    h3 {
        font-size: 18px !important;
    }
    .centerBox {
        display: flex !important;
        justify-content: center !important;
    }
    .btnMobile {
        background: #df0c30 !important;
        color: #ffffff !important;
        width: 80% !important;
        margin: 20px auto !important;
    }
    .hideMobile {
        display: none;
    }
}