<div class="banner">
    <div class="content">
        <img src="./assets/banner/seguros.png">
        <div class="float">
            <img src="./assets/banner/cobertura_covid.png">
        </div>
    </div>
    <article class="container posFilter">
        <div class="row">
            <div class="col-12">
                <div class="card postCard">
                    <div class="card-body">

                        <app-filtersafe></app-filtersafe>

                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </article>
</div>