<div class="inputs__search">
	<div class="inputs__search__group">
		<input type="text" placeholder="Origen" autocomplete="off" />
		<img class="icon" src="./assets/svg/location-red.svg" alt="o" />
		<img class="svg_icon" src="./assets/svg/close-search.svg" alt="x" />
		<div class="inputs__search__group__resultBox">
			<ul>
				<li class="primary-item">
					<img src="./assets/svg/airplane-line.svg" alt="icon" />
					<section><span>Lima</span><span class="description">Lim - Perú</span></section>
				</li>
				<li class="primary-item">
					<img src="./assets/svg/airplane-line.svg" alt="icon" />
					<section><span>Kilimanjaro</span><span class="description">JRO - Tanzania</span></section>
				</li>
				<li class="primary-item">
					<img src="./assets/svg/airplane-line.svg" alt="icon" />
					<section><span>Colima</span><span class="description">CLQ - México</span></section>
				</li>
				<li class="secondary-item">
					<img src="./assets/svg/map.svg" alt="icon" />
					<section><span>John F. Kennedy - NY - Estados Unidos</span></section>
				</li>
			</ul>
		</div>
	</div>

	<div class="inputs__search__arrow" (click)="rotate = !rotate">
		<img src="./assets/svg/arrow-left-right.svg" [ngClass]="rotate ? 'rotate' : 'not-rotate'" alt="->" />
	</div>

	<div class="inputs__search__group">
		<input type="text" placeholder="Destino" autocomplete="off" />
		<img class="icon" src="./assets/svg/location-red.svg" alt="o" />
		<img class="svg_icon" src="./assets/svg/close-search.svg" alt="x" />
	</div>
</div>
<!--<img class="svg_loader" src="./assets/svg/loader_input.svg"alt="..">-->
