@use '/src/scss/colors';

.inputs__search{
    display: flex;
    gap:8px;
    justify-content: flex-start;
    align-items: center;
    &__group{
        width: 46%;
        position: relative;
        .icon{
            position: absolute;
            left: 12px;
            top: 8px;
            padding: 10px 0px;
        } 

        .svg_icon{
            position: absolute;
            top: 19px;
            left: calc(100% - 32px);
            cursor:pointer;
        }
        .svg_loader{
            position: absolute;
            top: 19px;
            left: calc(100% - 35px);
        }
        input {
            width: 100%;
            padding:15px 37px 15px 40px;
            margin: 0px;
            border:none;
            border: 1px solid colors.$neutral-200;
            box-sizing: border-box;
            color:colors.$neutral-900;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            font-family: 'Montserrat';
            border-radius: 8px;
            box-shadow: 0px 1px 2px 0px #1018280D;
            &::placeholder{
                color:colors.$gris-600;
            }
            &:focus {
                outline: none;
                border:1px solid colors.$red-500;
            }
            &.error{
                border:1px solid colors.$red-400;
                caret-color:colors.$red-400;
            }
            &.icon{
                padding-left: 27px;
            }
            &:read-only{
                color:colors.$neutral-400;
            }
        }

       &__resultBox{
            position:absolute;
            width: 420px;
            background: white;
            padding:8px 12px;
            border-radius: 8px;
            border: 1px solid colors.$gris-200;
            box-shadow: 0px 1px 3px 0px #1018281A;
            z-index: 4;
            top: 68px;
            left:0;
            ul{
                padding: 0px;
                margin: 0px;
                max-height: 308px;
                overflow-y: auto;
                display: flex;
                flex-direction: column;
                gap:16px;
                padding-right: 5px;
            }
            li{
                list-style: none;
                width: 100%;
                display: flex;
                gap:12px;
                align-items: center;
                justify-content: flex-start;
                border-radius: 4px;
                padding: 4px 8px;
                &:hover{
                    background: colors.$gris-50;
                }
                &.primary-item{
                    cursor: pointer;
                }
                &.secondary-item{
                    padding: 4px 24px;
                    cursor: pointer;
                }
                span{
                    display: block;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    color:colors.$gris-900;
                    &.description{
                        color:colors.$gris-700;
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }
    }

    section{
        margin: 0;
    }

    &__arrow{
        width: 40px;
        height: 40px;
        padding: 8px;
        border-radius: 8px;
        border: 1px solid colors.$gris-200;
        background: colors.$gris-50;
        padding: 8px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        img{
            width: 24px;
            height: 24px;
            &.rotate{
                transition: transform 250ms ease;
                transform: rotate(180deg);
            }
            &.not-rotate{
                transition: transform 250ms ease;
                transform: rotate(0deg);
            }
        }
    }

}