h1 {
    color: #506370;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 24px;
}

h2 {
    color: #4B4B4B;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 24px;
}

.pago {
    img {
        margin-right: 10px;
        filter: grayscale(1);
        opacity: .3;
    }
}

.card {
    margin-bottom: 20px;
    &_ {
        text-align: center;
        & .option {
            background: rgba(235, 235, 235, .4);
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border-radius: 5px;
            cursor: pointer;
            padding: 0 10px;
            border: 1px solid rgba(235, 235, 235, .4);
            transition: all 0.3s ease;
            flex-wrap: wrap;
            & .dot {
                height: 20px;
                width: 20px;
                background: #fff;
                border-radius: 50%;
                position: relative;
                border: 1px solid #83898F;
                &::before {
                    position: absolute;
                    content: "";
                    top: 3px;
                    left: 3px;
                    width: 12px;
                    height: 12px;
                    background: #0069d9;
                    border-radius: 50%;
                    opacity: 0;
                    transform: scale(1.5);
                    transition: all 0.3s ease;
                }
            }
            &>span {
                font-size: 12px;
                font-family: 'Open Sans';
                display: block;
                width: 100%;
                color: #4B4B4B;
            }
        }
        label {
            font-size: 12px;
            font-family: 'Open Sans';
            display: block;
            padding-bottom: 0;
        }
    }
    &.cupon {
        & .card-header {
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: white;
            background: #1EAEA5;
            font-family: 'Montserrat';
        }
    }
    &.pasajeros {
        .card {
            &-header {
                box-shadow: none;
            }
        }
    }
    &-header {
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
        font-size: 20px;
        color: #4B4B4B;
        font-weight: bold;
        z-index: 1;
        h2 {
            color: #4B4B4B;
            font-family: 'Open Sans';
            font-size: 24px;
            font-weight: bold;
        }
        span {
            color: #4B4B4B;
            font-family: 'Montserrat';
            font-size: 14px;
            font-weight: normal;
        }
    }
    &-center {
        background: #009AED;
        width: 80%;
        margin: 0 auto;
        height: 71px;
        flex-direction: column;
        justify-content: center;
        strong {
            font-family: 'Montserrat';
            color: white;
            font-size: 30px;
            font-weight: bold;
        }
        span {
            font-family: 'Montserrat';
            color: white;
            font-size: 12px;
            font-weight: normal;
        }
    }
    &-body {
        h {
            &1 {
                font-size: 18px;
                font-family: 'Open Sans';
            }
        }
        .viajero {
            a {
                color: red;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
            h {
                &1 {
                    font-size: 18px;
                    font-family: 'Open Sans';
                }
                &3 {
                    line-height: 12px;
                    font-size: 12px;
                    font-family: 'Montserrat';
                    margin-bottom: 0;
                    color: #4B4B4B
                }
            }
            span {
                font-size: 12px;
                font-family: 'Montserrat';
                font-weight: bold;
            }
            .destinos {
                color: #009AED;
                font-size: 14px;
                font-weight: bold;
            }
            .equipaje {
                & svg {
                    margin-right: 7px;
                }
                .d-inline-flex {
                    height: 25px;
                    position: relative;
                }
                ._not:after {
                    content: url(../../../../assets/comprar/x.png);
                    position: absolute;
                    bottom: -30%;
                    right: 20%;
                }
            }
            .escala {
                font-size: 10px;
                font-family: 'Montserrat';
                &_line {
                    border-top: .5px dashed #83898F;
                }
                &_punto {
                    background: white;
                    border: 1px solid #F21037;
                    border-radius: 50%;
                    width: 10px;
                    height: 10px;
                    margin: auto;
                    margin-top: -5px;
                }
            }
        }
        span {
            color: #506370;
            font-family: 'Montserrat';
            font-size: 12px;
        }
        box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.16);
        a {
            text-decoration: underline;
            font-size: 12px;
            color: #009AED;
            font-family: 'Montserrat';
        }
        .button {
            margin-top: 30px!important;
            width: 221px;
            margin: auto;
            border: 1px solid #009AED;
            background: white;
            border-radius: 3px;
            font-size: 12px;
            color: #009AED;
            font-family: "Montserrat";
            display: block;
            line-height: 45px;
            text-align: center;
            text-decoration: none;
            letter-spacing: 1px;
        }
        li {
            margin-bottom: 20px;
            padding-right: 30px;
            padding-left: 30px;
            list-style: none;
            background-image: url(../../../../assets/comprar/check-bold.png);
            background-repeat: no-repeat;
        }
    }
}

.price {
    &_end {
        color: #4B4B4B;
        font-size: 12px;
        font-family: 'Montserrat';
        &_number {
            font-size: 25px;
            font-weight: bold;
            font-family: 'Montserrat';
        }
    }
    &_reference {
        color: #83898F;
        font-size: 12px;
        font-family: 'Montserrat';
        &_number {
            color: #83898F;
            font-size: 12px;
            font-family: 'Montserrat';
        }
    }
}

.accordion {
    &-header {
        a {
            color: #DF0C30;
            background: white;
            justify-content: flex-end;
            padding: 10px 20px
        }
    }
    &-button::after {
        margin-left: 10px;
    }
}

input[type='checkbox']+label {
    color: #4B4B4B;
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: normal;
    a {
        color: #009AED;
        font-weight: normal;
        // &:hover{
        //     text-decoration: underline;
        // }
    }
}

input[type="radio"] {
    display: none;
}

#option-1:checked:checked~.option-1,
#option-2:checked:checked~.option-2 {
    border: 1px solid #009AED;
    background: #fff;
}

#option-1:checked:checked~.option-1 .dot,
#option-2:checked:checked~.option-2 .dot {
    background: #fff;
    border: 1px solid #009AED;
}

#option-1:checked:checked~.option-1 .dot::before,
#option-2:checked:checked~.option-2 .dot::before {
    opacity: 1;
    transform: scale(1);
}

#option-1:checked:checked~.option-1 span,
#option-2:checked:checked~.option-2 span {
    color: #4B4B4B;
}

p {
    font-size: 12px;
    color: #4B4B4B;
    font-family: 'Montserrat';
    a {
        color: #009AED;
        font-weight: normal;
    }
}

.titleCobertura {
    font-weight: normal;
}

.boxCobertura {
    font-family: 'Montserrat';
    border-radius: 10px;
    background: #ffffff;
    margin: 20px 0;
    border: 0.5px solid #E4E5E7;
    box-sizing: border-box;
    .headerCober {
        display: flex;
        flex: 1 1 100%;
        .leftHeader {
            display: flex;
            flex: 1 1 100%;
        }
        .rightHeader {
            display: flex;
            flex: 1 1 100%;
            justify-content: center;
            align-items: center;
            height: 37px;
            color: #ffffff;
            background: #54D834;
            border-radius: 0px 10px;
        }
    }
    .BodyCober {
        padding: 25px;
        .margenBody {
            margin-top: 24px;
        }
        .titleBodyCober {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 21px;
            letter-spacing: 0.1px;
            color: #4B4B4B;
            padding-bottom: 10px;
        }
        p {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.1px;
            color: #4B4B4B;
            margin-bottom: 0;
        }
        .destinoCober {
            display: flex;
            flex: 1 1 100%;
            padding: 5px 0;
            padding-right: 30px;
            &.marginSup {
                margin-top: 20px;
            }
            .columnDest {
                display: flex;
                flex: 1 1 100%;
                flex-wrap: wrap;
                div {
                    width: 100%;
                    font-family: Open Sans;
                    font-style: normal;
                    font-size: 14px;
                    line-height: 27px;
                    letter-spacing: 0.18px;
                    color: #4B4B4B;
                }
                &.boldBox {
                    font-weight: bold;
                    max-width: 90px;
                }
                .iconCol {
                    display: flex;
                    flex: 1 1 100%;
                    justify-content: end;
                    align-items: center;
                    padding-right: 20px;
                }
            }
        }
    }
    .footerCober {
        display: flex;
        flex: 1 1 100%;
        padding: 0 25px 20px 25px;
        align-items: center;
        justify-content: space-around;
        .footerLeftCober {}
        .footerCenterCober {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.5px;
            text-transform: capitalize;
            color: #1EAEA5;
        }
        .footerRightCober {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.1px;
            color: #009AED;
        }
    }
}