@import "/src/scss/variables";
// :host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix{
//     padding-top: 6px!important;
//     width: 100%;
//     height: auto;
//     color: red;
// }
// .mat-form-field-appearance-outline .mat-form-field-outline-thick{
//     color: red;
//     border: 1px solid red;
// }
svg {
    margin-right: 6px;
    @media (max-width: 768px) {
        width: 50px;
        margin-bottom: 15px;
    }
}

.filter {
    .mat-form-field {
        width: 100%;
    }
}

.w-130 {
    width: 130px;
    display: inline-block;
    margin-right: 5px;
    padding-left: 0;
    @media (max-width: 768px) {
        width: 99px;
        display: inline-block;
        padding-left: 0;
    }
}
.boxFlotante + .customers:before{
    transform: rotate(-180deg);
}
.customers {
    position: relative;
    width: 100%;
    font-weight: 600;
    border: 0px;
    font-size: 14px;
    color: #222;
    margin-top: 7px;
    background-color: $white;
    // background: url(../../../../assets/arrow.svg) no-repeat center right;
    padding-left: 0;
    text-align: left;
    font-family: "Montserrat";
    padding-top: 13px;
    @media (max-width: 768px) {
        font-size: 10px;
    }
    &:before{
        content:  url(../../../../assets/arrow.svg);
        right: 0;
        position: absolute
    }
}

:host ::ng-deep input {
    border: 0.5px solid rgba(185, 188, 191, 1);
    padding: 10px;
    border-radius: 3px;
    @media (max-width: 768px) {
        margin-bottom: 15px;
    }
    &.auto {
        // border-radius: 0 3px 3px 0;
        // border-left: 0;
        background: url(../../../../assets/origen.png) no-repeat 7px center;
        padding-left: 40px;
    }
    &::placeholder {
        color: rgba(185, 188, 191, 1);
        font-family: "Montserrat";
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.25px;
    }
}

:host ::ng-deep span.mat-date-range-input-separator {
    display: none;
    margin: 0 !important;
    padding: 0;
}

:host ::ng-deep .mat-date-range-input-container {
    align-items: initial;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
    @media (max-width: 768px) {
        padding-right: 0;
        padding-left: 0;
    }
    .mat-date-range-input-start-wrapper,
    .mat-date-range-input-end-wrapper {
        flex: 1 0 0%;
    }
    .mat-date-range-input-start-wrapper input {
        border-radius: 3px 0 0 3px !important;
        border-right: 0;
    }
    .mat-date-range-input-end-wrapper input {
        border-radius: 0 3px 3px 0 !important;
    }
}

:host ::ng-deep .mat-form-field-suffix {
    display: none;
}

:host ::ng-deep .mat-datepicker-input {
    padding: 13px;
    margin-top: 5px;
}

:host ::ng-deep .mat-select {
    font-weight: 600;
    border: 0px;
    font-size: 14px;
    background-color: $white;
    background: url(../../../../assets/arrow.svg) no-repeat center right;
    font-family: "Montserrat";
    letter-spacing: 0.5px;
    white-space: nowrap;
    @media (max-width: 768px) {
        font-size: 10px;
    }
    &:focus {
        box-shadow: none;
    }
    &-value{
        color: #222!important;
        font-family: "Montserrat";
        font-weight: 600;
    }
    option.sel {
        border: 0px;
        height: 50px;
        line-height: 50px;
        outline: none;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 44px;
        margin: 10px;
        padding: 20px;
        &:hover {
            background: $red !important;
        }
    }
    &-arrow {
        background: url(../../../../assets/arrow.svg) no-repeat center center;
        &-wrapper {
            visibility: hidden;
        }
    }
    &-panel {
        position: absolute;
        top: 32px;
        left: 4px;
        min-width: calc(100% + 22px) !important;
        border-radius: 0px !important;
        border: 1px solid blue;
        border-top-style: none;
        background: url(../../../../assets/arrow.svg) no-repeat center center;
        & ng-animating {
            visibility: hidden;
        }
    }
}

.mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-radius: 0px !important;
    border: 1px solid blue !important;
    border-right-style: none !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0px !important;
    border: 1px solid blue !important;
    border-left-style: none !important;
}

:host ::ng-deep .mat-form-field-underline {
    display: none;
}

#cdr {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 15px 10px 10px 10px;
    list-style: none;
    background-color: $white;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    li {
        margin-bottom: 10px;
    }
    // ul {
    //     list-style: none;
    //     padding: 0px;
    // }
    svg {
        margin-right: 6px;
    }
    h4 {
        width: auto;
        font-size: 16px;
        margin-bottom: 0;
        line-height: 16px;
        padding: 0;
        font-family: "Montserrat";
        font-weight: 500;
    }
    span {
        font-size: 10px;
        line-height: 10px;
        padding: 0;
        font-family: "Montserrat";
    }
    input {
        border: 0;
        text-align: center;
        width: 30px;
        max-width: 30px;
        min-width: 30px;
        display: block;
        font-family: "Montserrat";
        font-size: 12px;
    }
    button {
        background: $red_light;
        font-family: "Montserrat";
        &.cancel {
            background: $gray_button;
            color: $gray;
        }
        &.count {
            border: 1px solid #e5e6e7;
            background: white;
            color: #009aed;
            &:hover {
                background: $red_light;
                color: white;
            }
        }
    }
}

::ng-deep .mat-option-text{
    font-weight: 600;
    font-family: "Montserrat";
    color: #4B4B4B 
}