<div class="banner">
    <div class="content">
        <img src="./assets/banner/home_.jpg">
    </div>
    <article class="container">
        <div class="row">
            <div class="col-12">
                <mat-tab-group mat-align-tabs="start">
                    <mat-tab label="Vuelos">
                        <form>
                            <div class="container">
                                <!-- COMBOS -->
                                <div class="row">
                                    <div class="col-2">
                                        <select class="form-select" aria-label="Default select example">
                                            <option value="1">Solo ida</option>
                                            <option selected value="2">Ida y vuelta</option>
                                            <option value="3">Multi city</option>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Open this select menu</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Open this select menu</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- END COMBOS -->

                                <!-- FILTROS -->
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Origen">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Destino">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Salida">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Vuelta">
                                    </div>
                                    <div class="col-1 d-flex align-items-end">
                                        <button>Buscar</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <!-- END FILTROS -->

                            </div>
                        </form>
                    </mat-tab>
                    <mat-tab label="Paquetes"> Content 2 </mat-tab>
                    <mat-tab label="Vuelo + Hotel"> Content 3 </mat-tab>
                    <mat-tab label="Hoteles"> Content 1 </mat-tab>
                    <mat-tab label="Autos"> Content 2 </mat-tab>
                    <mat-tab label="Actividades"> Content 3 </mat-tab>
                    <mat-tab label="Seguros"> Content 3 </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </article>
</div>