<div class="container__page" *ngIf="!showMessagePay">
	<div class="container__page__section">
		<article>
			<div class="container__page__section__title">
				<span class="container__page__section__title__primary">Métodos de pago</span>
				<span class="container__page__section__title__secondary">
					Selecciona tu método de pago (el pago se llevará a cabo una vez presiones el botón pagar al final del
					formulario).
				</span>
			</div>
			<mat-accordion *ngIf="getScreenWidth < 1200">
				<mat-expansion-panel [expanded]="true">
					<mat-expansion-panel-header>
						<mat-panel-title>
							<div
								class="container__page__section__pay_header__tab"
								[class.inactive]="counter >= 4"
								[class.active]="isPayCard"
								(click)="clickTab()"
							>
								<img
									alt="pay_img"
									[src]="
										isPayCard
											? './assets/svg/credit-red.svg'
											: counter >= 4
											? './assets/svg/credit-disbled.svg'
											: './assets/svg/credit.svg'
									"
								/>
								<span>Tarjeta de crédito o débito</span>
							</div>
						</mat-panel-title>
					</mat-expansion-panel-header>
					<ng-container *ngTemplateOutlet="tab1"></ng-container>
				</mat-expansion-panel>
				<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
					<mat-expansion-panel-header>
						<mat-panel-title>
							<div class="container__page__section__pay_header__tab" [class.active]="!isPayCard" (click)="clickTab()">
								<img alt="pay_img" [src]="isPayCard ? './assets/svg/store.svg' : './assets/svg/store-red.svg'" />
								<span>Banca por internet / Agencias</span>
							</div>
						</mat-panel-title>
					</mat-expansion-panel-header>
					<ng-container *ngTemplateOutlet="tab2"></ng-container>
				</mat-expansion-panel>
			</mat-accordion>

			<div *ngIf="getScreenWidth > 1200" class="container__page__section__pay">
				<div class="container__page__section__pay_header" [class.is-kayak]="isKayak && counter < 4">
					<div
						class="container__page__section__pay_header__tab"
						[class.inactive]="counter >= 4"
						[class.active]="isPayCard"
						(click)="clickTab()"
					>
						<img
							alt="pay_img"
							[src]="
								isPayCard
									? './assets/svg/credit-red.svg'
									: counter >= 4
									? './assets/svg/credit-disbled.svg'
									: './assets/svg/credit.svg'
							"
						/>
						<span>Tarjeta de crédito o débito</span>
					</div>
					<div *ngIf="!isKayak" class="container__page__section__pay_header__tab" [class.active]="!isPayCard" (click)="clickTab()">
						<img alt="pay_img" [src]="isPayCard ? './assets/svg/store.svg' : './assets/svg/store-red.svg'" />
						<span>Banca por internet / Agencias</span>
					</div>
					<div *ngIf="isKayak && counter >= 4" class="container__page__section__pay_header__tab" [class.active]="!isPayCard" (click)="clickTab()">
						<img alt="pay_img" [src]="isPayCard ? './assets/svg/store.svg' : './assets/svg/store-red.svg'" />
						<span>Banca por internet / Agencias</span>
					</div>
				</div>
				<!------------------------FirtsTab------------------------------->
				<ng-container *ngIf="isPayCard">
					<ng-container *ngTemplateOutlet="tab1"></ng-container>
				</ng-container>
				<!------------------------SecondTab------------------------------->
				<ng-container *ngIf="!isPayCard">
					<ng-container *ngTemplateOutlet="tab2"></ng-container>
				</ng-container>

				<!------End Second Tab--------------->
			</div>
		</article>
		<article>
			<div class="container__page__section__title">
				<span class="container__page__section__title__primary">Utilizar código promocional</span>
			</div>

			<app-card-checkout>
				<div class="container__page__section__cupon" [formGroup]="formGroupBooking">
					<app-input
						[label]="'Código'"
						[placeholder]="'Ingresar código'"
						[name]="'CuponPromoWeb'"
						[isCheck]="isValidPromotionalCode && isApplyCupon"
						[maxLenght]="6"
						[class]="cuponPromoWebField.touched && cuponPromoWebField!.invalid ? 'error' : ''"
						[labelError]="
							cuponPromoWebField.touched &&
							!isValidPromotionalCode &&
							discountCupon === null &&
							cuponPromoWebField.invalid
								? textErrorCupon
								: ''
						"
					></app-input>
					<app-button [text]="'Aplicar'" [color]="'outline-secondary'" (click)="validCuponWeb()"></app-button>
				</div>
			</app-card-checkout>
		</article>

		<article>
			<form [formGroup]="formGroupPolitics" class="container__page__section__politics">
				<app-input-check
					[label]="'Autorizo el uso de mi información para la publicidad.'"
					[name]="'acceptAdvertising'"
				></app-input-check>
				<span
					>Al realizar esta compra, acepto los
					<a [href]="'/terminos-condiciones'" target="_blank">términos y condiciones de compra</a>,
					<a [href]="'/condiciones-de-reserva'" target="_blank">condiciones de reserva</a> y
					<a [href]="'/documentacion-viaje'" target="_blank">documentación de viaje</a>.</span
				>
			</form>
		</article>

		<div class="container__page__section__button">
			<app-button
				[text]="'Realizar compra'"
				[color]="'primary'"
				[disabled]="!formGroupCard.valid"
				(click)="sendPayment()"
			></app-button>
		</div>
	</div>
</div>
<app-message-pay
	*ngIf="showMessagePay"
	[listBanksInternet]="listBanksInternet"
	[codeSafetyPay]="codeSafetyPay"
	[isPayCard]="isPayCard"
	[transactionId]="transactionId"
></app-message-pay>

<ng-template #tab1>
	<div class="container__page__section__pay__cards">
		<div class="container__page__section__pay__cards__bank" *ngFor="let card of listCreditCard">
			<img alt="pay_img" [src]="card.image" />
			<span>{{ card.name }}</span>
		</div>
	</div>
	<form class="container__page__section__pay__form" [formGroup]="formGroupCard" autocomplete="off">
		<div class="row row-xl-12 row-sm-12 row-lg-12">
			<div class="col-sm-12 col-lg-12 col-xl-6">
				<app-input-credit-card
					[label]="'Número de tarjeta'"
					[placeholder]="'Ingresar tarjeta'"
					[name]="'cardNumber'"
					[isRequired]="true"
					[class]="cardNumberField.touched && cardNumberField!.invalid ? 'error' : ''"
					[labelError]="
						cardNumberField.touched && cardNumberField!.hasError('required')
							? 'Numero de tarjeta es obligatorio'
							: cardNumberField.touched && cardNumberField!.hasError('pattern')
							? 'Numero de tarjeta inválido'
							: ''
					"
				></app-input-credit-card>
			</div>
			<div class="col_pay col-sm-6 col-lg-6 col-xl-3">
				<app-input-credit-card
					[label]="'Vencimiento'"
					[placeholder]="'mm/yy'"
					[isCreditCard]="false"
					[name]="'expiration'"
					[isRequired]="true"
					[class]="expirationField.touched && expirationField!.invalid ? 'error' : ''"
					[labelError]="
						expirationField.touched && expirationField!.hasError('required')
							? 'Vencimiento es obligatorio'
							: expirationField.touched && expirationField!.hasError('pattern')
							? 'Vencimiento inválido'
							: ''
					"
				></app-input-credit-card>
			</div>
			<div class="col_pay col-sm-6 col-lg-6 col-xl-3">
				<app-input
					[label]="'CVV'"
					[placeholder]="'123'"
					[name]="'cvv'"
					[isPassword]="true"
					[isRequired]="true"
					[maxLenght]="3"
					[isCVV]="true"
					[isOnlyNumber]="true"
					[class]="cvvField.touched && cvvField!.invalid ? 'error' : ''"
					[labelError]="
						cvvField.touched && cvvField!.hasError('required')
							? 'CVV es obligatorio'
							: cvvField.touched && cvvField!.hasError('pattern')
							? 'CVV inválido'
							: ''
					"
				></app-input>
			</div>
		</div>

		<div class="row row-xl-12 sm-12">
			<div class="col-sm-12 col-lg-12 col-xl-6">
				<app-input
					[label]="'Titular de la tarjeta'"
					[placeholder]="'Ingrese nombre y apellido'"
					[name]="'cardOwner'"
					[isRequired]="true"
					[isOnlyText]="true"
					[class]="cardOwnerField.touched && cardOwnerField!.invalid ? 'error' : ''"
					[labelError]="cardOwnerField.touched && cardOwnerField!.hasError('required') ? 'Titular es obligatorio' : ''"
				></app-input>
			</div>

			<div class="col_pay col-sm-12 col-lg-12 col-xl-3">
				<app-select
					[label]="'Tipo de documento'"
					[placeholder]="'Seleccionar'"
					[name]="'documentType'"
					[isRequired]="true"
					[listItems]="listTypeDocument"
					[default]="documentTypeField.value"
					[labelError]="
						documentTypeField.touched && documentTypeField!.hasError('required') ? 'Tipo es obligatorio' : ''
					"
					(setErrorSelect)="documentTypeField.markAsTouched()"
				></app-select>
			</div>

			<div class="col_pay col-sm-12 col-lg-12 col-xl-3">
				<app-input
					[label]="'N° de documento'"
					[placeholder]="'Ingresar número'"
					[name]="'documentNumber'"
					[isRequired]="true"
					#InputDocumentNumber
					[maxLenght]="documentTypeField.value == 0 || documentTypeField.value == '0' ? 8 : 12"
					[isOnlyNumber]="documentTypeField.value == 0 ? true : false"
					[class]="documentNumberField.touched && documentNumberField!.invalid ? 'error' : ''"
					[labelError]="
						documentNumberField.touched && documentNumberField!.hasError('required')
							? 'Número es obligatorio'
							: documentNumberField.touched && documentNumberField!.hasError('pattern')
							? 'Número inválido'
							: ''
					"
				></app-input>
			</div>
		</div>
		<div class="row row-sm-12 row-xl-12 row-lg-12">
			<div class="col-sm-12 col-md-6 col-lg-12 col-xl-6">
				<app-select
					[label]="'Cuotas'"
					[placeholder]="'Sin cuotas'"
					[isRequired]="true"
					[listItems]="arrayCuotas"
					[name]="'numberQuotes'"
					[value]="numberQuotesField.value"
					(setErrorSelect)="numberQuotesField.markAsTouched()"
					[disabled]="disabledCuotes"
					[default]="numberQuotesField.value"
				></app-select>
			</div>
			<div class="col_pay col-md-6 col-sm-12 col-lg-12 col-xl-6">
				<app-input
					[label]="'Ciudad de Facturación'"
					[placeholder]="'Del titular de la tarjeta'"
					[name]="'city'"
					[isRequired]="true"
					[maxLenght]="50"
					[class]="cityField.touched && cityField!.invalid ? 'error' : ''"
					[labelError]="cityField.touched && cityField!.hasError('required') ? 'Ciudad es obligatorio' : ''"
				></app-input>
			</div>
		</div>
		<div class="row-xs-12 row-lg-12 row-xl-12">
			<div class="col-sm-12 col-lg-12 col-xl-12">
				<app-input
					[label]="'Dirección'"
					[placeholder]="'Ingresar Dirección'"
					[name]="'address'"
					[isRequired]="true"
					[maxLenght]="100"
					[class]="addressField.touched && addressField!.invalid ? 'error' : ''"
					[labelError]="addressField.touched && addressField!.hasError('required') ? 'Dirección es obligatorio' : ''"
				></app-input>
			</div>
		</div>
	</form>
</ng-template>
<ng-template #tab2>
	<ng-container>
		<div class="container__page__section__pay__subTabs">
			<div
				class="container__page__section__pay__subTabs__button"
				[class.active]="isPayBank"
				(click)="isPayBank = !isPayBank"
			>
				<span>Banca por internet</span>
			</div>
			<div
				class="container__page__section__pay__subTabs__button"
				[class.active]="!isPayBank"
				(click)="isPayBank = !isPayBank"
			>
				<span>Agencias / Agentes</span>
			</div>
		</div>

		<div class="container__page__section__pay__cards">
			<div class="container__page__section__pay__cards__bank" *ngFor="let bank of listBanksInternet">
				<img
					alt="pay_imgcontainer__page__section__pay__cards__bank"
					[src]="bank.image"
					class="container__page__section__pay__cards__bank__img"
				/>
				<span>{{ bank.name }}</span>
			</div>

			<ng-container *ngIf="!isPayBank">
				<div class="container__page__section__pay__cards__bank" *ngFor="let agency of listAgencies">
					<img alt="pay_img" [src]="agency.image" class="container__page__section__pay__cards__bank__img" />
					<span>{{ agency.name }}</span>
				</div>
			</ng-container>
		</div>

		<div class="container__page__section__pay__links" [class.end]="!isPayBank">
			<div class="container__page__section__pay__links__button" *ngIf="isPayBank">
				<app-button [text]="'Emisión automática después del pago.'" [color]="'link-secondary'"></app-button>
			</div>
			<div class="container__page__section__pay__links__button">
				<app-button [text]="'¿Cómo pagar con SafetyPay online?'" [color]="'link-secondary'"></app-button>
			</div>
		</div>

		<div class="container__page__section__pay__alert">
			<div class="container__page__section__pay__alert__contend">
				<div class="container__page__section__pay__alert__contend__text">
					<img src="./assets/checkout/info.svg" alt="i" />
					<span
						>Recuerda que una vez generado tu código SafetyPay, debería pagar dentro de las
						<strong>próximas 2 horas</strong>. De lo contrario la reserva será cancelada</span
					>
				</div>
			</div>
		</div>
	</ng-container>
</ng-template>
