@use '/src/scss/colors';

.container__page {
	width: 100%;
	padding-bottom: 10%;

	@media (max-width: 1199px) {
		padding-bottom: 30px;
	}

	.line {
		width: 100%;
		height: 0;
		border-top: 1px solid colors.$neutral-100;
	}

	&__section {
		display: flex;
		flex-direction: column;
		gap: 48px;

		&__title {
			display: flex;
			flex-direction: column;
			gap: 8px;
			padding: 0px 16px;

			&__primary {
				font-family: Open Sans;
				font-size: 28px;
				font-weight: 600;
				line-height: 36px;
				letter-spacing: -0.02em;
				text-align: left;
				color: colors.$neutral-900;
				@media (max-width: 1199px) {
					font-size: 24px;
				}
				@media (max-width: 550px) {
					font-size: 20px;
				}
			}

			&__secondary {
				font-family: Montserrat;
				font-size: 18px;
				font-weight: 400;
				line-height: 28px;
				letter-spacing: 0em;
				text-align: left;
				color: colors.$neutral-900;
			}
		}

		&__pay {
			padding: 0px 0px 24px 0px;
			display: flex;
			flex-direction: column;
			gap: 32px;
			background: white;
			border-radius: 12px;

			&_header {
				box-shadow: 0px 2px 4px -2px #1018281a;
				box-shadow: 0px 4px 6px -1px #1018281a;
				height: 80px;
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				&.is-kayak {
					grid-template-columns: 1fr;
				}

				@media (max-width: 1199px) {
					height: 150px;
					grid-template-columns: repeat(1, 1fr);
				}

				&__tab {
					padding: 8px 12px;
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 8px;
					cursor: pointer;

					span {
						font-family: Open Sans;
						font-size: 20px;
						font-weight: 600;
						line-height: 28px;
						letter-spacing: -0.02em;
						text-align: left;
						color: colors.$neutral-900;

						@media (max-width: 470px) {
							font-size: 14px;
						}
					}

					&.active {
						border-bottom: 3px solid colors.$red-500;

						@media (max-width: 1199px) {
							border-bottom: none;
						}

						span {
							color: colors.$red-500;
						}
					}

					&.inactive {
						cursor: not-allowed;

						span {
							color: colors.$gris-600;

							@media (max-width: 1199px) {
								color: rgba(215, 217, 218, 1);
							}
						}
					}
				}
			}

			&__cards {
				display: flex;
				column-gap: 64px;
				justify-content: center;
				margin: 0 auto;
				justify-items: center;
				row-gap: 32px;
				flex-wrap: wrap;

				@media (max-width: 1199px) {
					column-gap: 10px;
					row-gap: 16px;
				}

				&__bank {
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					align-items: center;
					gap: 8px;
					max-width: 112px;
					img {
						max-width: 112px;
						width: 100%;
					}
					span {
						font-family: Montserrat;
						font-size: 12px;
						font-weight: 600;
						line-height: 20px;
						letter-spacing: 0em;
						text-align: center;
					}

					@media (max-width: 1199px) {
						gap: 2px;
						width: 20%;
					}

					@media (max-width: 575px) {
						span {
							font-size: 10px;
							line-height: 16px;
						}
					}
				}
			}

			&__form {
				display: flex;
				gap: 24px;
				padding: 24px 24px 0px 24px;
				flex-direction: column;

				@media (max-width: 1199px) {
					padding: 24px 0;
				}
			}

			&__subTabs {
				display: flex;
				justify-content: center;
				gap: 40px;
				padding: 0 25px;
				@media (max-width: 1199px) {
					display: grid;
					width: 100%;
					justify-content: initial;
					grid-gap: 0px;
					gap: 0px;
					padding: 20px 0px 14px;
				}

				&__button {
					height: 56px;
					padding: 8px 12px 8px 12px;
					border-radius: 8px;
					border: 1px solid colors.$blue-500;
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					width: 100%;

					@media (max-width: 1199px) {
						width: auto;
						margin-bottom: 10px;
					}

					@media (max-width: 570px) {
						height: 37px;
						padding: 8px 12px 8px 12px;
						border-radius: 8px;
						font-size: 12px;
					}

					span {
						font-family: Inter;
						font-size: 18px;
						font-weight: 600;
						line-height: 28px;
						color: colors.$blue-500;

						@media (max-width: 570px) {
							font-size: 12px;
						}
					}

					&.active {
						background: colors.$blue-500;

						span {
							color: white;
						}
					}
				}
			}

			&__alert {
				padding: 0px 25px;
				margin: 0 auto;
				@media (max-width: 1199px) {
					padding: 0px;
				}

				&__contend {
					width: 100%;
					height: auto;
					padding: 12px 16px;
					border-radius: 8px;
					background: colors.$bg-warning;

					&__text {
						display: flex;
						gap: 16px;
						align-items: flex-start;
						justify-content: flex-start;

						span {
							font-family: Inter;
							font-size: 16px;
							font-weight: 400;
							line-height: 24px;
							letter-spacing: 0em;
						}
					}
					@media (max-width: 1199px) {
						&__text span {
							font-size: 14px;
						}
						gap: 10px;
					}
					@media (max-width: 575px) {
						&__text span {
							font-size: 12px;
						}
						padding: 8px 12px;
						gap: 8px;
					}
				}
			}
		}

		&__cupon {
			display: grid;
			grid-template-columns: auto 100px;
			align-items: center;
			column-gap: 24px;
			row-gap: 12px;
			@media (max-width: 575px) {
				grid-template-columns: 1fr;
				&__button {
					padding-left: 3px;
				}
			}
		}

		article,
		&__billing {
			display: flex;
			flex-direction: column;
			gap: 24px;

			.check__container {
				display: flex;
				gap: 4px;
				align-items: center;

				span {
					font-family: Montserrat;
					font-size: 18px;
					font-weight: 500;
					line-height: 28px;
					letter-spacing: 0em;
					color: colors.$neutral-900;
				}
			}
		}

		&__billing {
			&__row {
				display: grid;
				column-gap: 20px;
				grid-template-columns: repeat(2, 1fr);
			}

			&__address {
				margin-top: 24px;
				width: 100%;
			}
		}

		&__politics {
			padding: 0px 12px;
			display: flex;
			flex-direction: column;
			gap: 16px;

			span {
				font-family: Montserrat;
				font-size: 14px;
				line-height: 20px;
				letter-spacing: 0em;
				text-align: left;
				font-weight: 400;

				> a {
					font-family: Montserrat;
					color: colors.$blue-500;
					font-size: 14px;
					font-weight: 500;

					&:hover {
						color: colors.$blue-600;
					}
				}
			}
		}

		&__button {
			width: 100%;
			display: flex;
			justify-content: flex-end;

			@media (max-width: 670px) {
				display: none;
			}
		}
	}
}

@media (max-width: 1199px) {
	.container__page__section {
		gap: 32px;
	}
	.container__page__section__title__primary__text h1 {
		font-size: 24px;
	}
	.container__page__section__title__secondary {
		font-size: 16px;
		line-height: 24px;
	}

	.links {
		padding: 16px 0px;
	}
}

@media (max-width: 575px) {
	.container__page__section {
		gap: 24px;
	}

	.container__page__section__politics span,
	.container__page__section__politics span a {
		font-size: 12px;
		line-height: 20px;
	}

	.container__page__section__title__secondary {
		font-size: 14px;
		line-height: 20px;
	}
}
