section.principal-banner {
  img.img-fluid {
    @media (min-width: 768px) {
      max-height: 45vh;
      width: 100vw;
      object-fit: cover;
      margin-right: 0;
      margin-left: 0;
      max-width: 100% !important;
    }
  }
}

h6 {
  color: #b50a27;
}

.btn-agencias.activa {
  background-color: #b50a27;
}

.radio-quest {
  font-size: 14px;
  span {
    font-weight: 400;
  }
}

.form-control,
.form-select {
  border: 1px solid #e4e5e7;
  border-radius: 5px;
  height: 45px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #df0c30ff;
}

::ng-deep .mat-checkbox {
  label {
    padding-bottom: 0 !important;
  }
}

hr {
  color: #e4e5e7;
  opacity: 1;
}

.x-small {
  font-size: 0.75rem !important;
  font-family: Open Sans, sans-serif !important;
  margin-bottom: 0.25rem !important;

  @media (min-width: 1441px) {
    font-size: 0.875rem !important;
    margin-bottom: 0.5rem !important;
  }
}

.card {
  .card-header {
    border-radius: 10px 10px 0 0;
  }

  ul {
    list-style: none;
    padding-left: 0;

    li::before {
      content: "-";
      margin-right: 5px;
    }
  }
}

::ng-deep {
  .filter-response {
    margin-bottom: 2rem;
    button {
      margin-bottom: 1rem;
    }
    button,
    input {
      font-size: 12px;
    }
    input {
      margin-bottom: 10px !important;
      padding: 0 10px;
      line-height: 30px;
      border-radius: 3px;
    }
    .resumen_arrows {
      &.collapsed {
        margin-bottom: 1rem;
        background: #f2f2f2;
        padding: 20px 10px;
        border-radius: 0 20px 20px 21px;
      }
    }
  }
}
