<section class="mt-0 principal-banner">
  <img class="img-fluid" [src]="banner?.PathImage" alt="Banner">
</section>
<section class="container">
  <form novalidate class="row" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="col-12 col-lg-6">
      <h4 class="inter-bold mt-3 mt-lg-4">Formulario Pre-Registro </h4>
      <button type="button" class="btn-agencias activa inter-medium fs-6 w-auto py-2 px-3"
        (click)="toggleModalVerify()">
        Verifica Tu Registro
      </button>
      <p class="lh-1 mb-5 mt-2">Por favor consolidar todos los datos de los viajeros en un solo registro. aunque sus
        fechas y
        destinos sean distintos.</p>

      <ng-container #passengersContainer></ng-container>
      <hr class="my-4 my-lg-5">
      <div class="row gy-3">
        <div class="col-12">
          <label for="" class="p-0">¿En qué fecha planeas viajar?</label>
          <input class="form-control" #dateInput formControlName="date" placeholder="(DD/MM/AAAA)" type="text"
            [class.is-invalid]="dateControl.invalid && dateControl.touched" (input)="formatDate()">
        </div>

        <div class="col-12">
          <label for="" class="p-0">Miércoles 29 de noviembre</label>
          <div class="row">
            <div class="col d-grid ps-4 pt-2">
              <label class="radio-quest p-0" *ngFor="let i of [1,2,3]">
                <input type="radio" name="horario" data-item="1" value="1">
                <span>
                  De 5pm a 7pm
                </span>
              </label>
            </div>
          </div>
        </div>

        <div class="col-12">
          <mat-checkbox formControlName="privacyPolicy">
            <span class="x-small fw-normal text-wrap">
              He le&iacute;do y acepto la pol&iacute;tica de protecci&oacute;n de datos personales.
              <a href="https://www.nmviajes.com/politicas" target="_blank" class="x-small">
                Leer Pol&iacute;tica de Privacidad.
              </a>
            </span>
          </mat-checkbox>
          <p class="text-danger small" *ngIf="privacyPolicy.invalid && errorsDisplayed">
            Debes aceptar las Pol&iacute;ticas de Privacidad
          </p>
        </div>
        <div class="col-12">
          <mat-checkbox formControlName="dataPolicy">
            <span class="x-small fw-normal text-wrap">
              Acepto el uso de mis datos personales para recibir comunicaciones sobre ofertas de nmviajes.
            </span>
          </mat-checkbox>
          <p class="text-danger small" *ngIf="dataPolicy.invalid && errorsDisplayed">
            Debes aceptar el tratamiento de tus datos personales.
          </p>
        </div>
        <div class="col-12">
          <p class="x-small fw-normal">
            Los datos ingresados son correctos, cualquier error u omisi&oacute;n queda bajo mi responsabilidad.
            Adem&aacute;s,
            confirmo haber le&iacute;do las RECOMENDACIONES para el evento.
          </p>
        </div>
        <div class="col-12 mt-4">
          <button type="submit" class="btn-agencias activa inter-semi-bold fs-6 w-auto py-2 px-5" style="height: 45px">
            Enviar
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center shadow-none mt-3 mt-lg-4 ms-lg-4 ms-xl-5">
        <div class="card-header">
          <h5 class="inter-bold mt-3 mt-lg-4">
            <img src="assets/svg/idea.svg" alt="Recomendaci&oacute;n" class="me-2" style="height: 30px;">
            Recomendaciones importantes
          </h5>
        </div>
        <div class="card-body">
          <ul class="card-text text-start mx-2 mx-lg-3 mx-xl-4 small">
            <li class="mb-2">
              <p class="d-inline">Completar toda la información de las personas que viajan. Los datos deben ser exactos
                a como figuran en sus pasaportes para viaje internacional o DNI para viaje nacional. De esta manera, la
                atención será más fluida</p>
            </li>
            <li class="mb-2">
              <p class="d-inline">Luego de completar los datos, recibirá un correo con su código de inscripción que
                consolida toda la información necesaria para sus reservas y deberá ser entregado al momento de su
                atención.</p>
            </li>
            <li class="mb-2">
              <p class="d-inline">Revisar las condiciones legales de las ofertas que estamos ofreciendo.</p>
            </li>
            <li class="mb-2">
              <p class="d-inline">Este pre registro no garantiza ningún cupo de paquete o boleto en el evento.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </form>
</section>
<!-- MODAL COBERTURA -->
<div class="modal fade" id="ModalVerifyI" tabindex="-1" aria-labelledby="ModalVerifyI" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header mb-3">
        <h5 class="modal-title" id="exampleModalLabel">Verifica Tu Registro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <form novalidate class="row" [formGroup]="formVerify" (ngSubmit)="doSearch()">
            <div class="col-12">
              <div class="row gy-3">
                <div class="col-6 col-md-6">
                  <select class="form-select" formControlName="docType">
                    <option value="" disabled>Tipo de documento</option>
                    <option value="CE">C. extranjer&iacute;a</option>
                    <option value="DNI">DNI</option>
                    <option value="PAS">Pasaporte</option>
                  </select>
                </div>
                <div class="col-6">
                  <input class="form-control" formControlName="docNumber" placeholder="N° de documento" type="text">
                </div>

                <div class="col-12 m-0 mb-4">
                  <button type="submit" class="btn-agencias activa inter-semi-bold fs-6 w-auto py-2 px-5"
                    style="height: 45px">
                    Enviar
                  </button>
                </div>

                <ng-container *ngIf="filterResponse">
                  <hr>
                  <div class="col-12">
                    <div class="filter-response" [innerHTML]="filterResponse"></div>
                  </div>
                </ng-container>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
