.inputGroup {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-right: 20px;
  }

  h2{
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}
p{
    text-align: justify;
}
.modal-body{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}