<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 pt-3">
        <div class="card">
            <div class="card-header">
                <div class="row row-cust p-0">
                    <div class="col-sm-12 col-md-6 col-lg-4 p-0">
                        <div class="card-header-fire">
                            <div class="card-header-fire-corner"></div>
                            <span class="align-middle svg-icon fire display-default"></span>
                            <span class="align-middle font-fire-number">3</span>
                            <span class="align-middle font-fire-text">¡Últimos espacios!</span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-5 p-0">
                        <div class="card-header-notice">
                            <span class="align-middle font-notice-false">No incluye equipaje de bodega</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row row-cust p-0">
                    <div class="col-sm-9 col-md-9 col-lg-9 p-0">
                        <div class="row row-cust p-0">
                            <div class="col-sm-12 col-md-12 col-lg-12 p-0 pt-2">
                                <div class="card-body-header">
                                    <span class="align-middle font-body-text">SALIDA</span>
                                    <span class="align-middle svg-icon arrow-right display-default"></span>
                                    <span class="align-middle font-body-date">Jue. 22 Jul</span>
                                </div>
                                <div class="card-body-content">
                                    <div class="row row-cust">
                                        <div class="col-sm-12 col-md-12 col-lg-12 pt-5 pb-4">
                                            <ul class="nav nav-pills nav-justified bg-white">
                                                <li class="nav-item nav-item-pack position-relative">
                                                    <div class="company position-absolute top-50 start-50 translate-middle"></div>
                                                </li>
                                                <li class="nav-item nav-item-pack position-relative">
                                                    <div class="position-absolute top-50 start-50 translate-middle">
                                                        <div class="align-middle font-content-hour">16:38 PM</div>
                                                        <span class="align-middle font-content-side">Lima</span>
                                                    </div>
                                                </li>
                                                <li class="nav-item nav-item-pack position-relative">
                                                    <div class="position-absolute top-50 start-50 translate-middle">
                                                        <span class="align-middle font-content-scale">1 escala</span>
                                                        <span class="align-middle svg-icon direct"></span>
                                                    </div>
                                                </li>
                                                <li class="nav-item nav-item-pack position-relative">
                                                    <div class="position-absolute top-50 start-50 translate-middle">
                                                        <div class="align-middle font-content-hour">10:19 AM</div>
                                                        <span class="align-middle font-content-side">Cancún</span>
                                                    </div>
                                                </li>
                                                <li class="nav-item nav-item-pack position-relative">
                                                    <div class="position-absolute top-50 start-50 translate-middle">
                                                        <div class="align-middle font-content-duration">17h 58m</div>
                                                    </div>
                                                </li>
                                                <li class="nav-item nav-item-pack position-relative">
                                                    <div class="position-absolute top-50 start-50 translate-middle">
                                                        <div class="d-flex justify-content-center">
                                                            <span class="align-middle svg-icon back-pack"></span>
                                                            <span class="align-middle svg-icon hand-pack"></span>
                                                            <span class="align-middle svg-icon travel-pack"></span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row row-cust p-0">
                            <div class="col-sm-12 col-md-12 col-lg-12 p-0">
                                <div class="card-body-header">
                                    <span class="align-middle font-body-text">REGRESO</span>
                                    <span class="align-middle svg-icon arrow-right display-default"></span>
                                    <span class="align-middle font-body-date">Jue. 22 Jul</span>
                                </div>
                                <div class="card-body-content">
                                    <div class="row row-cust">
                                        <div class="col-sm-12 col-md-12 col-lg-12 pt-5 pb-4">
                                            <ul class="nav nav-pills nav-justified bg-white">
                                                <li class="nav-item nav-item-pack position-relative">
                                                    <div class="company position-absolute top-50 start-50 translate-middle"></div>
                                                </li>
                                                <li class="nav-item nav-item-pack position-relative">
                                                    <div class="position-absolute top-50 start-50 translate-middle">
                                                        <div class="align-middle font-content-hour">16:38 PM</div>
                                                        <span class="align-middle font-content-side">Lima</span>
                                                    </div>
                                                </li>
                                                <li class="nav-item nav-item-pack position-relative">
                                                    <div class="position-absolute top-50 start-50 translate-middle">
                                                        <span class="align-middle font-content-scale">1 escala</span>
                                                        <span class="align-middle svg-icon direct"></span>
                                                    </div>
                                                </li>
                                                <li class="nav-item nav-item-pack position-relative">
                                                    <div class="position-absolute top-50 start-50 translate-middle">
                                                        <div class="align-middle font-content-hour">10:19 AM</div>
                                                        <span class="align-middle font-content-side">Cancún</span>
                                                    </div>
                                                </li>
                                                <li class="nav-item nav-item-pack position-relative">
                                                    <div class="position-absolute top-50 start-50 translate-middle">
                                                        <div class="align-middle font-content-duration">17h 58m</div>
                                                    </div>
                                                </li>
                                                <li class="nav-item nav-item-pack position-relative">
                                                    <div class="position-absolute top-50 start-50 translate-middle">
                                                        <div class="d-flex justify-content-center">
                                                            <span class="align-middle svg-icon back-pack"></span>
                                                            <span class="align-middle svg-icon hand-pack"></span>
                                                            <span class="align-middle svg-icon travel-pack"></span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 col-cust-price">
                        <div class="row row-cust-price">
                            <div class="col-sm-12 col-md-12 col-lg-12 p-0">
                                <div class="row row-cust pt-2 pb-2">
                                    <div class="d-flex justify-content-center">
                                        <span class="align-middle font-price-number">$345</span>
                                        <span class="align-middle font-price-text">/persona</span>
                                    </div>
                                </div>
                                <div class="row row-cust pt-1 pb-1">
                                    <div class="d-flex justify-content-between">
                                        <span class="align-middle font-price-text">2 adultos</span>
                                        <span class="align-middle font-price-text">$690.00</span>
                                    </div>
                                </div>
                                <div class="row row-cust pt-1 pb-1">
                                    <div class="d-flex justify-content-between">
                                        <span class="align-middle font-price-text">Impuestos</span>
                                        <span class="align-middle font-price-text">$343.38</span>
                                    </div>
                                </div>
                                <div class="row row-cust pt-1 pb-1">
                                    <div class="d-flex justify-content-between">
                                        <span class="align-middle font-price-text">Cargos</span>
                                        <span class="align-middle font-price-text">$103.34</span>
                                    </div>
                                </div>
                                <div class="row row-cust pt-2 pb-2">
                                    <div class="d-flex justify-content-center">
                                        <span class="align-middle font-price-title">Precio final</span>
                                    </div>
                                </div>
                                <div class="row row-cust p-0">
                                    <div class="d-flex justify-content-center">
                                        <span class="align-middle font-price-number">$1136.72</span>
                                    </div>
                                </div>
                                <div class="row row-cust pt-2 pb-2">
                                    <div class="col-sm-12 col-md-12 col-lg-12 d-grid gap-2 mx-auto">
                                        <button type="button" class="btn bg-principal btn-sm">Comprar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>