@use '/src/scss/colors';

.flex-24 {
    display: flex;
    flex-direction: column;
    gap:24px;
}

.flex-40{
    display: flex;
    flex-direction: column;
    gap: 40px;
}



.container__page {
	min-height: calc(100% - 80px);
	background: white;
	section {
		max-width: 1440px;
		margin: 0 auto;
		padding: 40px 112px;
		display: grid;
		column-gap: 24px;
		grid-template-columns: 312px auto;
		min-height: 50vh;
	}
	&__search {
		width: 100%;
		padding: 40px 0px;
		height: 184px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: colors.$gris-50;
		box-shadow: 0px 1px 2px -1px #1018281A;
		box-shadow: 0px 1px 3px 0px #1018281A;
		&__metasearch {
			max-width: 1218px;
		}
	}

	/////ColumnResults
	&__results {
		@extend .flex-40;
		&__filters {
			width: 100%;
			height: 84px;
			padding: 4px 16px;
			background: colors.$neutral-80;
			display: flex;
			border-radius: 10px;
			gap:16px;
			align-items: center;
			justify-content: space-between;
			&__line{
				width: 0px;
				height: 50px;
				border-left: 1px solid colors.$gris-700;
			}
			&__tab{
				display: flex;
				cursor: pointer;
				border-radius: 10px;
				border-bottom: 4px solid colors.$neutral-80;
				span{
					font-family: Montserrat;
					font-size: 16px;
					line-height: 24px;
					letter-spacing: 0em;
					text-align: left;
					color:colors.$gris-700;
					font-weight: 400;
					&.bold{
						font-weight: 600;
					}
					&.active{
						color:colors.$gris-900;
					}
				}
				&:hover{
					background: colors.$gris-200;
				}
				&.active{
					border-bottom: 4px solid colors.$red-500;
					border-radius: 0px;
					&:hover{
						background: none;
					}
				}
				&.column{
					flex-direction: column;
					padding: 10px 16px;
				}
				&.row-10{
					padding: 22px 16px;
					flex-direction: row;
					gap:10px;
				}
				img{
					width: 24px;
					height: 24px;
				}
			}
		}
        &__cards{
            @extend .flex-24;
        }
		&__button{
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
