.container__notify {
	max-width: 560px;
	position: absolute;
	z-index: 99999;
	height: auto;
	top: 20px;
	padding: 20px;
	border-radius: 6px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	background: #ef4444;
	gap: 18px;
	left: 50%;
	transform: translateX(-50%);
	&__contend {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 16px;
		span {
			font-family: Montserrat;
			font-size: 14px;
			font-weight: 500;
			line-height: 24px;
			letter-spacing: 0em;
			text-align: left;
			color: white;
			strong {
				font-size: 16px;
			}
		}
	}

	@media(max-width:1199px){
		padding: 14px;
	}

	@media(max-width:575px){
		width: calc(100% - 24px);
		&__contend span {
			font-size: 12px;
			line-height: 20px;
			strong {
				font-size: 14px;
			}
		}
	}
}
