.card {
    margin-bottom: 32px;
    border-radius: 2px;
    flex: 1 1 auto;
    //width: 610px;
    height: 103px;
    // height: 104px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
    transition: all 300ms ease-in-out;
    &:hover {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    }
    @media (max-width: 768px) {
        width: 100%;
    }
}

h1 {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.18px;
    margin-bottom: 0px;
}

h5 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
    letter-spacing: 0.1px;
    margin-bottom: 0;
}