<app-tabs></app-tabs>
<!-- VUELOS -->
<section class="container">
    <div class="row mb-4 mt-5">
        <div class="col-12">
            <!-- <ng-container *ngFor="let section of dataPagePresenterService.data.sections">
                    <app-title *ngIf="section.section === 'Vuelos'" [title]="section.title"></app-title>
                </ng-container> -->
            <h2 class="titleHome">
                <strong>Pasajes Aéreos</strong>
            </h2>
            <h2 class="titleHome">Oferta de Vuelos Nacionales e Internacionales.</h2>
        </div>
        <div class="clearfix"></div>
    </div>
    <app-card [itemList]="packagesService.packages"></app-card>
    <div class="row text-end py-5">
        <div class="col-12">
            <ng-container *ngFor="let section of dataPagePresenterService.data.sections">
                <button class="plus dropdown-toggle" *ngIf="section.section === 'Vuelos'">{{ section.btn }}</button>
            </ng-container>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
<!-- END VUELOS -->

<section class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="titleHome">
                <strong>Vuelos Internacionales</strong>
            </h2>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row">
                <div *ngFor="let packb of packagesService.packages" class="col-12 col-md-3" [ngClass]="{'d-none': !packb.fly}">
                    <app-package *ngIf="packb.fly" [image]="packb.image" [fly]="packb.fly" [banner]="packb.banner" [span]="packb.span"
                        [city]="packb.city" [price]="packb.price"  [btn]="packb.btn"></app-package>
        </div>
        <div class="clearfix"></div>
    </div>
</section>

<!-- <app-filter></app-filter>
<app-aside></app-aside>

<div class="container">
    <div class="row">
        <div class="col-12">
            <app-title></app-title>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-3">
            <app-card></app-card>
        </div>
        <div class="col-3">
            <app-card></app-card>
        </div>
        <div class="col-3">
            <app-card></app-card>
        </div>
        <div class="col-3">
            <app-card></app-card>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <app-title></app-title>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <app-package></app-package>
        </div>
        <div class="col-6">
            <app-package></app-package>
        </div>
        <div class="col-4">
            <app-package></app-package>
        </div>
        <div class="col-4">
            <app-package></app-package>
        </div>
        <div class="col-4">
            <app-package></app-package>
        </div>
    </div>
</div>

<br>

<div class="container">
    <div class="row">
        <div class="col-12">
            <app-title></app-title>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-3">
            <app-card></app-card>
        </div>
        <div class="col-3">
            <app-card></app-card>
        </div>
        <div class="col-3">
            <app-card></app-card>
        </div>
        <div class="col-3">
            <app-card></app-card>
        </div>
    </div>
</div>

<br>
<div class="container px-0">
    <div class="row">
        <div class="col-6">
            <img width="100%" src="./assets/aside/3-PlayaDelCarmen.jpg">
        </div>
        <div class="col-6">
            <div class="row">
                <app-card-info></app-card-info>
                <app-card-info></app-card-info>
                <app-card-info></app-card-info>
            </div>
        </div>
    </div>
</div>

<app-mailing></app-mailing>
<app-footer></app-footer> -->