<app-filter></app-filter>
<app-aside></app-aside>
<div class="container">
    <div class="row">
        <div class="col-3">
            <app-card></app-card>
        </div>
        <div class="col-3">
            <app-card></app-card>
        </div>
        <div class="col-3">
            <app-card></app-card>
        </div>
        <div class="col-3">
            <app-card></app-card>
        </div>
    </div>
</div>
<br>
<div class="container px-0">
    <div class="row">
        <div class="col-6">
            <img width="100%" src="./assets/aside/3-PlayaDelCarmen.jpg">
        </div>
        <div class="col-6">
            <div class="row">
                <app-card-info></app-card-info>
                <app-card-info></app-card-info>
                <app-card-info></app-card-info>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-6">
            <app-package></app-package>
        </div>
        <div class="col-6">
            <app-package></app-package>
        </div>
        <div class="col-4">
            <app-package></app-package>
        </div>
        <div class="col-4">
            <app-package></app-package>
        </div>
        <div class="col-4">
            <app-package></app-package>
        </div>
    </div>
</div>
<app-mailing></app-mailing>
<app-footer></app-footer>