::ng-deep.tile {
	box-shadow: none !important;
}

:not(.slide) ::ng-deep.tile {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.p-carousel-prev, .p-carousel-next {
	height: 0;
	top: 40%;
	z-index: 2;
}

ul.dots {
	list-style-type: none;
	text-align: center;
	padding: 12px;
	margin: 0;
	white-space: nowrap;
	overflow: auto;
	box-sizing: border-box;

	li {
		display: inline-block;
		border-radius: 50%;
		border: 2px solid #83898f;
		background-color: #83898f;
		cursor: pointer;
		padding: .25rem;
		margin: 0 .25rem;
		transition: .5s;
		transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);

		&.active {
			background-color: #df0c30;
			border: 2px solid #df0c30;
			transform: scale(1.3);
		}
	}
}
