<div class="cardDestino" [ngClass]="{show : tickets}">

  <div class="loadingBoxCard" [ngClass]="{show : !tickets}">
    <div class="iconLoading">
      <img src="./assets/loader.gif" alt="">
    </div>
    <div class="texto">
      Cargando actividades...
    </div>
  </div>

  <p-carousel [value]="tickets" [numVisible]="3" [numScroll]="3" [responsiveOptions]="responsiveOptions">
    <ng-template let-product pTemplate="item">
      <div class="product-item">
        <div class="product-item-content">

          <p-galleria [(value)]="product.ImageUrls" [responsiveOptions]="responsiveOptions"
            [containerStyle]="{'max-width': '640px'}" [numVisible]="1" [circular]="true" [showItemNavigators]="true"
            [showThumbnails]="false">
            <ng-template pTemplate="item" let-item>
              <img [src]="item" [title]="product.Name" style="width: 100%; display: block;" />
            </ng-template>
          </p-galleria>

        </div>

        <div class="contCardDest">
          <div class="cardTitulo">{{ product.Name }}</div>
          <div class="cardDuracion" *ngIf="product.Duration">
            <mat-icon>restore</mat-icon> Duración: {{ product.Duration }}
          </div>
          <div class="cardActividad">
            {{product.ActivityType}}
          </div>
        </div>

      </div>
    </ng-template>
  </p-carousel>
</div>