<div class="banner h659">
	<div class="overflow-hidden w-100 mw-100 position-absolute top-0 h659">
		<img src="./assets/retail/banner.webp" alt="NM 28 de Julio" class="w-100 mw-100 h-100 position-absolute">
		<div class="position-absolute banner-title">
			<h6 class="fs-5 fw-bold lh-1">NM 28 de Julio</h6>
			<h1 class="text-white">Ven y disfruta de la<br><strong>mejor experiencia de viajes</strong></h1>
		</div>
	</div>
</div>
<section class="container mb-md-5">
	<div class="row">
		<div class="col-md-6">
			<h2 class="titleHome pt-md-5 pb-md-3 mb-md-4 mb-3 fw-bolder">NM 28 de Julio</h2>
			<p class="text-justify mb-3 mb-md-4">
				Organiza tu próximo viaje en un ambiente agradable. Nuestra tienda ubicada en Av. 28 de julio 1136,
				Miraflores te ofrece amplias instalaciones donde recibirás una atención personalizada por nuestros
				expertos asesores.
				Conversa con un asesor y planea el itinerario a tu medida en el destino de tu preferencia en nuestros
				counters tipo lounge, disfrutando una bebida en la zona de cafetería y por qué no, al aire libre en la
				terraza.
			</p>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.8965805966145!2d-77.03940318578668!3d-12.119228146550975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c83ccc55db55%3A0xee1a21d484b9cd6f!2sAv.%20Jos%C3%A9%20Pardo%20801%2C%20Lima%2015074!5e0!3m2!1ses!2spe!4v1642007934192!5m2!1ses!2spe"
			        width="100%" height="255" style="border:0; margin-bottom: 1rem;" allowfullscreen="" loading="lazy">
			</iframe>
		</div>
		<div class="col-md-6 py-3">
			<img src="assets/retail/28-de-julio.webp" alt="NM 28 de Julio" class="img-fluid pt-4 pt-md-5 mt-md-1" />
		</div>
	</div>
</section>
