<div class="dropdown__filter" *ngIf="value > 0 && highValue > 0">
	<div *ngIf="isMobile" class="dropdown__filter__close">
        <img src="./assets/svg/close-modal.svg" alt="x" (click)="clickCloseModal()">
    </div>
	<div class="dropdown__filter__header" (click)="!isMobile ? dropdownActive=!dropdownActive : null">
		<h4>Precio</h4>
		<img *ngIf="!isMobile" [src]="dropdownActive ? './assets/svg/RightUp.svg' : './assets/svg/Right.svg'" />
	</div>
	<div class="dropdown__filter__body" *ngIf="dropdownActive">
		<span class="dropdown__filter__body__reset" (click)="resetFilter()">Restablecer</span>
		<ng-container *ngIf="!hidden">
			<div class="dropdown__filter__body__slider">
				<ng5-slider
					[(value)]="value"
					[(highValue)]="highValue"
					[options]="options"
					(userChangeEnd)="filterPrice($event)"
				></ng5-slider>
			</div>
			<div class="dropdown__filter__body__prices">
				<span>{{ currency == 'USD' ? '$' : 'S/.' }}{{ value | changeCurrency: currency | number: '1.2-2' }}</span>
				<span>{{ currency == 'USD' ? '$' : 'S/.' }}{{ highValue | changeCurrency: currency | number: '1.2-2' }}</span>
			</div>
		</ng-container>
	</div>
</div>

<div *ngIf="isMobile" class="dropdown__footer">
    <app-button [text]="'Cancelar'"  (click)="clickCloseModal()" [size]="'xs'" [color]="'neutral'" ></app-button>
    <app-button [text]="'Confirmar'" [size]="'xs'"></app-button>
</div>
<div class="dropdown__loader" *ngIf="value == 0 || highValue == 0">
	<div class="skeleton dropdown__loader__skeleton_1"></div>
	<div class="skeleton dropdown__loader__skeleton_2"></div>
	<div class="skeleton dropdown__loader__skeleton_3"></div>
</div>
