<div class="dropdown__filter" *ngIf="value > 0 && highValue > 0">
	<div class="dropdown__filter__header" (click)="dropdownActive = !dropdownActive">
		<h4>Precio</h4>
		<img [src]="dropdownActive ? './assets/svg/RightUp.svg' : './assets/svg/Right.svg'" />
	</div>
	<div class="dropdown__filter__body" *ngIf="dropdownActive">
		<ng-container>
			<span class="dropdown__filter__body__reset" (click)="resetFilter()">Restablecer</span>
			<div class="dropdown__filter__body__slider">
				<ng5-slider
				    [id]="123"
					[(value)]="value"
					[(highValue)]="highValue"
					[options]="options"
					(userChangeEnd)="filterPrice($event)"
				></ng5-slider>
			</div>
			<div class="dropdown__filter__body__prices">
				<span>{{ currency == 'USD' ? '$' : 'S/.' }}{{ value | changeCurrency: currency | number: '1.2-2' }}</span>
				<span>{{ currency == 'USD' ? '$' : 'S/.' }}{{ highValue | changeCurrency: currency | number: '1.2-2' }}</span>
			</div>
		</ng-container>
	</div>
</div>

<div class="dropdown__loader" *ngIf="value == 0 || highValue == 0">
	<div class="skeleton dropdown__loader__skeleton_1"></div>
	<div class="skeleton dropdown__loader__skeleton_2"></div>
	<div class="skeleton dropdown__loader__skeleton_3"></div>
</div>