@import "/src/scss/variables";
.banner {
    width: 100%;
    height: 540px;
    padding: 0 !important;
    position: relative;
    overflow: inherit;
    display: flex;
    align-items: flex-end;
    background: $gray-light;
    &>.content {
        top: 0;
        height: 440px;
        position: absolute;
        max-width: 100%;
        width: 100%;
        border-radius: 0px 0px 20px 20px;
        overflow: hidden;
        & .float img {
            height: auto;
            // max-width: 100%;
            width: auto;
            left: 15%;
            top: 20%;
        }
        & img {
            position: absolute;
            object-fit: cover;
            -o-object-position: top;
            object-position: top;
            height: 100%;
            max-width: 100%;
            width: 100%;
        }
    }
}

@media (max-width: 640px) {
    .banner {
        &>.content {
            & .float img {
                left: 10%;
                top: 8%;
            }
        }
    }
}