<div class="container__offers" *ngIf="!hiddenSection">
	<div class="container__offers__section" id="sectionOffers">
		<div class="container__offers__section__title">
			<h3>Super ofertas</h3>
			<span>Descubre nuestras increíbles ofertas y ahorra en tus próximas aventuras. ¡No te las puedes perder!</span>
		</div>
		<div class="container__offers__section__tabs">
			<div
				class="container__offers__section__tabs__tab"
				*ngIf="showOffersNac"
				[class.active]="indexTab == 0"
				(click)="indexTab = 0"
			>
				<span>Nacional</span>
			</div>
			<div
				class="container__offers__section__tabs__tab"
				*ngIf="showOffersInt"
				[class.active]="indexTab == 1"
				(click)="indexTab = 1"
			>
				<span>Internacional</span>
			</div>
			<div
				class="container__offers__section__tabs__tab"
				*ngIf="showPackages"
				[class.active]="indexTab == 2"
				(click)="indexTab = 2"
			>
				<span>Paquetes</span>
			</div>
		</div>
		<ng-container *ngIf="indexTab == 0">
			<div class="container__offers__section__cards">
				<app-newcard-offer
					*ngFor="let national of nationalFlightsPag"
					[urlImage]="national.Image"
					[title]="national.Destination | titlecase"
					[description]="'Desde Lima'"
					[price]="national.Rate"
				></app-newcard-offer>
			</div>
			<div class="container__offers__section__button" *ngIf="nationalFlights.length > 4">
				<app-button
					[text]="nationalFlightsPag.length >= nationalFlights.length ? 'Ver menos' : 'Ver más ofertas'"
					(onClick)="showMore()"
					[isMobile]="true"
					[color]="'outline-primary'"
				></app-button>
			</div>
		</ng-container>

		<ng-container *ngIf="indexTab == 1">
			<div class="container__offers__section__cards">

				<app-newcard-offer
				    *ngFor="let international of internationalFlightsPag"
					[urlImage]="international.Image"
					[title]="international.Destination | titlecase"
					[description]="'Desde Lima'"
					[price]="international.Rate"
				></app-newcard-offer>

			</div>
			<div class="container__offers__section__button" *ngIf="internationalFlights.length > 4">
				<app-button
					[text]="internationalFlightsPag.length >= internationalFlights.length ? 'Ver menos' : 'Ver más ofertas'"
					(onClick)="showMore()"
					[isMobile]="true"
					[color]="'outline-primary'"
				>
				</app-button>
			</div>
		</ng-container>

		<ng-container *ngIf="indexTab == 2">
			<div class="container__offers__section__cards">
				<a *ngFor="let package of packages" [href]="package.link" target="_blank">
					<app-newcard-offer
						[urlImage]="package.image"
						[title]="package.destination"
						[description]="package.packageIncludes"
						[price]="package.price"
						[isPackage]="true"
						[numNight]="package.nights"
						[numStart]="package.accommodationType"
					></app-newcard-offer>
				</a>
			</div>
			<div class="container__offers__section__button">
				<a [href]="'https://vacaciones.nmviajes.com/'" target="_blank">
					<app-button [text]="'Ver más ofertas'" [color]="'outline-primary'" 	[isMobile]="true"></app-button>
				</a>
			</div>
		</ng-container>
	</div>
</div>
