<div class="container__offers" *ngIf="!hiddenSection">
	<div class="container__offers__section">
		<div class="container__offers__section__title">
			<h3>Super ofertas</h3>
			<span>Descubre nuestras increíbles ofertas y ahorra en tus próximas aventuras. ¡No te las puedes perder!</span>
		</div>
		<div class="container__offers__section__tabs">
			<div
				class="container__offers__section__tabs__tab"
				*ngIf="showOffersNac"
				[class.active]="indexTab == 0"
				(click)="indexTab = 0"
			>
				<span>Nacional</span>
			</div>
			<div
				class="container__offers__section__tabs__tab"
				*ngIf="showOffersInt"
				[class.active]="indexTab == 1"
				(click)="indexTab = 1"
			>
				<span>Internacional</span>
			</div>
			<div
				class="container__offers__section__tabs__tab"
				*ngIf="showPackages"
				[class.active]="indexTab == 2"
				(click)="indexTab = 2"
			>
				<span>Paquetes</span>
			</div>
		</div>
		<ng-container *ngIf="indexTab == 0">
			<div class="container__offers__section__cards">
				<div class="container__offers__section__cards__card" *ngFor="let national of nationalFlightsPag">
					<img [src]="national.Image" alt="" />
					<div class="container__offers__section__cards__card__body">
						<span class="block title">{{ national.Destination | titlecase}}</span>
						<span class="block">Desde Lima</span>
						<span class="regular"
							>Precio desde <span class="title price">${{ national.Rate }}</span></span
						>
					</div>
				</div>
			</div>
			<div class="container__offers__section__button" *ngIf="nationalFlights.length > 4">
				<app-button
					[text]="nationalFlightsPag.length >= nationalFlights.length ? 'Ver menos' : 'Ver más ofertas'"
					(onClick)="showMore()"
					[color]="'outline-primary'"
				></app-button>
			</div>
		</ng-container>

		<ng-container *ngIf="indexTab == 1">
			<div class="container__offers__section__cards">
				<div class="container__offers__section__cards__card" *ngFor="let national of internationalFlightsPag">
					<img [src]="national.Image" alt="" />
					<div class="container__offers__section__cards__card__body">
						<span class="block title">{{ national.Destination | titlecase }}</span>
						<span class="block">Desde Lima</span>
						<span class="regular"
							>Precio desde <span class="title price">${{ national.Rate }}</span></span
						>
					</div>
				</div>
			</div>
			<div class="container__offers__section__button" *ngIf="internationalFlights.length > 4">
				<app-button 
                    [text]="internationalFlightsPag.length >= internationalFlights.length ? 'Ver menos' : 'Ver más ofertas'"
                    (onClick)="showMore()" [color]="'outline-primary'">
                </app-button>
			</div>
		</ng-container>

		<ng-container *ngIf="indexTab == 2">
			<div class="container__offers__section__cards">
				<a *ngFor="let package of packages" [href]="package.link" target="_blank">
					<div class="container__offers__section__cards__card">
						<img [src]="package.image" alt="" />
						<div class="container__offers__section__cards__card__body">
							<section>
								<span class="block title ft-16">{{ package.destination }}</span>
								<span class="block">{{ package.nights }} noches - alojamiento {{ package.accommodationType }}</span>
								<span class="block">{{ package.packageIncludes }}</span>
							</section>
							<span class="regular"
								>Precio desde <span class="title price">${{ package.price }}</span></span
							>
						</div>
					</div>
				</a>
			</div>
			<div class="container__offers__section__button">
				<a [href]="'https://vacaciones.nmviajes.com/'" target="_blank">
					<app-button [text]="'Ver más ofertas'" [color]="'outline-primary'"></app-button>
				</a>
			</div>
		</ng-container>
	</div>
</div>
