@use '/src/scss/colors';
.container__offers {
	padding: 40px 0px;
	width: 100%;
	background: white;
	&__section {
		max-width: 1440px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		gap: 36px;
		&__title {
			h3 {
				font-family: Inter;
				font-size: 32px;
				font-weight: 700;
				line-height: 40px;
				letter-spacing: -0.02em;
				text-align: center;
			}
			span {
				font-family: Montserrat;
				font-size: 18px;
				font-weight: 400;
				line-height: 28px;
				letter-spacing: 0em;
				text-align: center;
				color: colors.$gris-800;
				display: block;
			}
		}
		&__tabs {
			width: 100%;
			display: flex;
			justify-content: center;
			gap: 24px;
			&__tab {
				cursor: pointer;
				width: 140px;
				height: 40px;
				padding: 10px 16px;
				border-radius: 6px;
				display: grid;
				justify-items: center;
				background: colors.$gris-100;
				span {
					font-family: Montserrat;
					font-size: 14px;
					font-weight: 400;
					line-height: 20px;
					letter-spacing: 0em;
					text-align: center;
				}
				&:hover {
					background: colors.$gris-300;
				}
				&.active {
					background: colors.$blue-500;
					span {
						color: white;
					}
					&:hover {
						background: colors.$blue-500;
					}
				}
			}
		}

		&__cards {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			justify-content: center;
			justify-items: stretch;
			margin: 0 auto;
			column-gap: 48px;
			row-gap: 24px;
			justify-content: center;
			padding: 0 40px;
		}
		&__button {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	@media (min-width: 1440px) {
		padding: 40px 96px;
	}
	@media (max-width: 1440px) {
		padding: 40px 60px;
	}
	@media (max-width: 1240px) {
		&__section__cards {
			column-gap: 32px;
		}
	}
	@media (max-width: 1199px) {
		padding: 32px 24px;
		&__section {
			gap: 24px;
		}
		&__section__cards {
			grid-template-columns: repeat(2, 1fr);
		}
		&__section__title h3 {
			font-size: 28px;
			line-height: 36px;
		}
		&__section__title span {
			font-size: 16px;
			line-height: 24px;
		}
	}

	@media (max-width: 665px) {
		&__section__cards {
			grid-template-columns: 1fr;
		}
	}

	@media (max-width: 575px) {
		padding: 24px;
		&__section__cards {
			row-gap: 16px;
			padding: 0px;
		}
		&__section__title h3 {
			font-size: 24px;
			line-height: 32px;
		}
		&__section__title span {
			font-size: 14px;
			line-height: 20px;
		}
		&__section__tabs {
			gap: 18px;
			&__tab {
				padding: 6px 8px;
				width: 85px;
				height: 28px;
				span {
					font-size: 10px;
					font-weight: 500;
					line-height: 16px;
				}
			}
		}
	}

	@media (max-width: 360px) {
		&__section__tabs {
			gap: 10px;
			justify-content: space-between;
		}
	}
}
