/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
html, body { height: 100%; background: #E5E5E5;}
body { margin: 0; font-family: 'Montserrat';}

label {  
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 26px;
}
.form-control {
    background: #FFFFFF;
    font-size: 16px;
    border: 0.5px solid #83898F;
    box-sizing: border-box;
    border-radius: 3px;    
}

button{
    background-color: #DF0C30;
    font-size: 16px;
    color: white;
    border:0px;
    padding: 9px 16px;
    border-radius: 3px;
}

.p {
    &r-0{
        padding-right: 0px;
    }
    &l-0{
        padding-left: 0px;
    }
}

section{
    margin: 20px 0px
}