/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
@mixin itemCard($fw, $fs, $lh, $ls, $color: #4b4b4b) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    letter-spacing: $ls;
    @if $color != #4b4b4b {
        color: $color;
    }
}
html,
body {
    height: 100%;
    background: #f6f7f9;
}
body {
    margin: 0;
    font-family: "Montserrat";
    color: #4b4b4b;
}
a {
    color: #b50a27;
    font-size: 12px;
    font-weight: 600;
    font-family: "Montserrat";
    text-decoration: none;
}
label {
    @include itemCard(600, 16px, 24px, 0.1px);
    padding-bottom: 26px;
}
.form-control {
    background: #ffffff;
    font-size: 16px;
    border: 0.5px solid #83898f;
    box-sizing: border-box;
    border-radius: 3px;
}

button {
    font-family: "Montserrat";
    background-color: #df0c30;
    font-size: 16px;
    color: white;
    border: 0px;
    padding: 9px 16px;
    border-radius: 3px;
    @media (max-width: 768px) {
        font-size: 12px;
    }
    &.plus {
        border: 1px solid #df0c30;
        color: #df0c30;
        background: transparent;
        &:hover {
            background: #df0c30;
            color: white;
        }
    }
    &.planes {
        background: white;
        color: #4b4b4b;
        font-family: Montserrat;
        font-weight: normal;
        font-size: 12px !important;
        line-height: 24px;
        letter-spacing: 0.5px;
        border: 1px solid #54d834;
        min-width: 130px;
        &:hover{
            background: #54d834;
            color: white;
        }
        &.best{
            border: 1px solid #df0c30 ;
            &:hover{
                background: white;
                color: #4b4b4b;
            }
        }
    }
}

.p {
    &r {
        &-0 {
            @media (max-width: 768px) {
                padding-right: 0px;
            }
        }
        &-1 {
            @media (max-width: 768px) {
                padding-right: 5px;
            }
        }
        &-2 {
            @media (max-width: 768px) {
                padding-right: 10px;
            }
        }
        &-3 {
            @media (max-width: 768px) {
                padding-right: 15px;
            }
        }
        &-md-0 {
            padding-right: 0px !important;
        }
        &-md-1 {
            padding-right: 5px !important;
        }
        &-md-2 {
            padding-right: 10px !important;
        }
        &-md-3 {
            padding-right: 15px !important;
        }
    }
    &l {
        &-0 {
            @media (max-width: 768px) {
                padding-left: 0px;
            }
        }
        &-1 {
            @media (max-width: 768px) {
                padding-left: 5px;
            }
        }
        &-2 {
            @media (max-width: 768px) {
                padding-left: 10px;
            }
        }
        &-3 {
            @media (max-width: 768px) {
                padding-left: 15px;
            }
        }
        &-md-0 {
            padding-left: 0px;
        }
        &-md-1 {
            padding-left: 5px;
        }
        &-md-2 {
            padding-left: 10px;
        }
        &-md-3 {
            padding-left: 15px;
        }
    }
    &b {
        &-0 {
            padding-left: 0px;
        }
        &-3 {
            padding-bottom: 15px;
        }
    }
}

section {
    margin: 20px 0px;
}

.card {
    background: white;
    border-radius: 10px;
    border: 1px solid #e4e5e7;
    overflow: auto;
    &-header {
        background: white;
    }
    &_pasajero {
        h4 {
            color: #4b4b4b;
            font-family: "Open Sans";
            font-size: 18px;
            font-weight: 700;
        }
        label {
            @include itemCard(300, 14px, 21px, 0.1px);
            display: block;
            width: 100%;
            padding-bottom: 0;
            font-family: "Montserrat";
            font-style: normal;
        }
        input.form-control {
            width: 100%;
            height: 47px;
            background: #ffffff;
            border: 0.5px solid #e4e5e7;
            box-sizing: border-box;
            border-radius: 5px;
            &::placeholder {
                @include itemCard(300, 14px, 21px, 0.25px);
                font-family: "Montserrat";
            }
        }
    }
    &.seguro {
        width: calc(20% - 16px);
        display: inline-block;
        margin: 0 10px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
        background: #54d834;
        border-radius: 22px;
        overflow: hidden;
        box-sizing: border-box;
        font-family: "Montserrat";
        @media (max-width: 768px) {
            width: 100%;
            margin: 0;
        }
        &.best {
            background: #f21037;
            .card {
                &-header {
                    background: #f21037;
                }
                &-body {
                    padding: 1rem;
                }
            }
        }
        &:first-child {
            margin-right: 10px;
            margin-left: 0px;
        }
        &:last-child {
            margin-left: 10px;
            margin-right: 0px;
        }
        .card {
            &-header {
                @include itemCard(bold, 14px, 21px, 0.1px, white);
                border: 0px;
                background: #54d834;
                text-transform: uppercase;
                text-align: center;
                padding: 4px;
            }
            &-body {
                background: white;
                color: #4b4b4b;
                border-radius: 20px 20px 0 0;
                padding: 6px 1rem;
                span {
                    @include itemCard(500, 10px, 15px, 0.1px, #83898f);
                    margin: 0;
                    &.now {
                        @include itemCard(500, 14px, 21px, 0.1px, #4b4b4b!important);
                    }
                }
                h2 {
                    margin-bottom: 10px;
                }
                p {
                    @include itemCard(500, 10px, 15px, 0.1px, #83898f);
                    strong {
                        @include itemCard(500, 14px, 21px, 0.1px, #83898f);
                    }
                    &.now {
                        color: #4b4b4b !important;
                        strong {
                            @include itemCard(600, 30px, 24px, 0.15px, #4B4B4B!important);
                        }
                    }
                    &.card-text {
                        @include itemCard(500, 11px, 18px, 0.1px, #4b4b4b);
                        text-align: center;
                    }
                }
                .covid {
                    @include itemCard(bold, 16px, 20px, 0.5px, #1eaea5);
                    display: block;
                    text-transform: capitalize;
                    &:first-child {
                        font-size: 14px;
                    }
                }
                a {
                    @include itemCard(500, 11px, 18px, 0.1px, #009aed);
                    &:hover {
                        text-decoration: underline;
                    }
                }
                button {
                    @include itemCard(600, 12px, 24px, 0.5px, #ffffff);
                    margin: 0 auto;
                }
            }
        }
    }
}

.ng5-slider {
    height: 15px !important;
    font-family: "Montserrat";
    & &-pointer.ng5-slider-pointer-min {
        cursor: pointer;
        width: 20px !important;
        height: 20px !important;
        top: -8px !important;
        background-color: #0db9f0;
        z-index: 3;
        border-radius: 16px;
        background-color: #ffff !important;
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15) !important;
    }
    & &-pointer.ng5-slider-pointer-max {
        cursor: pointer;
        width: 25px !important;
        height: 25px !important;
        top: -10px !important;
        background-color: #0db9f0;
        z-index: 3;
        border-radius: 16px;
        background-color: #ffff !important;
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15) !important;
    }
    &-pointer.ng5-slider-active:after {
        opacity: 0 !important;
        background-color: #ffff !important;
        width: 0px !important;
        position: absolute;
    }
    &-pointer:after {
        opacity: 0 !important;
        background-color: #ffff !important;
        width: 0px !important;
        position: absolute;
    }
    &-span.ng5-slider-ceil,
    &-span.ng5-slider-floor {
        display: none !important;
        opacity: 1 !important;
        top: 20px !important;
        font-style: normal;
        font-weight: 500 !important;
        font-size: 14px !important;
        line-height: 21px !important;
        color: #4b4b4b !important;
        font-family: "Montserrat";
    }
    &-bubble {
        bottom: -26px !important;
    }
    &-model-value {
        // display: none !important;
        //right: 0!important;
        left: 0 !important;
    }
    &-active {
        outline: none;
    }
    &-model-high {
        // display: none !important;
        font-family: "Montserrat";
        right: 0 !important;
        left: auto !important;
    }
    &-pointer-min:active,
    &-pointer-max:active {
        border: 1px solid #0db9f0;
    }

    // .ng5-slider-combined {
    //     display: none !important;
    // }

    // .ng5-slider-pointer:after {
    //     opacity: 0 !important;
    //     background-color: #ffff !important;
    //     width: 0px !important;
    //     position: absolute;
    // }
}

.mat-tab-body.mat-tab-body-active {
    position: initial !important;
}

// MODAL
.modal {
    &-content {
        border-radius: 10px;
    }
    &-header {
        display: block;
        padding: 2rem 2rem 0rem 2rem;
        border-bottom: 0;
        img {
            margin: 30px 0px 20px 0px;
        }
        .btn-close {
            color: #4b4b4b;
            position: absolute;
            right: 22px;
            top: 22px;
            font-size: 12px;
        }
        h1 {
            @include itemCard(bold, 32px, 48px, 0.1px);
            font-family: "Open Sans";
            text-align: left;
            display: block;
            width: 100%;
            margin-bottom: 0;
        }
        p {
            @include itemCard(14px, 300, 21px, 0.25px, #4b4b4b);
            font-family: "Montserrat";
            width: 100%;
        }
    }
    &-body {
        padding: 0rem 2rem 0rem 2rem;
        input.form-control {
            border: 1px solid #83898f;
            background: #ffffff;
            // border: 0.5px solid #F44336;
            box-sizing: border-box;
            border-radius: 5px;
            line-height: 42px;
            margin-bottom: 20px !important;
            font-family: "Montserrat";
            &::placeholder {
                @include itemCard(normal, 14px, 18px, 0.1px, #cfd1d3);
                font-family: "Montserrat";
                text-transform: capitalize;
            }
            // &:focus{
            //     box-shadow: none;
            // }
        }
        .mat-tab-label {
            @include itemCard(500, 14px, 21px, 0.1px);
            font-family: "Montserrat";
            color: #4b4b4b;
            opacity: 1;
        }
        .mat-ink-bar {
            background-color: #df0c30 !important;
        }
        .mat-tab-body-content {
            padding: 2rem 0;
        }
        .mat-checkbox-label {
            @include itemCard(normal, 14px, 21px, 0.1px, #009aed);
            font-family: "Montserrat";
        }
        a {
            @include itemCard(600, 14px, 21px, 0.1px, #009aed);
            font-family: "Montserrat";
        }
    }
}

#cdr {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 15px 10px 10px 10px;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    li {
        margin-bottom: 10px;
    }
    // ul {
    //     list-style: none;
    //     padding: 0px;
    // }
    svg {
        margin-right: 6px;
    }
    h4 {
        @include itemCard(500, 16px, 16px, 0.1px);
        width: auto;
        margin-bottom: 0;
        padding: 0;
        font-family: "Montserrat";
    }
    span {
        font-size: 10px;
        line-height: 10px;
        padding: 0;
        font-family: "Montserrat";
    }
    input {
        border: 0;
        text-align: center;
        width: 30px;
        max-width: 30px;
        min-width: 30px;
        display: block;
        font-family: "Montserrat";
        font-size: 12px;
    }
    button {
        background: #df0c30;
        font-family: "Montserrat";
        &.cancel {
            background: #ebebeb;
            color: #4b4b4b;
        }
        &.count {
            border: 1px solid #e5e6e7;
            background: white;
            color: #009aed;
            &:hover {
                background: #df0c30;
                color: white;
            }
        }
    }
}

#carouselSeguros {
    color: red;
    background: #f6f7f9;
    .carousel {
        &-caption {
            top: 180px;
            p {
                color: #4b4b4b;
                font-size: 12px;
                margin-top: 50px;
                margin: 0 auto;
                width: 230px;
            }
        }
        &-inner {
            height: 320px;
        }
        &-indicators {
            // background: green;
            button {
                border-radius: 50%;
                height: 10px;
                width: 10px;
                border: 1px solid #df0c30;
                &.active {
                    background-color: #df0c30;
                }
            }
        }
        &-control {
            &-prev {
                background: url(./assets/prev.png) no-repeat center center !important;
                &-icon {
                    background-image: none;
                }
            }
            &-next {
                background: url(./assets/next.png) no-repeat center center !important;
                &-icon {
                    background-image: none;
                }
            }
            &-prev,
            &-next {
                background: white;
                opacity: 1;
                border-radius: 50%;
                color: red;
                height: 53px;
                width: 53px;
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
                top: 35%;
            }
        }
    }
    h2 {
        font-size: 24px;
        color: #4b4b4b;
        span {
            color: #b50a27;
        }
    }
}
