// COLORS
$red: #b50a27;
$red_light: #df0c30;
$red_header: #f21037;
$green: #54d834;
$green_light: #1eaea5;
$blue_light: #009aed;
$gray: #4b4b4b;
$gray_light: #f6f7f9;
$gray_border: #83898f;
$gray_button: #ebebeb;
$gray_button_count: #e5e6e7;
$white: #fff;