::ng-deep ngb-modal-window {
	.inactivity-dialog.modal-dialog {
		min-width: auto !important;
	}
}

.modal-body img {
	width: 110px;
}

button.btn.w-75 {
	height: 50px;
}

h2 {
	font:
		500 20px/32px Roboto,
		Helvetica Neue,
		sans-serif;
	letter-spacing: normal;
	margin: 0 0 16px;
}

p {
	margin: 0 0 12px;
	font-size: 13.5px;
}
