<div class="modal-header pb-0">
	<button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close()"></button>
</div>
<div class="modal-body pt-0 text-center">
	<img src="./assets/svg/asesora.svg" alt="Asesora" class="marginLeft10" />
	<p class="fw-bold text-black my-4">
		Est&aacute;s a un paso del viaje de tus sue&ntilde;os...<br />
		¿Necesitas ayuda para completar tu compra?<br />
		Haz click y conversa con una asesora.
	</p>
	<div class="d-grid mt-3 mb-4">
		<button type="button" class="btn btn-danger w-75 mx-auto" (click)="onClick()">Hablar con asesora</button>
	</div>
</div>
