@use '/src/scss/colors';
.container__card {
	&__header {
		display: flex;
		justify-content: space-between;
		cursor: pointer;
		margin-bottom: 8px;
		align-items: center;
		&__title {
			display: flex;
			gap: 16px;
			align-items: center;
			
			h6 {
				font-family: Open Sans;
				font-size: 20px;
				font-weight: 600;
				line-height: 28px;
				letter-spacing: -0.02em;
				text-align: left;
				color: colors.$neutral-900;
				margin-bottom: 0;
			}
			@media (max-width: 1199px) {
				img{width: 28px;}
			}
		}
		.dropdown {
			width: 24px;
			height: 24px;
		}
	}
	&__body {
		display: flex;
		flex-direction: column;
		gap: 8px;
		span {
			font-family: Montserrat;
			color: colors.$neutral-900;
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			letter-spacing: 0em;
			text-align: left;
			&.bold {
				font-weight: 600;
			}
			&.bold-16 {
				font-size: 16px;
				line-height: 24px;
			}
		}
	}

	&__info {
		padding: 8px;
		margin-top: 16px;
		padding-bottom: 0px;
		&__plane {
			display: grid;
			align-items: center;
			column-gap: 23px;
			grid-template-columns: 68px auto auto;
			justify-content: flex-start;
			.flightNumber{
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 30px;
			}
			.text {
				display: flex;
				flex-direction: column;
				color: colors.$neutral-900;
				span {
					font-family: Montserrat;
					font-size: 14px;
					font-weight: 400;
					line-height: 20px;
					letter-spacing: 0em;
					text-align: right;
					&.bold {
						font-family: Montserrat;
						font-weight: 600;
					}
					&.left {
						text-align: left;
					}
					&.arrival{
						font-size: 12px;
						color:colors.$red-300;
					}
				}
				&.intermediate {
					color: colors.$neutral-500;
				}
			}
		}
		&__tag{
			margin-top: 24px;
			margin-bottom: 24px;
			display: grid;
			justify-content: space-between;
			grid-template-columns: auto 40px auto;
			align-items: center;
			background: colors.$gris-100;
			width: fit-content;
			min-height: 36px;
			padding: 8px 15px;
			border-radius: 12px;
			img {
				justify-self: center;
			}
			span{
				font-family: Montserrat;
				font-size: 14px;
				font-weight: 400;
				line-height: 20px;
				letter-spacing: 0em;
				color:colors.$neutral-900;
				max-width: 100%;
				white-space: nowrap; 
				overflow: hidden; 
				text-overflow: ellipsis; 
				&.bold{
					font-weight: 600;
				}
				&.hour{
					font-size: 12px;
				}
			}
		}
		&__luggage {
			margin-top: 24px;
			display: flex;
			gap: 8px;
			span {
				font-family: Montserrat;
				font-size: 12px;
				font-weight: 500;
				line-height: 20px;
				color: colors.$neutral-900;
			}
		}
		&__img {
			margin-left: 100px;
		}
	}
	@media (max-width: 950px) {
		&__header{
			&__title h6{
				font-size: 18px;
				line-height: 24px;
			}
		}
		&__body span{
			font-size: 12px;
			line-height: 20px;
			&.bold-16{
				font-size: 14px;
				line-height: 20px;
			}
		}

		&__info {
			&__tag span, &__luggage span, &__plane .text span{
				
				font-size: 12px;
			}
		}
	}
	@media (max-width: 768px) {
		&__info {
		  .flightaeroline {
			display: none;
		  }
		}
	  }
	
}
