<router-outlet></router-outlet>
<section class="container my-5 pt-lg-4 pt-xl-5 text-center">
	<h3 class="h2 fw-bold text-dark mb-4 mb-lg-5">S&eacute; el primero en enterarte de nuestras promociones exclusivas en:</h3>
	<div class="row gy-4 gy-lg-0 gx-lg-4 gx-xl-5 mx-lg-4 mx-xl-5">
		<div class="col-9 col-sm-8 col-md-6 col-lg-3 mx-auto">
			<div class="card w-100 h-100">
				<div class="card-body text-center d-lg-inline-flex flex-column">
					<img src="assets/svg/paquetes-turisticos.svg"
					     alt="Paquetes tur&iacute;sticos"
					     class="card-img-top mt-2 mx-auto">
					<h5 class="fs-6 mt-3 mt-md-auto"><strong>Paquetes tur&iacute;sticos</strong></h5>
				</div>
			</div>
		</div>
		<div class="col-9 col-sm-8 col-md-6 col-lg-3 mx-auto">
			<div class="card w-100 h-100">
				<div class="card-body text-center d-lg-inline-flex flex-column">
					<img src="assets/svg/vuelos.svg" alt="Vuelos" class="card-img-top mt-2 mx-auto">
					<h5 class="fs-6 mt-3"><strong>Vuelos</strong></h5>
				</div>
			</div>
		</div>
		<div class="col-9 col-sm-8 col-md-6 col-lg-3 mx-auto">
			<div class="card w-100 h-100">
				<div class="card-body text-center d-lg-inline-flex flex-column">
					<img src="assets/svg/hoteles.svg" alt="Hoteles" class="card-img-top mt-2 mx-auto">
					<h5 class="fs-6 mt-3"><strong>Hoteles</strong></h5>
				</div>
			</div>
		</div>
		<div class="col-9 col-sm-8 col-md-6 col-lg-3 mx-auto">
			<div class="card w-100 h-100">
				<div class="card-body text-center d-lg-inline-flex flex-column">
					<img src="assets/svg/actividades.svg" alt="Actividades" class="card-img-top mt-2 mx-auto">
					<h5 class="fs-6 mt-3"><strong>Actividades y m&aacute;s</strong></h5>
				</div>
			</div>
		</div>
	</div>
</section>
