<!-- Box result origen -->
<div class="resultVuelo" [class.active]="boxOrigen">
    <div class="rowVuelo">
        <div class="primaryTitle">
            <img src="./assets/svg/avion.svg" alt=""> BUE Buenos Aires (todos los aeropuertos), Argentina </div>
        <div class="secondGroup">
            <div class="secondTitle">
                <img src="./assets/svg/a-right.svg" alt=""> AEP Buenos Aires - Aeroparque Jorge Newbery. Argentina</div>
        </div>
    </div>
    <div class="rowVuelo">
        <div class="primaryTitle">
            <img src="./assets/svg/avion.svg" alt=""> NYC Nueva York (todos los aeropuertos), Estados Unidos </div>
        <div class="secondGroup">
            <div class="secondTitle">
                <img src="./assets/svg/a-right.svg" alt=""> JFK JFK - Nueva York - Jhon F. Kennedy. NY</div>
            <div class="secondTitle">
                <img src="./assets/svg/a-right.svg" alt=""> EWR EWR - Nueva York - Newark Liberty. NY</div>
            <div class="secondTitle">
                <img src="./assets/svg/a-right.svg" alt=""> LGA LGA - Nueva York - La Guardia. NY</div>
        </div>
    </div>
    <div class="rowVuelo">
        <div class="primaryTitle">
            <img src="./assets/svg/avion.svg" alt=""> ENT Enewetak Island. Islas Marshall </div>
        <div class="secondGroup">
            <div class="secondTitle">
                <img src="./assets/svg/a-right.svg" alt=""> ENT Enewetak Island. Islas Marshall</div>
        </div>
    </div>
</div>
<!-- End Box result origen -->