@use '/src/scss/colors';

.paragraph{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color:colors.$gris-700;
}
.flex-24 {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.dropdown__filter {
    padding-bottom: 24px;
	border-bottom: 1px solid colors.$gris-300;
    display: flex;
	flex-direction: column;
    gap: 16px;
    h4 {
		font-family: Open Sans;
		font-size: 20px;
		font-weight: 700;
		line-height: 28px;
		letter-spacing: -0.02em;
		color: colors.$neutral-900;
	} 
    &__close{
        display: flex;
        width: 100%;
        justify-content: end;
        position: absolute;
        top:17px;
        right: 17px;
        img{
            width: 12px;
        }
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        img{
            width: 24px;
            height: 24px;
        }
    }
    &__body {
        @extend .flex-24;
        gap: 5px;
        &__reset{
            @extend .paragraph;
            font-weight: 600;
            cursor: pointer;
            width: fit-content;
            &:hover{
                color:colors.$red-500;
            }
        }
        &__actions{
            display: flex;
            gap:10px;
            margin-top: 16px;
            margin-bottom: 16px;
        }

        &__name{
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color:colors.$neutral-900;
        }
        &__slider{
            padding: 0px 8px;
        }

        &__values{
            display: flex;
            justify-content: space-between;
            span{
                @extend .paragraph;
                font-weight: 500;
            }
        }
    }
    @media (max-width: 1199px){
		border-bottom: none;
        padding: 24px 20px;
        position: relative;
	}
}

section{
    margin: 0 0;
    min-height: 76px;
    &.section-scale{
        margin-top: 16px;
    }
}

.dropdown__footer{
    padding: 16px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:17px;
    box-shadow:  0px -2px 9px 0px rgba(16, 24, 40, 0.05);
}

.dropdown__loader{
    padding-bottom: 24px;
	border-bottom: 1px solid colors.$gris-300;
    display: flex;
	flex-direction: column;
    gap: 18px;
    .skeleton{
        animation: skeleton-loading 1s linear infinite alternate;
		border-radius: 15px;
        width: 100%;
    }
    &__skeleton_1{
		max-width: 60px;
        height: 16px;
    }
    &__skeleton_2{
		max-width: 80px;
        height: 16px;
    }
    &__skeleton_3{
		max-width: 300px;
        height: 6px;
    }
}