<div class="dropdown__filter" *ngIf="valueDurationDep > 0">
	<div class="dropdown__filter__header" (click)="dropdownActive = !dropdownActive">
		<h4>Duración</h4>
		<img [src]="dropdownActive ? './assets/svg/RightUp.svg' : './assets/svg/Right.svg'" />
	</div>
	<div class="dropdown__filter__body" *ngIf="dropdownActive">
		<span class="dropdown__filter__body__reset" (click)="resetFilter()">Restablecer</span>
			<div class="dropdown__filter__body__actions" *ngIf="flightType==0">
				<app-button
					[text]="'Salida'"
					[color]="isFilterDeparture ? 'primary' : 'outline-primary'"
					(onClick)="changeFilterDuration()"
				></app-button>
				<app-button
					[text]="'Regreso'"
					[color]="!isFilterDeparture ? 'primary' : 'outline-primary'"
					(onClick)="changeFilterDuration()"
				></app-button>
			</div>

				<section *ngIf="isFilterDeparture && !hidden">
					<span class="dropdown__filter__body__name">Salida a {{codesFlight[0]}}</span>
					<div class="dropdown__filter__body__slider" 
					  >
						<ng5-slider
							[(value)]="valueDurationDep"
							[(highValue)]="highValueDurationDep"
							[options]="optionsDurationDep"
							(userChangeEnd)="filterDuration($event,true)"
						></ng5-slider>
					</div>
					<div class="dropdown__filter__body__values">
						<span>{{valueDurationDep | minutesFormat}}</span>
						<span>{{highValueDurationDep | minutesFormat}}</span>
					</div>
				</section>
				<section *ngIf="!isFilterDeparture && flightType==0 && !hidden">
					<span class="dropdown__filter__body__name">Regreso a {{codesFlight[1]}}</span>
					<div class="dropdown__filter__body__slider">
						<ng5-slider
							[(value)]="valueDurationRet"
							[(highValue)]="highValueDurationRet"
							[options]="optionsDurationRet"
							(userChangeEnd)="filterDuration($event,false)"
						></ng5-slider>
					</div>
					<div class="dropdown__filter__body__values">
						<span>{{valueDurationRet | minutesFormat}}</span>
						<span>{{highValueDurationRet | minutesFormat}}</span>
					</div>
				</section>
				<section class="section-scale"  *ngIf="isFilterDeparture  && !hidden">
					<span class="dropdown__filter__body__name">Escala</span>
					<div class="dropdown__filter__body__slider">
						<ng5-slider
							[(value)]="valueScaleDep"
							[(highValue)]="highValueScaleDep"
							[options]="optionsScaleDep"
							(userChangeEnd)="filterScale($event,true)"
						></ng5-slider>
					</div>
					<div class="dropdown__filter__body__values">
						<span>{{valueScaleDep | minutesFormat}}</span>
						<span>{{highValueScaleDep | minutesFormat}}</span>
					</div>
				</section>
				<section class="section-scale"  *ngIf="!isFilterDeparture && flightType==0  && !hidden">
					<span class="dropdown__filter__body__name">Escala</span>
					<div class="dropdown__filter__body__slider">
						<ng5-slider
							[(value)]="valueScaleRet"
							[(highValue)]="highValueScaleRet"
							[options]="optionsScaleRet"
							(userChangeEnd)="filterScale($event, false)"
						></ng5-slider>
					</div>
					<div class="dropdown__filter__body__values">
						<span>{{valueScaleRet | minutesFormat}}</span>
						<span>{{highValueScaleRet | minutesFormat}}</span>
					</div>
				</section>
	

	</div>
</div>

<div class="dropdown__loader" *ngIf="valueDurationDep == 0">
	<div class="skeleton dropdown__loader__skeleton_1"></div>
	<div class="skeleton dropdown__loader__skeleton_2"></div>
	<div class="skeleton dropdown__loader__skeleton_3"></div>
</div>