@use '/src/scss/colors';

.container__footer{
    background: white;
    height: 80px;
    padding: 20px 50px 20px 50px;
    display: grid;
    align-items: center;
    width: 100%;
    bottom: 0;
    section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 25px;
    }
    &__copy{
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.15px;
        text-align: left;
        span{
            color:colors.$primary-color;
        }
    }

    @media (max-width: 1440px) {
        section{
            padding: 0 18px;
        }
    }
}
@media (max-width: 768px) {
    .container__footer{
        padding: 20px 50px 20px 20px;  
    }
  }